http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v1/open-close/BYND/2019-12-04?apiKey=AKZLBPUK91U5YCJTVDLP
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"OK","from":"2019-12-04","symbol":"BYND","open":76.75,"high":77.05,"low":73.51,"close":73.89,"volume":5168416,"afterHours":73.85,"preMarket":76.92}'
  recorded_at: 2020-12-29 16:31:23 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
