http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v1/meta/exchanges?apiKey=POLYGON-KEY
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":0,"type":"TRF","market":"equities","mic":"TFF","name":"Multiple","tape":"-"},{"id":1,"type":"exchange","market":"equities","mic":"XASE","name":"NYSE
        American (AMEX)","tape":"A","code":"AMX"},{"id":2,"type":"exchange","market":"equities","mic":"XNAS","name":"NASDAQ
        OMX BX","tape":"B","code":"NSD"},{"id":3,"type":"TRF","market":"equities","name":"National
        Stock Exchange","mic":"XCIS","tape":"C"},{"id":4,"type":"TRF","market":"equities","mic":"FINR","name":"FINRA","tape":"D"},{"id":5,"type":"TRF","market":"equities","mic":"CQS","name":"Consolidated
        Quote System","tape":"E"},{"id":6,"type":"TRF","market":"equities","mic":"XISX","name":"International
      [...]
