http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/aggs/grouped/locale/US/market/STOCKS/2020-04-16?apiKey=POLYGON-KEY
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"queryCount":8523,"resultsCount":8523,"adjusted":true,"results":[{"T":"SNPS","v":1.275499e+06,"vw":150.6847,"o":147.09,"c":151.83,"h":152.05,"l":147.03,"t":1587067200000,"n":18292},{"T":"SGDJ","v":35086,"vw":28.9064,"o":28.83,"c":29.05,"h":29.4249,"l":28.395,"t":1587067200000,"n":180},{"T":"SEEL","v":394733,"vw":0.4643,"o":0.484,"c":0.465,"h":0.4899,"l":0.4522,"t":1587067200000,"n":771},{"T":"SPYD","v":1.037308e+06,"vw":25.7041,"o":26.16,"c":25.62,"h":26.17,"l":25.4666,"t":1587067200000,"n":8834},{"T":"SJNK","v":5.909065e+06,"vw":24.4468,"o":24.51,"c":24.55,"h":24.57,"l":24.3542,"t":158706720[...]
