http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v1/last_quote/stocks/BYND?apiKey=AKZLBPUK91U5YCJTVDLP
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"last":{"askexchange":12,"askprice":127.09,"asksize":4,"bidexchange":20,"bidprice":126.91,"bidsize":1,"timestamp":1609259478949},"request_id":"f6e0d8173f0efee7400793311d6fd2aa","status":"success","symbol":"BYND"}'
  recorded_at: 2020-12-29 16:31:22 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
