http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v1/last/stocks/BYND?apiKey=AKZLBPUK91U5YCJTVDLP
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"last":{"cond1":37,"exchange":4,"price":127,"size":1,"timestamp":1609259480585},"request_id":"206cbb84b3f5db215dc40dbb3f599e38","status":"success","symbol":"BYND"}'
  recorded_at: 2020-12-29 16:31:22 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
