http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/reference/locales?apiKey=AKZLBPUK91U5YCJTVDLP
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"OK","results":[{"locale":"G","name":"Global"},{"locale":"US","name":"United
        States of America"},{"locale":"GB","name":"Great Britain"},{"locale":"CA","name":"Canada"},{"locale":"NL","name":"Netherlands"},{"locale":"GR","name":"Greece"},{"locale":"SP","name":"Spain"},{"locale":"DE","name":"Germany"},{"locale":"BE","name":"Belgium"},{"locale":"DK","name":"Denmark"},{"locale":"FI","name":"Finland"},{"locale":"IE","name":"Ireland"},{"locale":"PT","name":"Portugal"},{"locale":"IN","name":"India"},{"locale":"MX","name":"Mexico"},{"locale":"FR","name":"France"},{"locale":"CN","name":"China"},{"locale":"CH","name":"Switzerland"},{"locale":"SE","name":"Sweden"}]}'
  recorded_at: 2020-12-29 16:08:57 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
