http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/reference/markets?apiKey=AKZLBPUK91U5YCJTVDLP
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"OK","results":[{"market":"STOCKS","desc":"Stocks / Equities
        / ETFs"},{"market":"INDICES","desc":"Indices"},{"market":"MF","desc":"Mutual
        Funds"},{"market":"MMF","desc":"Money Market Funds"},{"market":"CRYPTO","desc":"Crypto"},{"market":"FX","desc":"Forex
        / Currencies"},{"market":"BONDS","desc":"Bonds"}]}'
  recorded_at: 2020-12-29 16:08:57 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
