http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v1/marketstatus/upcoming?apiKey=POLYGON-KEY
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"exchange":"NASDAQ","name":"Independence Day","date":"2021-07-05","status":"closed"},{"exchange":"NYSE","name":"Independence
        Day","date":"2021-07-05","status":"closed"},{"exchange":"NYSE","name":"Labor
        Day","date":"2021-09-06","status":"closed"},{"exchange":"NASDAQ","name":"Labor
        Day","date":"2021-09-06","status":"closed"},{"exchange":"NASDAQ","name":"Thanksgiving","date":"2021-11-25","status":"closed"},{"exchange":"NYSE","name":"Thanksgiving","date":"2021-11-25","status":"closed"},{"exchange":"NYSE","name":"Thanksgiving","date":"2021-11-26","status":"early-close","open":"2021-11-26T14:30:00.000Z","close":"2021-11-26T18:00:00.000Z"},{"exchange":"NASDAQ","name":"Thanksgiving","date":"2021-11-26","status":"early-close","open":"2021-11-26T14:30:00.000Z","close":"2021-11-26T18:00:00.000Z"},{"exchange":"NYSE","name":"Christmas","date":"2021-12-24","status":"closed"},{"exchange":"NASDAQ","name":"Christmas","date":"2021-12-24","status":"closed"}]'
  recorded_at: 2021-06-26 14:58:41 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
