http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v1/marketstatus/upcoming?apiKey=AKZLBPUK91U5YCJTVDLP
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"exchange":"NYSE","name":"New Years Day","date":"2021-01-01","status":"closed"},{"exchange":"NASDAQ","name":"New
        Years Day","date":"2021-01-01","status":"closed"},{"exchange":"OTC","name":"New
        Year''s Day","date":"2021-01-01","status":"closed"},{"exchange":"NYSE","name":"Martin
        Luther King, Jr. Day","date":"2021-01-18","status":"closed"},{"exchange":"NASDAQ","name":"Martin
        Luther King, Jr. Day","date":"2021-01-18","status":"closed"},{"exchange":"NASDAQ","name":"Washington''s
        Birthday","date":"2021-[...]
