http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v1/marketstatus/now?apiKey=POLYGON-KEY
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"market":"closed","serverTime":"2021-06-26T10:58:41-04:00","exchanges":{"nyse":"closed","nasdaq":"closed","otc":"closed"},"currencies":{"fx":"closed","crypto":"open"}}'
  recorded_at: 2021-06-26 14:58:40 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
