http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v1/marketstatus/now?apiKey=AKZLBPUK91U5YCJTVDLP
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"market":"open","serverTime":"2020-12-29T11:08:59-05:00","exchanges":{"nyse":"open","nasdaq":"open","otc":"open"},"currencies":{"fx":"open","crypto":"open"}}'
  recorded_at: 2020-12-29 16:08:59 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
