http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/calendar?start=2020-12-29&end=2020-12-29
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-API-KEY-ID
      APCA-API-SECRET-KEY: APCA-PAPER-API-SECRET-KEY
      APCA-LIVE-API-KEY-ID: APCA-LIVE-API-KEY-ID
      APCA-LIVE-API-SECRET-KEY: APCA-LIVE-API-SECRET-KEY
      APCA-PAPER-API-KEY-ID: APCA-PAPER-API-KEY-ID
      APCA-PAPER-API-SECRET-KEY: APCA-PAPER-API-SECRET-KEY
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
      APCA-LIVE-API-KEY-ID: APCA-LIVE-API-KEY-ID
      APCA-LIVE-API-SECRET-KEY: APCA-LIVE-API-SECRET-KEY
      APCA-PAPER-API-KEY-ID: APCA-PAPER-API-KEY-ID
      APCA-PAPER-API-SECRET-KEY: APCA-PAPER-API-SECRET-KEY
    body:
      encoding: UTF-8
      file: no
      string: '[{"date":"2020-12-29","open":"09:30","close":"16:00","session_open":"0700","session_close":"1900"}]'
  recorded_at: 2020-12-29 18:20:00 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
