http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/aggs/ticker/BYND/prev?apiKey=APCA-LIVE-API-KEY-ID
    body:
      encoding: ''
      string: ''
    headers:
      APCA-LIVE-API-KEY-ID: APCA-LIVE-API-KEY-ID
      APCA-LIVE-API-SECRET-KEY: APCA-LIVE-API-SECRET-KEY
      APCA-PAPER-API-KEY-ID: APCA-PAPER-API-KEY-ID
      APCA-PAPER-API-SECRET-KEY: APCA-PAPER-API-SECRET-KEY
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      APCA-LIVE-API-KEY-ID: APCA-LIVE-API-KEY-ID
      APCA-LIVE-API-SECRET-KEY: APCA-LIVE-API-SECRET-KEY
      APCA-PAPER-API-KEY-ID: APCA-PAPER-API-KEY-ID
      APCA-PAPER-API-SECRET-KEY: APCA-PAPER-API-SECRET-KEY
    body:
      encoding: UTF-8
      file: no
      string: '{"ticker":"BYND","queryCount":1,"resultsCount":1,"adjusted":true,"results":[{"T":"BYND","v":6.120295e+06,"vw":129.031,"o":136.6427,"c":126.44,"h":137.35,"l":126.33,"t":1609189200000}],"status":"OK","request_id":"1b5dc0f4f5f184e60c3310a362a446a7","count":1}'
  recorded_at: 2020-12-29 20:18:21 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
