http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/snapshot/locale/us/markets/stocks/gainers?apiKey=APCA-LIVE-API-KEY-ID
    body:
      encoding: ''
      string: ''
    headers:
      APCA-LIVE-API-KEY-ID: APCA-LIVE-API-KEY-ID
      APCA-LIVE-API-SECRET-KEY: APCA-LIVE-API-SECRET-KEY
      APCA-PAPER-API-KEY-ID: APCA-PAPER-API-KEY-ID
      APCA-PAPER-API-SECRET-KEY: APCA-PAPER-API-SECRET-KEY
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      APCA-LIVE-API-KEY-ID: APCA-LIVE-API-KEY-ID
      APCA-LIVE-API-SECRET-KEY: APCA-LIVE-API-SECRET-KEY
      APCA-PAPER-API-KEY-ID: APCA-PAPER-API-KEY-ID
      APCA-PAPER-API-SECRET-KEY: APCA-PAPER-API-SECRET-KEY
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"OK","tickers":[{"day":{"c":0.9,"h":0.99,"l":0.41,"o":0.41,"v":387867,"vw":0.677},"lastQuote":{"P":0.94,"S":45,"p":0.87,"s":3,"t":1609271698528218487},"lastTrade":{"c":null,"i":"170","p":0.9,"s":300,"t":1609271468467780164,"x":12},"min":{"av":387867,"c":0.9,"h":0.9,"l":0.9,"o":0.9,"v":300,"vw":0.9},"prevDay":{"c":0.45,"h":0.6,"l":0.3101,"o":0.4,"v":409461,"vw":0.4157},"ticker":"BNGOW","todaysChange":0.45,"todaysChangePerc":100,"updated":1609271468467780164},{"day":{"c":1.51,"h":1.74,"l":1.3701,"o":1.74,"v":1227122,"vw":1.5289},"lastQuote":{"P":1.48,"S":4,"p":1.47,"s":4,"t":1609271714528804957},"lastTrade":{"c":null,"i":"461","p":1.4701,"s":100,"t":1609271723725261509,"x":4},"min":{"av":1227122,"c":1.51,"h":1.51,"l":1.51,"o":1.51,"v":207,"vw":1.5097},"prevDay":{"c":0.79,"h":0.8998,"l":0.79,"o":0.85,"v":363538,"vw":0.9317},"ticker":"BHSEW","todaysChange":0.68,"todaysChangePerc":86.089,"updated":1609271723725261509},{"day":{"c":1.[...]
