http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/snapshot/locale/us/markets/stocks/tickers/BYND?apiKey=APCA-LIVE-API-KEY-ID
    body:
      encoding: ''
      string: ''
    headers:
      APCA-LIVE-API-KEY-ID: APCA-LIVE-API-KEY-ID
      APCA-LIVE-API-SECRET-KEY: APCA-LIVE-API-SECRET-KEY
      APCA-PAPER-API-KEY-ID: APCA-PAPER-API-KEY-ID
      APCA-PAPER-API-SECRET-KEY: APCA-PAPER-API-SECRET-KEY
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      APCA-LIVE-API-KEY-ID: APCA-LIVE-API-KEY-ID
      APCA-LIVE-API-SECRET-KEY: APCA-LIVE-API-SECRET-KEY
      APCA-PAPER-API-KEY-ID: APCA-PAPER-API-KEY-ID
      APCA-PAPER-API-SECRET-KEY: APCA-PAPER-API-SECRET-KEY
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"OK","ticker":{"day":{"c":126.22,"h":129.92,"l":123.8801,"o":127.77,"v":3027568,"vw":126.4775},"lastQuote":{"P":126.2,"S":2,"p":126.06,"s":1,"t":1609271755834772770},"lastTrade":{"c":[14,41],"i":"5654","p":126.12,"s":100,"t":1609271755834771336,"x":11},"min":{"av":3027192,"c":126.22,"h":126.2499,"l":126.03,"o":126.03,"v":9956,"vw":126.1642},"prevDay":{"c":126.44,"h":137.35,"l":126.33,"o":136.6427,"v":6120295,"vw":129.031},"ticker":"BYND","todaysChange":-0.32,"todaysChangePerc":-0.253,"updated":1609271755834771336}}'
  recorded_at: 2020-12-29 19:55:56 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
