http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/reference/splits/AMD?apiKey=AKZLBPUK91U5YCJTVDLP
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"OK","count":1,"results":[{"ticker":"AMD","exDate":"2000-08-22","paymentDate":"2000-08-22","ratio":0.5}]}'
  recorded_at: 2020-12-29 16:08:58 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
