http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/reference/dividends/MSFT?apiKey=AKZLBPUK91U5YCJTVDLP
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"OK","count":67,"results":[{"ticker":"MSFT","exDate":"2020-08-19","paymentDate":"2020-09-10","recordDate":"2020-08-20","amount":0.51},{"ticker":"MSFT","exDate":"2020-05-20","paymentDate":"2020-06-11","recordDate":"2020-05-21","amount":0.51},{"ticker":"MSFT","exDate":"2020-02-19","paymentDate":"2020-03-12","recordDate":"2020-02-20","amount":0.51},{"ticker":"MSFT","exDate":"2019-11-20","paymentDate":"2019-12-12","recordDate":"2019-11-21","amount":0.51},{"ticker":"MSFT","exDate":"2019-08-14","paymentDate":"2019-09-12","recordDate":"2019-08-15","amount":0.46},{"ticker":"MSFT","exDate":"2019-05-15","paymentDate":"2019-06-13","recordDate":"2019-05-16","amount":0.46},{"ticker":"MSFT","exDate":"2019-02-20","paymentDate":"2019-03-14","recordDate":"2019-02-21","amount":0.46},{"ticker":"MSFT","exDate":"2018-11-14","paymentDate":"2018-12-13","recordDate":"2018-11-15","declaredDate":"2018-09-18","amount":0.46},{"ticker":"MSFT","exDate":"2018-08-15","paymentDate":"2018-09-13","recordDate":"2018-08-16","declaredDate":"2018-06-13","amount":0.42},{"ticker":"MSFT","exDate":"2018-05-16","paymentDate":"2018-06-14","recordDate":"2018-05-17","declaredDate":"2018-03-12","amount":0.42},{"ticker":"MSFT","exDate":"2018-02-14","paymentDate":"2018-03-08","recordDate":"2018-02-15","declaredDate":"2017-11-29","amount":0.42},{"ticker":"MSFT","exDate":"2017-11-15","paymentDate":"2017-12-14","[...]
