http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/reference/splits/AMD?apiKey=POLYGON-KEY
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"OK","count":1,"results":[{"ticker":"AMD","exDate":"2000-08-22","paymentDate":"2000-08-22","ratio":0.5}]}'
  recorded_at: 2021-06-26 14:58:39 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
