http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v1/meta/symbols/BYND/news?perpage=50&page=1&apiKey=AKZLBPUK91U5YCJTVDLP
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: "[{\"symbols\":[\"BYND\"],\"timestamp\":\"2020-03-29T02:55:00.000Z\",\"title\":\"SHAREHOLDER
        ALERT: Pomerantz Law Firm Reminds Shareholders with Losses on their Investmetn
        in Beyond Meat, Inc. of Class Action Lawsuit and Upcoming Deadline - BYND\",\"url\":\"https://finance.yahoo.com/news/shareholder-alert-pomerantz-law-firm-025500992.html\",\"source\":\"finance
        yahoo\",\"summary\":\"NEW YORK, NY / ACCESSWIRE / March 28, 2020 / Pomerantz
        LLP announces that a class action lawsuit has been filed against Beyond Meat,
        Inc. (\\\"Beyond Meat\\\" or the \\\"Company\\\") (BYND) and certain of its
        officers.  The class action, filed in United States District Court for the
        Central District\",\"image\":\"https://s.yimg.com/cv/apiv2/social/images/yahoo_default_logo.png\",\"keywords\":[\"bynd\"]},{\"symbols\":[\"BYND\"],\"timestamp\":\"2020-03-27T19:35:00.000Z\",\"title\":\"IMPORTANT
        INVESTOR NOTICE: The Schall Law Firm Announces the Filing of a Class Action
        Lawsuit Against Beyond Meat, Inc. and Encourages Investors with Losses in
        Excess of $100,000 to Contact the Firm\",\"url\":\"https://finance.yahoo.com/news/important-investor-notice-schall-law-193500292.html\",\"source\":\"finance
        yahoo\",\"summary\":\"LOS ANGELES, CA / ACCESSWIRE / Mar[...]
