{"http_interactions":[{"request":{"method":"get","uri":"https://api.polygon.io/v2/reference/news?ticker=AAPL&limit=10&order=descending&sort=published_utc&apiKey=POLYGON-KEY","body":{"encoding":"","string":""},"headers":{}},"response":{"status":{"status_code":200,"category":"Success","reason":"OK","message":"Success: (200) OK"},"headers":{"content-type":"application/json"},"body":{"encoding":"UTF-8","file":false,"string":"{\"results\":[{\"id\":\"g-Ougow3tpquVwjD6kmfnwIlxZQhDyVSLz1_QNp8HRM\",\"publisher\":{\"name\":\"The Motley Fool\",\"homepage_url\":\"https://www.fool.com/\",\"logo_url\":\"https://storage.googleapis.com/polygon-io-public/assets/news/logos/themotleyfool.svg\",\"favicon_url\":\"https://storage.googleapis.com/polygon-io-public/assets/news/favicons/themotleyfool.ico\"},\"title\":\"Buying This Cheap Growth Stock Right Now Is a No-Brainer\",\"author\":\"newsfeedback@fool.com (Harsh Chauhan)\",\"published_utc\":\"2021-06-26T13:15:00Z\",\"article_url\":\"https://www.fool.com/investing/2021/06/26/buying-cheap-growth-stock-now-no-brainer-jabil/\",\"tickers\":[\"JBL\",\"AAPL\"],\"amp_url\":\"https://www.fool.com/amp/investing/2021/06/26/buying-cheap-growth-stock-now-no-brainer-jabil/\",\"image_url\":\"https://g.foolcdn.com/editorial/images/631787/woman-buying-stock-mobile-phone.jpg\",\"description\":\"With end-market growth picking up, investors shouldn't miss the opportunity to buy this tech stock before it soars higher.\",\"keywords\":[\"investing\"]},{\"id\":\"tHNg2u5QTGT4BMFsXD5iIgv1TDvIEBuZuxEXOhr05y8\",\"publisher\":{\"name\":\"The Motley Fool\",\"homepage_url\":\"https://www.fool.com/\",\"logo_url\":\"https://storage.googleapis.com/polygon-io-public/assets/news/logos/themotleyfool.svg\",\"favicon_url\":\"https://storage.googleapis.com/polygon-io-public/assets/news/favicons/themotleyfool.ico\"},\"title\":\"Why Antitrust Actions Against Alphabet May Be Good For Investors\",\"author\":\"newsfeedback@fool.com (Will Healy)\",[...]
