{"http_interactions":[{"request":{"method":"get","uri":"https://api.polygon.io/v1/meta/symbols/AAPL/news?perpage=50&page=1&apiKey=AKZLBPUK91U5YCJTVDLP","body":{"encoding":"","string":""},"headers":{}},"response":{"status":{"status_code":200,"category":"Success","reason":"OK","message":"Success: (200) OK"},"headers":{"content-type":"application/json"},"body":{"encoding":"UTF-8","file":false,"string":"[{\"symbols\":[\"AAPL\"],\"timestamp\":\"2020-03-26T23:52:51.000Z\",\"title\":\"Apple (AAPL): Despite Likely iPhone 12 Delays, the Risk-Reward Remains Compelling, Says Analyst\",\"url\":\"https://finance.yahoo.com/news/apple-aapl-despite-likely-iphone-235251688.html\",\"source\":\"finance yahoo\",\"summary\":\"When considering the fortunes of the FAANG family since the viral outbreak, it appears Apple (AAPL) has most to lose. Amazon and Netflix can count their internet driven models as particularly well set up for a hibernation period. And while Google and Facebook stand to lose significant advertising revenue\",\"image\":\"https://s.yimg.com/uu/api/res/1.2/Su.8VniRbi_GL2B3BruK5w--~B/aD0zMzc7dz0xMDI0O3NtPTE7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en-US/smarteranalyst_347/6909df17d6ef3af25ac79e2e6c0078d5\",\"keywords\":[\"aapl\"]},{\"symbols\":[\"AAPL\"],\"timestamp\":\"2020-03-26T20:12:14.000Z\",\"title\":\"Fed to Launch Multitrillion Dollar Helicopter Credit Drop\",\"url\":\"https://finance.yahoo.com/news/fed-set-launch-multitrillion-dollar-155501288.html\",\"source\":\"finance yahoo\",\"summary\":\"(Bloomberg) -- Call it Helicopter Credit.The Federal Reserve is poised to spray trillions of dollars into the U.S. economy once a massive aid package to fight the coronavirus and its aftershocks is signed into la[...]
