http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/reference/types?apiKey=AKZLBPUK91U5YCJTVDLP
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"OK","results":{"types":{"CS":"Common Stock","ADR":"American
        Depository Receipt","NVDR":"Non-Voting Depository Receipt","GDR":"Global Depositary
        Receipt","SDR":"Special Drawing Right","CEF":"Closed-End Fund","ETP":"Exchange
        Traded Product/Fund","REIT":"Real Estate Investment Trust","MLP":"Master Limited
        Partnership","WRT":"Equity WRT","PUB":"Public","NYRS":"New York Registry Shares","UNIT":"Unit","RIGHT":"Right","TRAK":"Tracking
        stock or targeted stock","LTDP":"Limited Partnership","RYLT":"Royalty Trust","MF":"Mutual
        Fund","PFD":"Preferred Stock","FDR":"Foreign Ordinary Shares","OST":"Other
        Security Type","FUND":"Fund","SP":"Structured Product","SI":"Secondary Issue"},"indexTypes":{"INDEX":"Index","ETF":"Exchange
        Traded Fund (ETF)","ETN":"Exchange Traded Note (ETN)","ETMF":"Exchange Traded
        Managed Fund (ETMF)","SETTLEMENT":"Settlement","SPOT":"Spot","SUBPROD":"Subordinated
        product","WC":"World Currency","ALPHAINDEX":"Alpha Index"}}}'
  recorded_at: 2020-12-29 16:08:55 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
