http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/assets/TSLA
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"8ccae427-5dd0-45b3-b5fe-7ba5e422c766","class":"us_equity","exchange":"NASDAQ","symbol":"TSLA","name":"Tesla,
        Inc. Common Stock","status":"active","tradable":true,"marginable":true,"shortable":true,"easy_to_borrow":true,"fractionable":true}'
  recorded_at: 2021-05-30 10:55:19 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
