http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/account/activities?direction=desc&page_size=50
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":"20210528145450674::e645fb7a-6559-4644-8c60-fb71adceead2","activity_type":"FILL","transaction_time":"2021-05-28T18:54:50.674245Z","type":"fill","price":"146.41","qty":"1","side":"sell","symbol":"BYND","leaves_qty":"0","order_id":"2ee22646-f21a-4c0d-acf1-36838702e6e8","cum_qty":"1","order_status":"filled"},{"id":"20210528145007048::439ced00-d396-4207-8e2e-7a33d418458b","activity_type":"FILL","transaction_time":"2021-05-28T18:50:07.048051Z","type":"fill","price":"146.51","qty":"1","side":"sell","symbol":"BYND","leaves_qty":"0","order_id":"7da60487-b4f2-43ca-9f22-212bbb3755a6","cum_qty":"1","order_status":"filled"},{"id":"20210528144957940::046f1f9f-f7f2-4929-81f1-63d0120e47b2","activity_type":"FILL","transaction_time":"2021-05-28T18:49:57.940185Z","type":"fill","price":"146.63","qty":"1",[...]
