http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/account
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"0ef8f355-319d-4de7-8d32-03f1e7e5aa69","account_number":"PA2R69JXKXN9","status":"ACTIVE","currency":"USD","buying_power":"356154.156","regt_buying_power":"176049.69","daytrading_buying_power":"356154.156","cash":"85523.79","portfolio_value":"90525.9","pattern_day_trader":false,"trading_blocked":false,"transfers_blocked":false,"account_blocked":false,"created_at":"2019-06-27T00:31:20.626651Z","trade_suspended_by_user":false,"multiplier":"4","shorting_enabled":true,"equity":"90525.9","last_equity":"90544.86","long_market_value":"5002.11","short_market_value":"0","initial_margin":"2501.055","maintenance_margin":"1500.633","last_maintenance_margin":"1506.321","sma":"0","daytrade_count":3}'
  recorded_at: 2021-05-30 01:09:26 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/account/portfolio/history?period=2M&timeframe=1D&date_end=2020-03-15&extended_hours=APCA-PRO
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"timestamp":[1579098600,1579185000,1579271400,1579617000,1579703400,1579789800,1579876200,1580135400,1580221800,1580308200,1580394600,1580481000,1580740200,1580826600,1580913000,1580999400,1581085800,1581345000,1581431400,1581517800,1581604200,1581690600,1582036200,1582122600,1582209000,1582295400,1582554600,1582641000,1582727400,1582813800,1582900200,1583159400,1583245800,1583332200,1583418600,1583505000,1583760600,1583847000,1583933400,1584019800,1584106200],"equity":[99025.73,99424.67,99745.43,99561.27,99671.18,99827.3,99708.36,98738.61,99643.05,100303.72,100272.61,98954.47,98887.97,99949.5,100211.34,100585.09,100096.93,100302.27,100126.99,100895.06,100655.84,100643.2,100069.39,100545.93,100197.31,99412.69,97839.46,96792.37,97262.33,95200.6,95366.9,97849.72,96853.6,98266.18,97229.75,96812.86,94422.73,96476.72,95363.35,92489.93,95606.03],"profit_loss":[-125.43,414.93,329.77,145.61,108.46,156.12,-112.94,-967.75,905.99,667.75,-33.11,-1316.93,-1383.43,1065.58,262.95,386.5,-488.02,206.27,-175.64,769.54,530.32,-7.39,-574.2,476.54,-348.63,-784.13,-1575.23,-2622.32,467.87,-2057.71,116.88,2616.25,-995.07,1411.47,-1033.8,-416.89,-2395.08,2045.39,-1076.19,-2887.65,3092.7],"profit_loss_pct":[0,0.0041901231124476,0.007520803283664598,0.008991598528781421,0.01009077322569349,0.011672929386742222,0.010528369325066282,0.0007203770021122974,0.009902627535719645,0.01667040993034708,0.016334809642812444,0.002986779698614223,-0.011035446893458381,-0.00037873254792914596,0.002251099640091069,0.006116630726801368,0.0012351414511314754,0.0032983892712906285,0.0015415065098973505,0.009238993979755653,0.014543709823002576,0.014469223553595943,0.008681368754022062,0.013484805843685924,0.00997067844080365,0.002066790521199901,-0.013811319913521353,-0.04024341898238755,-0.03560419678377095,-0.0560072334808773,-0.05484827151476835,-0.028919430274783737,-0.03879470781790259,-0.02478683992495626,-0.03504647721711093,-0.03918388859699169,-0.06295378292816954,-0.04265543991334087,-0.05333454096610946,-0.08200004519576595,-0.05130374712068839],"base_value":99025.73,"timeframe":"1D"}'
  recorded_at: 2021-05-30 01:09:26 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
