http_interactions:
- request:
    method: patch
    uri: https://paper-api.alpaca.markets/v2/account/configurations
    body:
      encoding: ''
      string: '{"no_shorting":true,"suspend_trade":true}'
    headers:
      Content-Type: application/json
      APCA-API-KEY-ID: PKSW0MA43EEJNIJBAI45
      APCA-API-SECRET-KEY: 4WS4FhopE29g2LbQcvklXcWMywOonS6ALsNvqNu7
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"dtbp_check":"entry","no_shorting":true,"pdt_check":"entry","suspend_trade":true,"trade_confirm_email":"all"}'
  recorded_at: 2020-12-29 16:43:51 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
