http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/account
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"0ef8f355-319d-4de7-8d32-03f1e7e5aa69","account_number":"PA2R69JXKXN9","status":"ACTIVE","currency":"USD","buying_power":"356154.156","regt_buying_power":"176049.69","daytrading_buying_power":"356154.156","cash":"85523.79","portfolio_value":"90525.9","pattern_day_trader":false,"trading_blocked":false,"transfers_blocked":false,"account_blocked":false,"created_at":"2019-06-27T00:31:20.626651Z","trade_suspended_by_user":false,"multiplier":"4","shorting_enabled":true,"equity":"90525.9","last_equity":"90544.86","long_market_value":"5002.11","short_market_value":"0","initial_margin":"2501.055","maintenance_margin":"1500.633","last_maintenance_margin":"1506.321","sma":"0","daytrade_count":3}'
  recorded_at: 2021-05-30 01:09:39 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/account/portfolio/history?period=2W&timeframe=1H&date_end=2019-07-10&extended_hours=APCA-PRO
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"timestamp":[1561642200,1561645800,1561649400,1561653000,1561656600,1561660200,1561663800,1561728600,1561732200,1561735800,1561739400,1561743000,1561746600,1561750200,1561987800,1561991400,1561995000,1561998600,1562002200,1562005800,1562009400,1562074200,1562077800,1562081400,1562085000,1562088600,1562092200,1562095800,1562160600,1562164200,1562167800,1562171400,1562333400,1562337000,1562340600,1562344200,1562347800,1562351400,1562355000,1562592600,1562596200,1562599800,1562603400,1562607000,1562610600,1562614200,1562679000,1562682600,1562686200,1562689800,1562693400,1562697000,1562700600,1562765400,1562769000,1562772600,1562776200,1562779800,1562783400,1562787000],"equity":[100000,100000,100000,100000,100000,100000,100000,100000,100000,100000,100000,100000,100000,100000,98110.17,98110.17,98110.17,98110.17,98110.17,98110.17,98110.17,98077.74,98077.74,98077.74,98077.74,98077.74,98077.74,98077.74,94155.53,94155.53,94155.53,94155.53,94141.98,94141.98,94141.98,94141.98,94141.98,94141.98,94141.98,94130.53,94130.53,94130.53,94130.53,94130.53,94130.53,94130.53,90198.88,90198.88,90198.88,90198.88,90198.88,90198.88,90198.88,90024.13,90024.13,90024.13,90024.13,90024.13,90024.13,90024.13],"profit_loss":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,-1889.83,-1889.83,-1889.83,-1889.83,-1889.83,-1889.83,-1889.83,-1922.26,-1922.26,-1922.26,-1922.26,-1922.26,-1922.26,-1922.26,-5844.47,-5844.47,-5844.47,-5844.47,-5858.02,-5858.02,-5858.02,-5858.02,-5858.02,-5858.02,-5858.02,-5869.47,-5869.47,-5869.47,-5869.47,-5869.47,-5869.47,-5869.47,-9801.12,-9801.12,-9801.12,-9801.12,-9801.12,-9801.12,-9801.12,-9975.87,-9975.87,-9975.87,-9975.87,-9975.87,-9975.87,-9975.87],"profit_loss_pct":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,-0.0188983,-0.0188983,-0.0188983,-0.0188983,-0.0188983,-0.0188983,-0.0188983,-0.0192226,-0.0192226,-0.0192226,-0.0192226,-0.0192226,-0.0192226,-0.0192226,-0.0584447,-0.0584447,-0.0584447,-0.0584447,-0.058580200000000006,-0.058580200000000006,-0.058580200000000006,-0.058580200000000006,-0.058580200000000006,-0.058580200000000006,-0.058580200000000006,-0.0586947,-0.0586947,-0.0586947,-0.0586947,-0.0586947,-0.0586947,-0.0586947,-0.0980112,-0.0980112,-0.0980112,-0.0980112,-0.0980112,-0.0980112,-0.0980112,-0.0997587,-0.0997587,-0.0997587,-0.0997587,-0.0997587,-0.0997587,-0.0997587],"base_value":100000,"timeframe":"1H"}'
  recorded_at: 2021-05-30 01:09:39 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
