http_interactions:
- request:
    method: patch
    uri: https://paper-api.alpaca.markets/v2/account/configurations
    body:
      encoding: ''
      string: '{"dtbp_check":"entry","fractional_trading":true,"max_margin_multiplier":4,"no_shorting":false,"pdt_check":"entry","suspend_trade":false,"trade_confirm_email":"all"}'
    headers:
      Content-Type: application/json
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"dtbp_check":"entry","fractional_trading":true,"max_margin_multiplier":"4","no_shorting":false,"pdt_check":"entry","suspend_trade":false,"trade_confirm_email":"all"}'
  recorded_at: 2021-05-30 01:06:02 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
