http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/account
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"0ef8f355-319d-4de7-8d32-03f1e7e5aa69","account_number":"PA2R69JXKXN9","status":"ACTIVE","currency":"USD","buying_power":"356154.156","regt_buying_power":"175990.72","daytrading_buying_power":"356154.156","cash":"85523.79","portfolio_value":"90466.93","pattern_day_trader":false,"trading_blocked":false,"transfers_blocked":false,"account_blocked":false,"created_at":"2019-06-27T00:31:20.626651Z","trade_suspended_by_user":false,"multiplier":"4","shorting_enabled":true,"equity":"90466.93","last_equity":"90544.86","long_market_value":"4943.14","short_market_value":"0","initial_margin":"2471.57","maintenance_margin":"1482.942","last_maintenance_margin":"1506.321","sma":"0","daytrade_count":3}'
  recorded_at: 2021-06-01 21:11:08 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/account/portfolio/history?period=1M&timeframe=1D&date_end=2020-06-01&extended_hours=APCA-PRO
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"timestamp":[1588339800,1588599000,1588685400,1588771800,1588858200,1588944600,1589203800,1589290200,1589376600,1589463000,1589549400,1589808600,1589895000,1589981400,1590067800,1590154200,1590499800,1590586200,1590672600,1590759000,1591018200],"equity":[97534.06,96586,96551.43,96648.98,96648.98,96615.98,96781.54,96573.34,96573.34,96617.22,96752.76,96796.73,96796.73,96983.5,96971.18,96971.18,96963,96959.38,96959.38,96928.45,96928.45],"profit_loss":[1013.64,179.7,-34.57,78.07,0,-33,117.56,-208.2,0,0,51.82,43.97,0,99.05,-12.32,0,-8.18,-3.62,0,-30.93,0],"profit_loss_pct":[0,0.0018424332997109,0.0014838544899540664,0.0022936389180048134,0.0022936389180048134,0.0019514139914272284,0.003170564366228929,0.001012507039376617,0.001012507039376617,0.001012507039376617,0.001549393405127739,0.0020045548581759634,0.0020045548581759634,0.0030298844448128307,0.0029024676349805926,0.0029024676349805926,0.002817867837543343,0.0027804288073816344,0.0027804288073816344,0.0024605422872428897,0.0024605422872428897],"base_value":97534.06,"timeframe":"1D"}'
  recorded_at: 2021-06-01 21:11:08 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
