http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/account
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"0ef8f355-319d-4de7-8d32-03f1e7e5aa69","account_number":"PA2R69JXKXN9","status":"ACTIVE","currency":"USD","buying_power":"356154.156","regt_buying_power":"176049.69","daytrading_buying_power":"356154.156","cash":"85523.79","portfolio_value":"90525.9","pattern_day_trader":false,"trading_blocked":false,"transfers_blocked":false,"account_blocked":false,"created_at":"2019-06-27T00:31:20.626651Z","trade_suspended_by_user":false,"multiplier":"4","shorting_enabled":true,"equity":"90525.9","last_equity":"90544.86","long_market_value":"5002.11","short_market_value":"0","initial_margin":"2501.055","maintenance_margin":"1500.633","last_maintenance_margin":"1506.321","sma":"0","daytrade_count":3}'
  recorded_at: 2021-05-30 01:09:30 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/account/portfolio/history?period=1W&timeframe=15Min&date_end=2020-06-14&extended_hours=TRUE
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"timestamp":[1591614000,1591614900,1591615800,1591616700,1591617600,1591618500,1591619400,1591620300,1591621200,1591622100,1591623000,1591623900,1591624800,1591625700,1591626600,1591627500,1591628400,1591629300,1591630200,1591631100,1591632000,1591632900,1591633800,1591634700,1591635600,1591636500,1591637400,1591638300,1591639200,1591640100,1591641000,1591641900,1591642800,1591643700,1591644600,1591645500,1591646400,1591647300,1591648200,1591649100,1591650000,1591650900,1591651800,1591652700,1591653600,1591[...]
