http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/account
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: PKSW0MA43EEJNIJBAI45
      APCA-API-SECRET-KEY: 4WS4FhopE29g2LbQcvklXcWMywOonS6ALsNvqNu7
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"0ef8f355-319d-4de7-8d32-03f1e7e5aa69","account_number":"PA2R69JXKXN9","status":"ACTIVE","currency":"USD","buying_power":"325355.448","regt_buying_power":"139613.32","daytrading_buying_power":"325355.448","cash":"39783.95","portfolio_value":"99829.37","pattern_day_trader":false,"trading_blocked":false,"transfers_blocked":false,"account_blocked":false,"created_at":"2019-06-27T00:31:20.626651Z","trade_suspended_by_user":false,"multiplier":"4","shorting_enabled":true,"equity":"99829.37","last_equity":"99148.11","long_market_value":"60045.42","short_market_value":"0","initial_margin":"30022.71","maintenance_margin":"18013.626","last_maintenance_margin":"17809.248","sma":"0","daytrade_count":2}'
  recorded_at: 2020-12-29 16:43:55 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/account/portfolio/history?period=7D&timeframe=1D&date_end=2020-05-15&extended_hours=TRUE
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: PKSW0MA43EEJNIJBAI45
      APCA-API-SECRET-KEY: 4WS4FhopE29g2LbQcvklXcWMywOonS6ALsNvqNu7
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"timestamp":[1589203800,1589290200,1589376600,1589463000,1589549400],"equity":[96781.54,96573.34,96573.34,96617.22,96752.76],"profit_loss":[117.56,-208.2,0,0,51.82],"profit_loss_pct":[0,-0.0021512366924519,-0.0021512366924519,-0.0021512366924519,-0.0016160471794997235],"base_value":96781.54,"timeframe":"1D"}'
  recorded_at: 2020-12-29 16:43:55 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
