http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/account
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"0ef8f355-319d-4de7-8d32-03f1e7e5aa69","account_number":"PA2R69JXKXN9","status":"ACTIVE","currency":"USD","buying_power":"356154.156","regt_buying_power":"176049.69","daytrading_buying_power":"356154.156","cash":"85523.79","portfolio_value":"90525.9","pattern_day_trader":false,"trading_blocked":false,"transfers_blocked":false,"account_blocked":false,"created_at":"2019-06-27T00:31:20.626651Z","trade_suspended_by_user":false,"multiplier":"4","shorting_enabled":true,"equity":"90525.9","last_equity":"90544.86","long_market_value":"5002.11","short_market_value":"0","initial_margin":"2501.055","maintenance_margin":"1500.633","last_maintenance_margin":"1506.321","sma":"0","daytrade_count":3}'
  recorded_at: 2021-05-30 01:09:44 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/account/portfolio/history?period=1D&timeframe=1H&date_end=2020-05-18&extended_hours=TRUE
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"timestamp":[1589799600,1589803200,1589806800,1589810400,1589814000,1589817600,1589821200,1589824800,1589828400,1589832000,1589835600,1589839200,1589842800],"equity":[96752.32,96753.82,96756.52,96752.33,96715.85,96823.7,96801.83,96796.55,96802.34,96787.04,96795.74,96799.61,96799.67],"profit_loss":[-0.44,1.06,3.76,-0.43,-36.91,70.94,49.07,43.79,49.58,34.28,42.98,46.85,46.91],"profit_loss_pct":[-0.000004547673885478823,0.000010955759815017164,0.00003886194047590994,-0.00000444431766080885,-0.0003814878252568712,0.0007332090578087902,0.0005071689944555587,0.00045259690782981283,0.0005124401619137273,0.0003543051381686683,0.000444225053631545,0.00048422391257882467,0.00048484404992684446],"base_value":96752.76,"timeframe":"1H"}'
  recorded_at: 2021-05-30 01:09:44 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
