http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/account
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: PKSW0MA43EEJNIJBAI45
      APCA-API-SECRET-KEY: 4WS4FhopE29g2LbQcvklXcWMywOonS6ALsNvqNu7
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"0ef8f355-319d-4de7-8d32-03f1e7e5aa69","account_number":"PA2R69JXKXN9","status":"ACTIVE","currency":"USD","buying_power":"325355.448","regt_buying_power":"139613.22","daytrading_buying_power":"325355.448","cash":"39783.95","portfolio_value":"99829.27","pattern_day_trader":false,"trading_blocked":false,"transfers_blocked":false,"account_blocked":false,"created_at":"2019-06-27T00:31:20.626651Z","trade_suspended_by_user":false,"multiplier":"4","shorting_enabled":true,"equity":"99829.27","last_equity":"99148.11","long_market_value":"60045.32","short_market_value":"0","initial_margin":"30022.66","maintenance_margin":"18013.596","last_maintenance_margin":"17809.248","sma":"0","daytrade_count":2}'
  recorded_at: 2020-12-29 16:44:11 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/account/portfolio/history?period=1D&timeframe=1H&date_end=2020-06-08&extended_hours=TRUE
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: PKSW0MA43EEJNIJBAI45
      APCA-API-SECRET-KEY: 4WS4FhopE29g2LbQcvklXcWMywOonS6ALsNvqNu7
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"timestamp":[1591614000,1591617600,1591621200,1591624800,1591628400,1591632000,1591635600,1591639200,1591642800,1591646400,1591650000,1591653600,1591657200],"equity":[96928.45,96928.45,96928.45,96928.45,96928.45,96928.45,96928.45,96928.45,96928.45,96928.45,96928.45,96928.45,96928.45],"profit_loss":[0,0,0,0,0,0,0,0,0,0,0,0,0],"profit_loss_pct":[0,0,0,0,0,0,0,0,0,0,0,0,0],"base_value":96928.45,"timeframe":"1H"}'
  recorded_at: 2020-12-29 16:44:11 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
