http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/account/activities?until=2020-06-01&after=2020-05-18&direction=desc&page_size=50
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: PKSW0MA43EEJNIJBAI45
      APCA-API-SECRET-KEY: 4WS4FhopE29g2LbQcvklXcWMywOonS6ALsNvqNu7
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":"20200529150312882::307595bc-cdd7-44f2-9cf4-651bc36f3c3e","activity_type":"FILL","transaction_time":"2020-05-29T19:03:12.882489Z","type":"fill","price":"2419.14","qty":"1","side":"sell","symbol":"AMZN","leaves_qty":"0","order_id":"50597b96-064f-42f3-9112-0b40d39cc076","cum_qty":"1"},{"id":"20200529150312171::118d9b8f-56c3-4640-86fb-26ccbee34132","activity_type":"FILL","transaction_time":"2020-05-29T19:03:12.171824Z","type":"fill","price":"125.5","qty":"1","side":"sell","symbol":"BYND","leaves_qty":"0","order_id":"81b874b8-8ff7-4eb2-9519-07891170fe3b","cum_qty":"1"},{"id":"20200529150311502::959fe472-7754-4b6d-b9a8-40cc951e8b43","activity_type":"FILL","transaction_time":"2020-05-29T19:03:11.502249Z","type":"fill","price":"125.67","qty":"1","side":"buy","symbol":"BYND","[...]
