http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/account
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: PKSW0MA43EEJNIJBAI45
      APCA-API-SECRET-KEY: 4WS4FhopE29g2LbQcvklXcWMywOonS6ALsNvqNu7
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"0ef8f355-319d-4de7-8d32-03f1e7e5aa69","account_number":"PA2R69JXKXN9","status":"ACTIVE","currency":"USD","buying_power":"325355.448","regt_buying_power":"139613.2","daytrading_buying_power":"325355.448","cash":"39783.95","portfolio_value":"99829.25","pattern_day_trader":false,"trading_blocked":false,"transfers_blocked":false,"account_blocked":false,"created_at":"2019-06-27T00:31:20.626651Z","trade_suspended_by_user":false,"multiplier":"4","shorting_enabled":true,"equity":"99829.25","last_equity":"99148.11","long_market_value":"60045.3","short_market_value":"0","initial_margin":"30022.65","maintenance_margin":"18013.59","last_maintenance_margin":"17809.248","sma":"0","daytrade_count":2}'
  recorded_at: 2020-12-29 16:44:00 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/account/portfolio/history?period=1W&timeframe=5Min&date_end=2019-07-03&extended_hours=TRUE
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: PKSW0MA43EEJNIJBAI45
      APCA-API-SECRET-KEY: 4WS4FhopE29g2LbQcvklXcWMywOonS6ALsNvqNu7
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"timestamp":[1561633200,1561633500,1561633800,1561634100,1561634400,1561634700,1561635000,1561635300,1561635600,1561635900,1561636200,1561636500,1561636800,1561637100,1561637400,1561637700,1561638000,1561638300,1561638600,1561638900,1561639200,1561639500,1561639800,1561640100,1561640400,1561640700,1561641000,1561641300,1561641600,1561641900,1561642200,1561642500,1561642800,1561643100,1561643400,1561643700,1561644000,1561644300,1561644600,1561644900,1561645200,1561645500,1561645800,1561646100,1561646400,1561[...]
