http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/account
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"0ef8f355-319d-4de7-8d32-03f1e7e5aa69","account_number":"PA2R69JXKXN9","status":"ACTIVE","currency":"USD","buying_power":"356154.156","regt_buying_power":"176049.69","daytrading_buying_power":"356154.156","cash":"85523.79","portfolio_value":"90525.9","pattern_day_trader":false,"trading_blocked":false,"transfers_blocked":false,"account_blocked":false,"created_at":"2019-06-27T00:31:20.626651Z","trade_suspended_by_user":false,"multiplier":"4","shorting_enabled":true,"equity":"90525.9","last_equity":"90544.86","long_market_value":"5002.11","short_market_value":"0","initial_margin":"2501.055","maintenance_margin":"1500.633","last_maintenance_margin":"1506.321","sma":"0","daytrade_count":3}'
  recorded_at: 2021-05-30 01:09:17 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/account/portfolio/history?period=4W&timeframe=5Min&date_end=2020-05-15&extended_hours=TRUE
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"timestamp":[1587380400,1587380700,1587381000,1587381300,1587381600,1587381900,1587382200,1587382500,1587382800,1587383100,1587383400,1587383700,1587384000,1587384300,1587384600,1587384900,1587385200,1587385500,1587385800,1587386100,1587386400,1587386700,1587387000,1587387300,1587387600,1587387900,1587388200,1587388500,1587388800,1587389100,1587389400,1587389700,1587390000,1587390300,1587390600,1587390900,1587391200,1587391500,1587391800,1587392100,1587392400,1587392700,1587393000,1587393300,1587393600,1587[...]
