http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/account/configurations
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"dtbp_check":"entry","fractional_trading":true,"max_margin_multiplier":"4","no_shorting":false,"pdt_check":"entry","suspend_trade":false,"trade_confirm_email":"all"}'
  recorded_at: 2021-06-02 13:36:16 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
