http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/account/activities?direction=desc&page_size=50
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: PKSW0MA43EEJNIJBAI45
      APCA-API-SECRET-KEY: 4WS4FhopE29g2LbQcvklXcWMywOonS6ALsNvqNu7
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":"20201228104444250::9805caea-04b9-412d-805d-7f10d42dc6c9","activity_type":"FILL","transaction_time":"2020-12-28T15:44:44.250888Z","type":"fill","price":"129.59","qty":"2","side":"buy","symbol":"BYND","leaves_qty":"0","order_id":"7e15781b-efa4-4020-9781-b1ccfc4ae013","cum_qty":"2"},{"id":"20201228104442006::44efa4e2-0fca-4a0b-b1b5-2a3501cb5fc7","activity_type":"FILL","transaction_time":"2020-12-28T15:44:42.006737Z","type":"fill","price":"129.49","qty":"2","side":"sell","symbol":"BYND","leaves_qty":"0","order_id":"ba2af153-673a-490e-a8af-fa8427c5c9f8","cum_qty":"2"},{"id":"20201228104439813::6166da92-e1cf-48e9-8d11-60da55d3b78b","activity_type":"FILL","transaction_time":"2020-12-28T15:44:39.813297Z","type":"fill","price":"3202.78","qty":"3","side":"buy","symbol":"AMZN"[...]
