http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/account
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"0ef8f355-319d-4de7-8d32-03f1e7e5aa69","account_number":"PA2R69JXKXN9","status":"ACTIVE","currency":"USD","buying_power":"356154.156","regt_buying_power":"176049.69","daytrading_buying_power":"356154.156","cash":"85523.79","portfolio_value":"90525.9","pattern_day_trader":false,"trading_blocked":false,"transfers_blocked":false,"account_blocked":false,"created_at":"2019-06-27T00:31:20.626651Z","trade_suspended_by_user":false,"multiplier":"4","shorting_enabled":true,"equity":"90525.9","last_equity":"90544.86","long_market_value":"5002.11","short_market_value":"0","initial_margin":"2501.055","maintenance_margin":"1500.633","last_maintenance_margin":"1506.321","sma":"0","daytrade_count":3}'
  recorded_at: 2021-05-30 01:09:48 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/account/portfolio/history?period=3M&timeframe=1D&date_end=2019-09-26&extended_hours=TRUE
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"timestamp":[1561555800,1561642200,1561728600,1561987800,1562074200,1562160600,1562333400,1562592600,1562679000,1562765400,1562851800,1562938200,1563197400,1563283800,1563370200,1563456600,1563543000,1563802200,1563888600,1563975000,1564061400,1564147800,1564407000,1564493400,1564579800,1564666200,1564752600,1565011800,1565098200,1565184600,1565271000,1565357400,1565616600,1565703000,1565789400,1565875800,1565962200,1566221400,1566307800,1566394200,1566480600,1566567000,1566826200,1566912600,1566999000,1567085400,1567171800,1567517400,1567603800,1567690200,1567776600,1568035800,1568122200,1568208600,1568295000,1568381400,1568640600,1568727000,1568813400,1568899800,1568986200,1569245400,1569331800,1569418200,1569504600],"equity":[100000,100000,99993.91,100026.34,100059,100072.55,100084,100144.9,100319.65,100465.37,100371.91,100413.75,100469.61,100415.04,100326.88,100258.63,100189.98,100293.95,100337.35,100370.1,100239.65,100079.57,99927.34,99858.89,99694.1,99637.31,99479.79,99186.52,99299.07,99328.64,99533.65,99401.8,99308.62,99309.94,99307.69,99303.07,99303.21,99303.21,99303.21,99303.21,99303.21,99303.21,99303.21,99303.21,99303.21,99303.21,99303.21,99303.21,99303.21,99303.21,99303.21,99303.21,99303.21,99303.21,99303.21,99303.21,99303.21,99303.21,99303.21,99303.21,99300.83,99271.55,99251.91,99235.63,99303.53],"profit_loss":[0,0,-6.09,28.63,61.29,15.01,11.41,61.48,174.79,140.97,-91.23,41.82,50.91,-54.57,-87.67,-67.6,-64.81,106.37,44.86,32.64,-129.3,-154.1,-152.22,-66.35,-161.24,-58.72,-157.48,-291.88,112.55,27.61,204.95,-125,-91.67,1.33,-2.25,-4.6,0.13,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,-2.38,-30.24,-19.54,-16.38,68.18],"profit_loss_pct":[0,0,-0.0000609,0.00022540000000000304,0.0008382767159329915,0.0009884139602938794,0.0011025439370286037,0.0017175052135688037,0.0034658738547704918,0.004875952381133993,0.003963450559503996,0.004381752368270965,0.004890976204778136,0.004345170357900718,0.003468300308500949,0.002792165885693671,0.00214393280819153,0.0032078919998472497,0.0036566120476179665,0.003983104144700824,0.0026897407290431175,0.0011482899254304842,-0.0003744463602315523,-0.001038180184067924,-0.002651182329666829,-0.003238622534990891,-0.00481403622011733,-0.007733974823808352,-0.006608019995132203,-0.006331808419656888,-0.004281520649036117,-0.005532000360358558,-0.006449115357541363,-0.006435809134208764,-0.006458319664669781,-0.006504341193612199,-0.006503040584923649,-0.006503040584923649,-0.006503040584923649,-0.006503040584923649,-0.006503040584923649,-0.006503040584923649,-0.006503040584923649,-0.006503040584923649,-0.006503040584923649,-0.006503040584923649,-0.006503040584923649,-0.006503040584923649,-0.006503040584923649,-0.006503040584923649,-0.006503040584923649,-0.006503040584923649,-0.006503040584923649,-0.006503040584923649,-0.006503040584923649,-0.006503040584923649,-0.006503040584923649,-0.006503040584923649,-0.006503040584923649,-0.006503040584923649,-0.006526851726209082,-0.00682939328607112,-0.007024882866471431,-0.00718875812508007,-0.0065066455565295075],"base_value":100000,"timeframe":"1D"}'
  recorded_at: 2021-05-30 01:09:48 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
