http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/account
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"0ef8f355-319d-4de7-8d32-03f1e7e5aa69","account_number":"PA2R69JXKXN9","status":"ACTIVE","currency":"USD","buying_power":"356154.156","regt_buying_power":"176049.69","daytrading_buying_power":"356154.156","cash":"85523.79","portfolio_value":"90525.9","pattern_day_trader":false,"trading_blocked":false,"transfers_blocked":false,"account_blocked":false,"created_at":"2019-06-27T00:31:20.626651Z","trade_suspended_by_user":false,"multiplier":"4","shorting_enabled":true,"equity":"90525.9","last_equity":"90544.86","long_market_value":"5002.11","short_market_value":"0","initial_margin":"2501.055","maintenance_margin":"1500.633","last_maintenance_margin":"1506.321","sma":"0","daytrade_count":3}'
  recorded_at: 2021-05-30 01:08:30 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/account/portfolio/history?period=1D&timeframe=5Min&date_end=2020-06-01&extended_hours=APCA-PRO
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"timestamp":[1591018200,1591018500,1591018800,1591019100,1591019400,1591019700,1591020000,1591020300,1591020600,1591020900,1591021200,1591021500,1591021800,1591022100,1591022400,1591022700,1591023000,1591023300,1591023600,1591023900,1591024200,1591024500,1591024800,1591025100,1591025400,1591025700,1591026000,1591026300,1591026600,1591026900,1591027200,1591027500,1591027800,1591028100,1591028400,1591028700,1591029000,1591029300,1591029600,1591029900,1591030200,1591030500,1591030800,1591031100,1591031400,1591[...]
