http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/watchlists
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: 
      APCA-API-SECRET-KEY: 
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":"99bb53ec-3f7d-49ed-96e1-81c27f45cf71","account_id":"0ef8f355-319d-4de7-8d32-03f1e7e5aa69","created_at":"2020-06-18T20:38:22.833345Z","updated_at":"2020-06-18T20:38:24.495393Z","name":"FABANGG"},{"id":"f2da8074-ccac-4636-8144-23b5782cd682","account_id":"0ef8f355-319d-4de7-8d32-03f1e7e5aa69","created_at":"2020-05-27T11:43:43.331111Z","updated_at":"2020-05-27T11:43:43.331111Z","name":"Primary"}]'
  recorded_at: 2020-06-18 20:38:24 GMT
  recorded_with: vcr/0.5.4.93, webmockr/0.6.2
- request:
    method: delete
    uri: https://paper-api.alpaca.markets/v2/watchlists/99bb53ec-3f7d-49ed-96e1-81c27f45cf71/BYND
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
      APCA-API-KEY-ID: 
      APCA-API-SECRET-KEY: 
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"99bb53ec-3f7d-49ed-96e1-81c27f45cf71","account_id":"0ef8f355-319d-4de7-8d32-03f1e7e5aa69","created_at":"2020-06-18T20:38:22.833345Z","updated_at":"2020-06-18T20:38:24.495393Z","name":"FABANGG","assets":[{"id":"69b15845-7c63-4586-b274-1cfdfe9df3d8","class":"us_equity","exchange":"NASDAQ","symbol":"GOOGL","name":"Alphabet
        Inc. Class A Common Stock","status":"active","tradable":true,"marginable":true,"shortable":true,"easy_to_borrow":true},{"id":"fc6a5dcd-4a70-4b8d-b64f-d83a6dae9ba4","class":"us_equity","exchange":"NASDAQ","symbol":"FB","name":"Facebook,
        Inc. Class A Common Stock","status":"active","tradable":true,"marginable":true,"shortable":true,"easy_to_borrow":true},{"id":"b0b6dd9d-8b9b-48a9-ba46-b9d54906e415","class":"us_equity","exchange":"NASDAQ","symbol":"AAPL","name":"Apple
        Inc. Common Stock","status":"active","tradable":true,"marginable":true,"shortable":true,"easy_to_borrow":true},{"id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","class":"us_equity","exchange":"NASDAQ","symbol":"AMZN","name":"Amazon.com,
        Inc. Common Stock","status":"active","tradable":true,"marginable":true,"shortable":true,"easy_to_borrow":true},{"id":"bb2a26c0-4c77-4801-8afc-82e8142ac7b8","class":"us_equity","exchange":"NASDAQ","symbol":"NFLX","name":"Netflix,
        Inc. Common Stock","status":"active","tradable":true,"marginable":true,"shortable":true,"easy_to_borrow":true},{"id":"f30d734c-2806-4d0d-b145-f9fade61432b","class":"us_equity","exchange":"NASDAQ","symbol":"GOOG","name":"Alphabet
        Inc. Class C Capital Stock","status":"active","tradable":true,"marginable":true,"shortable":true,"easy_to_borrow":true}]}'
  recorded_at: 2020-06-18 20:38:24 GMT
  recorded_with: vcr/0.5.4.93, webmockr/0.6.2
- request:
    method: delete
    uri: https://paper-api.alpaca.markets/v2/watchlists/99bb53ec-3f7d-49ed-96e1-81c27f45cf71/GOOGL
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
      APCA-API-KEY-ID: 
      APCA-API-SECRET-KEY: 
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
  [...]
