http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/account
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: 
      APCA-API-SECRET-KEY: 
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"0ef8f355-319d-4de7-8d32-03f1e7e5aa69","account_number":"PA2R69JXKXN9","status":"ACTIVE","currency":"USD","buying_power":"387697.16","regt_buying_power":"193824.56","daytrading_buying_power":"387697.16","cash":"96912.28","portfolio_value":"96912.28","pattern_day_trader":false,"trading_blocked":false,"transfers_blocked":false,"account_blocked":false,"created_at":"2019-06-27T00:31:20.626651Z","trade_suspended_by_user":false,"multiplier":"4","shorting_enabled":true,"equity":"96912.28","last_equity":"96924.29","long_market_value":"0","short_market_value":"0","initial_margin":"0","maintenance_margin":"0","last_maintenance_margin":"0","sma":"0","daytrade_count":10}'
  recorded_at: 2020-06-18 20:26:01 GMT
  recorded_with: vcr/0.5.4.93, webmockr/0.6.2
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/account/portfolio/history?period=7D&timeframe=1H&date_end=2019-07-03&extended_hours=FALSE
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: 
      APCA-API-SECRET-KEY: 
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"timestamp":[1561642200,1561645800,1561649400,1561653000,1561656600,1561660200,1561663800,1561642200,1561645800,1561649400,1561653000,1561656600,1561660200,1561663800,1561728600,1561732200,1561735800,1561739400,1561743000,1561746600,1561750200,1561987800,1561991400,1561995000,1561998600,1562002200,1562005800,1562009400,1562074200,1562077800,1562081400,1562085000,1562088600,1562092200,1562095800,1562160600,1562164200,1562167800,1562171400],"equity":[100000,100000,100000,100000,100000,100000,100000,100000,100000,100000,100000,100000,100000,100000,100000,100000,100000,100000,100000,100000,100000,98110.17,98110.17,98110.17,98110.17,98110.17,98110.17,98110.17,98077.74,98077.74,98077.74,98077.74,98077.74,98077.74,98077.74,94155.53,94155.53,94155.53,94155.53],"profit_loss":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,-1889.83,-1889.83,-1889.83,-1889.83,-1889.83,-1889.83,-1889.83,-1922.26,-1922.26,-1922.26,-1922.26,-1922.26,-1922.26,-1922.26,-5844.47,-5844.47,-5844.47,-5844.47],"profit_loss_pct":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,-0.0188983,-0.0188983,-0.0188983,-0.0188983,-0.0188983,-0.0188983,-0.0188983,-0.0192226,-0.0192226,-0.0192226,-0.0192226,-0.0192226,-0.0192226,-0.0192226,-0.0584447,-0.0584447,-0.0584447,-0.0584447],"base_value":100000,"timeframe":"1H"}'
  recorded_at: 2020-06-18 20:26:01 GMT
  recorded_with: vcr/0.5.4.93, webmockr/0.6.2
