http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/account
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: 
      APCA-API-SECRET-KEY: 
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"0ef8f355-319d-4de7-8d32-03f1e7e5aa69","account_number":"PA2R69JXKXN9","status":"ACTIVE","currency":"USD","buying_power":"387697.16","regt_buying_power":"193824.56","daytrading_buying_power":"387697.16","cash":"96912.28","portfolio_value":"96912.28","pattern_day_trader":false,"trading_blocked":false,"transfers_blocked":false,"account_blocked":false,"created_at":"2019-06-27T00:31:20.626651Z","trade_suspended_by_user":false,"multiplier":"4","shorting_enabled":true,"equity":"96912.28","last_equity":"96924.29","long_market_value":"0","short_market_value":"0","initial_margin":"0","maintenance_margin":"0","last_maintenance_margin":"0","sma":"0","daytrade_count":10}'
  recorded_at: 2020-06-18 20:27:06 GMT
  recorded_with: vcr/0.5.4.93, webmockr/0.6.2
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/account/portfolio/history?period=1M&timeframe=1D&date_end=2019-07-26&extended_hours=TRUE
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: 
      APCA-API-SECRET-KEY: 
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"timestamp":[1561555800,1561642200,1561728600,1561987800,1562074200,1562160600,1562333400,1562592600,1562679000,1562765400,1562851800,1562938200,1563197400,1563283800,1563370200,1563456600,1563543000,1563802200,1563888600,1563975000,1564061400,1564147800],"equity":[100000,100000,99993.91,100026.34,100059,100072.55,100084,100144.9,100319.65,100465.37,100371.91,100413.75,100469.61,100415.04,100326.88,100258.63,100189.98,100293.95,100337.35,100370.1,100239.65,100079.57],"profit_loss":[0,0,-6.09,28.63,61.29,15.01,11.41,61.48,174.79,140.97,-91.23,41.82,50.91,-54.57,-87.67,-67.6,-64.81,106.37,44.86,32.64,-129.3,-154.1],"profit_loss_pct":[0,0,-0.0000609,0.00022540000000000304,0.0008382767159329915,0.0009884139602938794,0.0011025439370286037,0.0017175052135688037,0.0034658738547704918,0.004875952381133993,0.003963450559503996,0.004381752368270965,0.004890976204778136,0.004345170357900718,0.003468300308500949,0.002792165885693671,0.00214393280819153,0.0032078919998472497,0.0036566120476179665,0.003983104144700824,0.0026897407290431175,0.0011482899254304842],"base_value":100000,"timeframe":"1D"}'
  recorded_at: 2020-06-18 20:27:06 GMT
  recorded_with: vcr/0.5.4.93, webmockr/0.6.2
