http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/account
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: 
      APCA-API-SECRET-KEY: 
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"0ef8f355-319d-4de7-8d32-03f1e7e5aa69","account_number":"PA2R69JXKXN9","status":"ACTIVE","currency":"USD","buying_power":"387697.16","regt_buying_power":"193824.56","daytrading_buying_power":"387697.16","cash":"96912.28","portfolio_value":"96912.28","pattern_day_trader":false,"trading_blocked":false,"transfers_blocked":false,"account_blocked":false,"created_at":"2019-06-27T00:31:20.626651Z","trade_suspended_by_user":false,"multiplier":"4","shorting_enabled":true,"equity":"96912.28","last_equity":"96924.29","long_market_value":"0","short_market_value":"0","initial_margin":"0","maintenance_margin":"0","last_maintenance_margin":"0","sma":"0","daytrade_count":10}'
  recorded_at: 2020-06-18 20:26:03 GMT
  recorded_with: vcr/0.5.4.93, webmockr/0.6.2
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/account/portfolio/history?period=1W&timeframe=1H&date_end=2020-05-15&extended_hours=FALSE
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: 
      APCA-API-SECRET-KEY: 
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"timestamp":[1589203800,1589207400,1589211000,1589214600,1589218200,1589221800,1589225400,1589290200,1589293800,1589297400,1589301000,1589304600,1589308200,1589311800,1589376600,1589380200,1589383800,1589387400,1589391000,1589394600,1589398200,1589463000,1589466600,1589470200,1589473800,1589477400,1589481000,1589484600,1589549400,1589553000,1589556600,1589560200,1589563800,1589567400,1589571000],"equity":[96644.34,96694.86,96761.54,96779.62,96774.1,96803.54,97761.46,96627.38,96609.1,96599.98,96603.98,96612.18,96581.22,97595.9,96655.38,96651.34,96797.42,96720.06,96632.18,96627.34,97804.1,96632.22,96706.18,96625.66,96641.58,96648.5,96690.22,97804.1,96618.38,96642.62,96622.34,96605.58,96663.3,96673.54,97760.22],"profit_loss":[28.36,78.88,145.56,163.64,158.12,187.56,1145.48,11.4,-6.88,-16,-12,-3.8,-34.76,979.92,39.4,35.36,181.44,104.08,16.2,11.36,1188.12,16.24,90.2,9.68,25.6,32.52,74.24,1188.12,2.4,26.64,6.36,-10.4,47.32,57.56,1144.24],"profit_loss_pct":[0.0002935332229720177,0.0008164280898460068,0.0015065830724896648,0.0016937156772616703,0.0016365822713799519,0.001941293769415784,0.011856009740831694,0.00011799290345137524,-0.00007120975225837383,-0.000165604075019474,-0.0001242030562646055,-0.00003933096781712508,-0.00035977485297980727,0.010142421574567686,0.00040780003473545474,0.0003659850057930376,0.0018779502107208353,0.0010772545080016784,0.00016767412595721743,0.00011757889326382655,0.01229734460075859,0.0001680881361447661,0.0009335929729222847,0.00010019046538678178,0.00026496652003115843,0.00033659028247708095,0.0007684029080903594,0.01229734460075859,0.0000248406112529211,0.00027573078490742423,0.00006582761982024093,-0.00010764264876265811,0.0004897740518700944,0.0005957606598825578,0.011843175425017683],"base_value":96615.98,"timeframe":"1H"}'
  recorded_at: 2020-06-18 20:26:03 GMT
  recorded_with: vcr/0.5.4.93, webmockr/0.6.2
