http_interactions:
- request:
    method: patch
    uri: https://paper-api.alpaca.markets/v2/account/configurations
    body:
      encoding: ''
      string: '{"dtbp_check":"entry","trade_confirm_email":"all","pdt_check":"entry","suspend_trade":false,"no_shorting":false}'
    headers:
      Content-Type: application/json
      APCA-API-KEY-ID: 
      APCA-API-SECRET-KEY: 
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"dtbp_check":"entry","no_shorting":false,"pdt_check":"entry","suspend_trade":false,"trade_confirm_email":"all"}'
  recorded_at: 2020-06-18 20:23:41 GMT
  recorded_with: vcr/0.5.4.93, webmockr/0.6.2
