http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/account/activities?direction=desc&page_size=50
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: 
      APCA-API-SECRET-KEY: 
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":"20200618094159011::0dcefb86-dabf-4e63-ad18-f56852ff40fe","activity_type":"FILL","transaction_time":"2020-06-18T13:41:59.011523Z","type":"fill","price":"2650.51","qty":"1","side":"sell","symbol":"AMZN","leaves_qty":"0","order_id":"ee8637eb-3007-4d10-b38c-45ce0349ce8f","cum_qty":"1"},{"id":"20200618094158712::fa4ec5ea-b306-4a40-8b5b-c51a9aaec2c1","activity_type":"FILL","transaction_time":"2020-06-18T13:41:58.712881Z","type":"fill","price":"159.93","qty":"1","side":"sell","symbol":"BYND","leaves_qty":"0","order_id":"a35b85f8-36ec-4ebe-bff4-dcae04a2ac4c","cum_qty":"1"},{"id":"20200618094158132::021e6f45-544c-494f-8590-bc6a1d637cc9","activity_type":"FILL","transaction_time":"2020-06-18T13:41:58.132842Z","type":"fill","price":"160.2","qty":"1","side":"buy","symbol":"BYND","[...]
