http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/account
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: 
      APCA-API-SECRET-KEY: 
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"0ef8f355-319d-4de7-8d32-03f1e7e5aa69","account_number":"PA2R69JXKXN9","status":"ACTIVE","currency":"USD","buying_power":"387697.16","regt_buying_power":"193824.56","daytrading_buying_power":"387697.16","cash":"96912.28","portfolio_value":"96912.28","pattern_day_trader":false,"trading_blocked":false,"transfers_blocked":false,"account_blocked":false,"created_at":"2019-06-27T00:31:20.626651Z","trade_suspended_by_user":false,"multiplier":"4","shorting_enabled":true,"equity":"96912.28","last_equity":"96924.29","long_market_value":"0","short_market_value":"0","initial_margin":"0","maintenance_margin":"0","last_maintenance_margin":"0","sma":"0","daytrade_count":10}'
  recorded_at: 2020-06-18 20:24:30 GMT
  recorded_with: vcr/0.5.4.93, webmockr/0.6.2
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/account/portfolio/history?period=2W&timeframe=5Min&date_end=2020-06-08&extended_hours=TRUE
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: 
      APCA-API-SECRET-KEY: 
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"timestamp":[1590490800,1590491100,1590491400,1590491700,1590492000,1590492300,1590492600,1590492900,1590493200,1590493500,1590493800,1590494100,1590494400,1590494700,1590495000,1590495300,1590495600,1590495900,1590496200,1590496500,1590496800,1590497100,1590497400,1590497700,1590498000,1590498300,1590498600,1590498900,1590499200,1590499500,1590499800,1590500100,1590500400,1590500700,1590501000,1590501300,1590501600,1590501900,1590502200,1590502500,1590502800,1590503100,1590503400,1590503700,1590504000,1590[...]
