http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/account
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: 
      APCA-API-SECRET-KEY: 
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"0ef8f355-319d-4de7-8d32-03f1e7e5aa69","account_number":"PA2R69JXKXN9","status":"ACTIVE","currency":"USD","buying_power":"387697.16","regt_buying_power":"193824.56","daytrading_buying_power":"387697.16","cash":"96912.28","portfolio_value":"96912.28","pattern_day_trader":false,"trading_blocked":false,"transfers_blocked":false,"account_blocked":false,"created_at":"2019-06-27T00:31:20.626651Z","trade_suspended_by_user":false,"multiplier":"4","shorting_enabled":true,"equity":"96912.28","last_equity":"96924.29","long_market_value":"0","short_market_value":"0","initial_margin":"0","maintenance_margin":"0","last_maintenance_margin":"0","sma":"0","daytrade_count":10}'
  recorded_at: 2020-06-18 20:26:31 GMT
  recorded_with: vcr/0.5.4.93, webmockr/0.6.2
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/account/portfolio/history?period=4W&timeframe=1D&date_end=2020-04-15&extended_hours=FALSE
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: 
      APCA-API-SECRET-KEY: 
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"timestamp":[1584624600,1584711000,1584970200,1585056600,1585143000,1585229400,1585315800,1585575000,1585661400,1585747800,1585834200,1585920600,1586179800,1586266200,1586352600,1586439000,1586784600,1586871000,1586957400],"equity":[92372.22,90733.81,90259.26,92641.72,92445.5,93816.94,92675.64,93457.5,93393.51,91996.3,92425.55,92063.32,94241.21,93964.32,94660.62,94852.54,95504.73,97004.03,96767.99],"profit_loss":[-138.5,-1638.84,-524.55,2288.17,-196.32,1365.38,-1137.57,769.68,-65.16,-1396.14,413.13,50.9,2179.9,-293.99,692.3,188.82,649.25,1496.44,-234.05],"profit_loss_pct":[0,-0.0177416976662464,-0.023420326090305414,0.0013370263680456092,-0.0007849386064451106,0.013973035124299293,0.0016781840497881071,0.009997216588429746,0.009293031064176484,-0.005794894985395277,-0.0013301941763987624,-0.0007802132120829408,0.022879581081876734,0.019688658893565854,0.027201409036939572,0.0292503726931501,0.03629542182384312,0.05253287855540055,0.04999334158744272],"base_value":92372.22,"timeframe":"1D"}'
  recorded_at: 2020-06-18 20:26:31 GMT
  recorded_with: vcr/0.5.4.93, webmockr/0.6.2
