http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/account/activities?until=2020-06-01&after=2020-05-18&direction=desc&page_size=50
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: 
      APCA-API-SECRET-KEY: 
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":"20200529113338651::8ddee585-a341-4f03-8a64-72ad8c6506b4","activity_type":"FILL","transaction_time":"2020-05-29T15:33:38.651165Z","type":"fill","price":"2410.97","qty":"1","side":"sell","symbol":"AMZN","leaves_qty":"0","order_id":"ca812652-b3c6-497f-9281-4d4d851dc2fa","cum_qty":"1"},{"id":"20200529113337696::a83b1410-b4d8-4f50-9164-cc9560421c9c","activity_type":"FILL","transaction_time":"2020-05-29T15:33:37.696227Z","type":"fill","price":"124.3","qty":"1","side":"buy","symbol":"BYND","leaves_qty":"0","order_id":"56be6f96-46bd-4e96-b8e9-8e34873e9323","cum_qty":"1"},{"id":"20200529113337078::1db38737-11ad-4b56-b266-14e181b4b2c9","activity_type":"FILL","transaction_time":"2020-05-29T15:33:37.078939Z","type":"fill","price":"2411.94","qty":"1","side":"buy","symbol":"AMZN","[...]
