http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/account
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: 
      APCA-API-SECRET-KEY: 
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"0ef8f355-319d-4de7-8d32-03f1e7e5aa69","account_number":"PA2R69JXKXN9","status":"ACTIVE","currency":"USD","buying_power":"387697.16","regt_buying_power":"193824.56","daytrading_buying_power":"387697.16","cash":"96912.28","portfolio_value":"96912.28","pattern_day_trader":false,"trading_blocked":false,"transfers_blocked":false,"account_blocked":false,"created_at":"2019-06-27T00:31:20.626651Z","trade_suspended_by_user":false,"multiplier":"4","shorting_enabled":true,"equity":"96912.28","last_equity":"96924.29","long_market_value":"0","short_market_value":"0","initial_margin":"0","maintenance_margin":"0","last_maintenance_margin":"0","sma":"0","daytrade_count":10}'
  recorded_at: 2020-06-18 20:26:09 GMT
  recorded_with: vcr/0.5.4.93, webmockr/0.6.2
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/account/portfolio/history?period=4W&timeframe=1H&date_end=2020-06-14&extended_hours=FALSE
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: 
      APCA-API-SECRET-KEY: 
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"timestamp":[1589808600,1589812200,1589815800,1589819400,1589823000,1589826600,1589830200,1589808600,1589812200,1589815800,1589819400,1589823000,1589826600,1589830200,1589895000,1589898600,1589902200,1589905800,1589909400,1589913000,1589916600,1589981400,1589985000,1589988600,1589992200,1589995800,1589999400,1590003000,1590067800,1590071400,1590075000,1590078600,1590082200,1590085800,1590089400,1590154200,1590157800,1590161400,1590165000,1590168600,1590172200,1590175800,1590499800,1590503400,1590507000,1590[...]
