http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/account
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: 
      APCA-API-SECRET-KEY: 
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"0ef8f355-319d-4de7-8d32-03f1e7e5aa69","account_number":"PA2R69JXKXN9","status":"ACTIVE","currency":"USD","buying_power":"387697.16","regt_buying_power":"193824.56","daytrading_buying_power":"387697.16","cash":"96912.28","portfolio_value":"96912.28","pattern_day_trader":false,"trading_blocked":false,"transfers_blocked":false,"account_blocked":false,"created_at":"2019-06-27T00:31:20.626651Z","trade_suspended_by_user":false,"multiplier":"4","shorting_enabled":true,"equity":"96912.28","last_equity":"96924.29","long_market_value":"0","short_market_value":"0","initial_margin":"0","maintenance_margin":"0","last_maintenance_margin":"0","sma":"0","daytrade_count":10}'
  recorded_at: 2020-06-18 20:30:30 GMT
  recorded_with: vcr/0.5.4.93, webmockr/0.6.2
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/account/portfolio/history?period=2M&timeframe=1D&date_end=2020-06-01&extended_hours=TRUE
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: 
      APCA-API-SECRET-KEY: 
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"timestamp":[1585747800,1585834200,1585920600,1586179800,1586266200,1586352600,1586439000,1586784600,1586871000,1586957400,1587043800,1587130200,1587389400,1587475800,1587562200,1587648600,1587735000,1587994200,1588080600,1588167000,1588253400,1588339800,1588599000,1588685400,1588771800,1588858200,1588944600,1589203800,1589290200,1589376600,1589463000,1589549400,1589808600,1589895000,1589981400,1590067800,1590154200,1590499800,1590586200,1590672600,1590759000,1591018200],"equity":[91996.3,92425.55,92063.32,94241.21,93964.32,94660.62,94852.54,95504.73,97004.03,96767.99,97093.91,96483.78,96486.39,96486.77,96418.08,96520.42,96520.42,96520.42,96520.42,96520.42,96520.42,97534.06,96586,96551.43,96648.98,96648.98,96615.98,96781.54,96573.34,96573.34,96617.22,96752.76,96796.73,96796.73,96983.5,96971.18,96971.18,96963,96959.38,96959.38,96928.45,96928.45],"profit_loss":[-1396.14,413.13,50.9,2179.9,-293.99,692.3,188.82,649.25,1496.44,-234.05,329.51,-607.13,2.61,0.38,0,37.01,0,0,0,0,0,1013.64,179.7,-34.57,78.07,0,-33,117.56,-208.2,0,0,51.82,43.97,0,99.05,-12.32,0,-8.18,-3.62,0,-30.93,0],"profit_loss_pct":[0,0.0044907240834686,0.005043910706170303,0.02884161016941347,0.025632089143805777,0.033188628640013006,0.03524953503234181,0.04233564744029362,0.058667746973537216,0.05611340787876811,0.05970963767573026,0.05308325387553033,0.053111741019095965,0.053115888572565266,0.053115888572565266,0.05352012623251523,0.05352012623251523,0.05352012623251523,0.05352012623251523,0.05352012623251523,0.05352012623251523,0.06458400412233718,0.06654542914187174,0.06616369187678739,0.06702577542567757,0.06702577542567757,0.06666144824303114,0.06795933623066477,0.0656619029205188,0.0656619029205188,0.0656619029205188,0.06623346355752881,0.06671802115973703,0.06671802115973703,0.067809570636624,0.06767392473902031,0.06767392473902031,0.06758386114791662,0.06754400415527662,0.06754400415527662,0.06720345808280255,0.06720345808280255],"base_value":91996.3,"timeframe":"1D"}'
  recorded_at: 2020-06-18 20:30:30 GMT
  recorded_with: vcr/0.5.4.93, webmockr/0.6.2
