http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/account
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: 
      APCA-API-SECRET-KEY: 
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"0ef8f355-319d-4de7-8d32-03f1e7e5aa69","account_number":"PA2R69JXKXN9","status":"ACTIVE","currency":"USD","buying_power":"387697.16","regt_buying_power":"193824.56","daytrading_buying_power":"387697.16","cash":"96912.28","portfolio_value":"96912.28","pattern_day_trader":false,"trading_blocked":false,"transfers_blocked":false,"account_blocked":false,"created_at":"2019-06-27T00:31:20.626651Z","trade_suspended_by_user":false,"multiplier":"4","shorting_enabled":true,"equity":"96912.28","last_equity":"96924.29","long_market_value":"0","short_market_value":"0","initial_margin":"0","maintenance_margin":"0","last_maintenance_margin":"0","sma":"0","daytrade_count":10}'
  recorded_at: 2020-06-18 20:24:09 GMT
  recorded_with: vcr/0.5.4.93, webmockr/0.6.2
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/account/portfolio/history?period=3M&timeframe=1D&date_end=2020-05-18&extended_hours=FALSE
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: 
      APCA-API-SECRET-KEY: 
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"timestamp":[1582036200,1582122600,1582209000,1582295400,1582554600,1582641000,1582727400,1582813800,1582900200,1583159400,1583245800,1583332200,1583418600,1583505000,1583760600,1583847000,1583933400,1584019800,1584106200,1584365400,1584451800,1584538200,1584624600,1584711000,1584970200,1585056600,1585143000,1585229400,1585315800,1585575000,1585661400,1585747800,1585834200,1585920600,1586179800,1586266200,1586352600,1586439000,1586784600,1586871000,1586957400,1587043800,1587130200,1587389400,1587475800,1587562200,1587648600,1587735000,1587994200,1588080600,1588167000,1588253400,1588339800,1588599000,1588685400,1588771800,1588858200,1588944600,1589203800,1589290200,1589376600,1589463000,1589549400,1589808600],"equity":[100069.39,100545.93,100197.31,99412.69,97839.46,96792.37,97262.33,95200.6,95366.9,97849.72,96853.6,98266.18,97229.75,96812.86,94422.73,96476.72,95363.35,92489.93,95606.03,91848.72,93106.1,92746.11,92372.22,90733.81,90259.26,92641.72,92445.5,93816.94,92675.64,93457.5,93393.51,91996.3,92425.55,92063.32,94241.21,93964.32,94660.62,94852.54,95504.73,97004.03,96767.99,97093.91,96483.78,96486.39,96486.77,96418.08,96520.42,96520.42,96520.42,96520.42,96520.42,96520.42,97534.06,96586,96551.43,96648.98,96648.98,96615.98,96781.54,96573.34,96573.34,96617.22,96752.76,96796.73],"profit_loss":[-574.2,476.54,-348.63,-784.13,-1575.23,-2622.32,467.87,-2057.71,116.88,2616.25,-995.07,1411.47,-1033.8,-416.89,-2395.08,2045.39,-1076.19,-2887.65,3092.7,-3747,-2489.62,-361.45,-138.5,-1638.84,-524.55,2288.17,-196.32,1365.38,-1137.57,769.68,-65.16,-1396.14,413.13,50.9,2179.9,-293.99,692.3,188.82,649.25,1496.44,-234.05,329.51,-607.13,2.61,0.38,0,37.01,0,0,0,0,0,1013.64,179.7,-34.57,78.07,0,-33,117.56,-208.2,0,0,51.82,43.97],"profit_loss_pct":[0,0.0047620955818757,0.0012782130479659936,-0.006557648864866857,-0.022299101940712558,-0.04850370915132909,-0.043904415120204855,-0.06413184999620468,-0.06298286281153946,-0.03727718206518709,-0.047067466538585595,-0.033180159479221934,-0.04335149565134529,-0.047453297774439435,-0.07101861291507668,-0.050894970659344035,-0.061482160413785514,-0.08990095064589387,-0.05946884490273407,-0.09633022527957277,-0.12082478921622286,-0.12423786182841254,-0.12554565852346272,-0.14105996307287605,-0.14602566435192652,-0.12437649001125664,-0.1262320514956612,-0.11332687729541507,-0.12407816319532884,-0.11680354907502909,-0.11741932716391727,-0.13061302960184223,-0.12670885259602144,-0.126227919354046,-0.10553850951525118,-0.10832882527613343,-0.10175926829683181,-0.09996754313213087,-0.09380696933388086,-0.07960805480043304,-0.08182876392740392,-0.07870224859936742,-0.08446314033611867,-0.08443837398467885,-0.0844347681557336,-0.0844347681557336,-0.08408332920122887,-0.08408332920122887,-0.08408332920122887,-0.08408332920122887,-0.08408332920122887,-0.08408332920122887,-0.07446453792174139,-0.0727593005663451,-0.07309117797072485,-0.07234169376592513,-0.07234169376592513,-0.07265843507147982,-0.07153006816599485,-0.07352742675119446,-0.07352742675119446,-0.07352742675119446,-0.07303051938058548,-0.07260925131481828],"base_value":100069.39,"timeframe":"1D"}'
  recorded_at: 2020-06-18 20:24:09 GMT
  recorded_with: vcr/0.5.4.93, webmockr/0.6.2
