http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/account
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: 
      APCA-API-SECRET-KEY: 
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"0ef8f355-319d-4de7-8d32-03f1e7e5aa69","account_number":"PA2R69JXKXN9","status":"ACTIVE","currency":"USD","buying_power":"387697.16","regt_buying_power":"193824.56","daytrading_buying_power":"387697.16","cash":"96912.28","portfolio_value":"96912.28","pattern_day_trader":false,"trading_blocked":false,"transfers_blocked":false,"account_blocked":false,"created_at":"2019-06-27T00:31:20.626651Z","trade_suspended_by_user":false,"multiplier":"4","shorting_enabled":true,"equity":"96912.28","last_equity":"96924.29","long_market_value":"0","short_market_value":"0","initial_margin":"0","maintenance_margin":"0","last_maintenance_margin":"0","sma":"0","daytrade_count":10}'
  recorded_at: 2020-06-18 20:25:39 GMT
  recorded_with: vcr/0.5.4.93, webmockr/0.6.2
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/account/portfolio/history?period=1W&timeframe=1H&date_end=2020-04-15&extended_hours=TRUE
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: 
      APCA-API-SECRET-KEY: 
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"timestamp":[1586430000,1586433600,1586437200,1586440800,1586444400,1586448000,1586451600,1586455200,1586458800,1586462400,1586466000,1586469600,1586473200,1586430000,1586433600,1586437200,1586440800,1586444400,1586448000,1586451600,1586455200,1586458800,1586462400,1586466000,1586469600,1586473200,1586775600,1586779200,1586782800,1586786400,1586790000,1586793600,1586797200,1586800800,1586804400,1586808000,1586811600,1586815200,1586818800,1586862000,1586865600,1586869200,1586872800,1586876400,1586880000,1586883600,1586887200,1586890800,1586894400,1586898000,1586901600,1586905200,1586948400,1586952000,1586955600,1586959200,1586962800,1586966400,1586970000,1586973600,1586977200,1586980800,1586984400,1586988000,1586991600],"equity":[94498.42,94591.42,94406.56,94915.98,94920.84,94575.31,94813.49,94763.22,94681.96,94651.15,94888.72,94932.72,103817.7,94498.42,94591.42,94406.56,94915.98,94920.84,94575.31,94813.49,94763.22,94681.96,94651.15,94888.72,94932.72,103817.7,94498.16,94540.8,94628.57,94705.57,94763.91,94582.8,94836.17,94768.41,94907.19,94890.6,95297.79,95330.8,103625.78,95193.5,95121.39,95199.61,95307.67,95879.52,95831.6,95927.63,96004.13,96198.11,96114.18,96113.41,96248.76,102973.59,94258.81,94298.56,94363.31,94071.81,94132.22,94400.73,94327.3,94387.06,94413.81,94562.39,94420.99,94425.99,101474.29],"profit_loss":[-162.2,-69.2,-254.06,255.36,260.22,-85.31,152.87,102.6,21.34,-9.47,228.1,272.1,9157.08,-162.2,-69.2,-254.06,255.36,260.22,-85.31,152.87,102.6,21.34,-9.47,228.1,272.1,9157.08,-162.46,-119.82,-32.05,44.95,103.29,-77.82,175.55,107.79,246.57,229.98,637.17,670.18,8965.16,532.88,460.77,538.99,647.05,1218.9,1170.98,1267.01,1343.51,1537.49,1453.56,1452.79,1588.14,8312.97,-401.81,-362.06,-297.31,-588.81,-528.4,-259.89,-333.32,-273.56,-246.81,-98.23,-239.63,-234.63,6813.67],"profit_loss_pct":[-0.0017134897278297987,-0.000731032608913823,-0.0026839038239977724,0.0026976370955525118,0.0027489784030571536,-0.000901219535642171,0.001614927094286938,0.0010838720473202055,0.00022543693459856908,-0.00010004160124875583,0.0024096609551046678,0.0028744793769573877,0.09673589714497961,-0.0017134897278297987,-0.000731032608913823,-0.0026839038239977724,0.0026976370955525118,0.0027489784030571536,-0.000901219535642171,0.001614927094286938,0.0010838720473202055,0.00022543693459856908,-0.00010004160124875583,0.0024096609551046678,0.0028744793769573877,0.09673589714497961,-0.0017162363821407467,-0.0012657850751452927,-0.0003385779640995379,0.0004748542741427217,0.0010911612452992596,-0.0008220947633767874,0.001854519862641931,0.0011386994929887425,0.002604779051732389,0.0024295213785838292,0.006731098951179487,0.007079818408119448,0.09470844370129838,0.00562937365083812,0.004867599641751766,0.005693920027145396,0.006835471814995507,0.01287652669082455,0.012370297173206769,0.013384763378900329,0.014192913589621535,0.016242128986689502,0.015355487847005439,0.015347353524623016,0.016777198374572238,0.08781867264338644,-0.004244742956469121,-0.0038248217685453575,-0.003140799204568912,-0.0062202212493431795,-0.00558204668424948,-0.0027454922648932575,-0.003521210826635194,-0.002889902897318864,-0.0026073144249424947,-0.001037707126786197,-0.0025314645097401643,-0.0024786442345296283,0.07197998491875503],"base_value":94660.62,"timeframe":"1H"}'
  recorded_at: 2020-06-18 20:25:40 GMT
  recorded_with: vcr/0.5.4.93, webmockr/0.6.2
