http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/account
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: 
      APCA-API-SECRET-KEY: 
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"0ef8f355-319d-4de7-8d32-03f1e7e5aa69","account_number":"PA2R69JXKXN9","status":"ACTIVE","currency":"USD","buying_power":"387697.16","regt_buying_power":"193824.56","daytrading_buying_power":"387697.16","cash":"96912.28","portfolio_value":"96912.28","pattern_day_trader":false,"trading_blocked":false,"transfers_blocked":false,"account_blocked":false,"created_at":"2019-06-27T00:31:20.626651Z","trade_suspended_by_user":false,"multiplier":"4","shorting_enabled":true,"equity":"96912.28","last_equity":"96924.29","long_market_value":"0","short_market_value":"0","initial_margin":"0","maintenance_margin":"0","last_maintenance_margin":"0","sma":"0","daytrade_count":10}'
  recorded_at: 2020-06-18 20:26:36 GMT
  recorded_with: vcr/0.5.4.93, webmockr/0.6.2
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/account/portfolio/history?period=2M&timeframe=1D&date_end=2020-06-14&extended_hours=FALSE
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: 
      APCA-API-SECRET-KEY: 
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"timestamp":[1586871000,1586957400,1587043800,1587130200,1587389400,1587475800,1587562200,1587648600,1587735000,1587994200,1588080600,1588167000,1588253400,1588339800,1588599000,1588685400,1588771800,1588858200,1588944600,1589203800,1589290200,1589376600,1589463000,1589549400,1589808600,1589895000,1589981400,1590067800,1590154200,1590499800,1590586200,1590672600,1590759000,1591018200,1591104600,1591191000,1591277400,1591363800,1591623000,1591709400,1591795800,1591882200,1591968600],"equity":[97004.03,96767.99,97093.91,96483.78,96486.39,96486.77,96418.08,96520.42,96520.42,96520.42,96520.42,96520.42,96520.42,97534.06,96586,96551.43,96648.98,96648.98,96615.98,96781.54,96573.34,96573.34,96617.22,96752.76,96796.73,96796.73,96983.5,96971.18,96971.18,96963,96959.38,96959.38,96928.45,96928.45,96928.45,96928.45,96928.45,96928.45,96928.45,96928.45,96928.45,96928.45,96928.45],"profit_loss":[1496.44,-234.05,329.51,-607.13,2.61,0.38,0,37.01,0,0,0,0,0,1013.64,179.7,-34.57,78.07,0,-33,117.56,-208.2,0,0,51.82,43.97,0,99.05,-12.32,0,-8.18,-3.62,0,-30.93,0,0,0,0,0,0,0,0,0,0],"profit_loss_pct":[0,-0.002412786355371,0.0009841526816808572,-0.005275019583784939,-0.005248111100318744,-0.005244193390082305,-0.005244193390082305,-0.004862357199166342,-0.004862357199166342,-0.004862357199166342,-0.004862357199166342,-0.004862357199166342,-0.004862357199166342,0.005588398405177678,0.007441127956202329,0.00708054526519692,0.007894855091253924,0.007894855091253924,0.00755071767544244,0.008776681148254355,0.006606563737278379,0.006606563737278379,0.006606563737278379,0.007146450437939626,0.0076041555145261635,0.0076041555145261635,0.008635215051389774,0.008507086185660677,0.008507086185660677,0.00842201361085035,0.008384365356472195,0.008384365356472195,0.008062691183014468,0.008062691183014468,0.008062691183014468,0.008062691183014468,0.008062691183014468,0.008062691183014468,0.008062691183014468,0.008062691183014468,0.008062691183014468,0.008062691183014468,0.008062691183014468],"base_value":97004.03,"timeframe":"1D"}'
  recorded_at: 2020-06-18 20:26:36 GMT
  recorded_with: vcr/0.5.4.93, webmockr/0.6.2
