http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/orders/eb8ecefd-19e3-4bc0-986f-1eca03896858?status=open&direction=desc&nested=TRUE
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: 
      APCA-API-SECRET-KEY: 
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"eb8ecefd-19e3-4bc0-986f-1eca03896858","client_order_id":"3dd4a5d8-bf56-44e3-a9ce-ff4a14900733","created_at":"2020-06-23T19:12:11.199884Z","updated_at":"2020-06-23T19:12:11.634Z","submitted_at":"2020-06-23T19:12:11.186839Z","filled_at":"2020-06-23T19:12:11.625768Z","expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","symbol":"AMZN","asset_class":"us_equity","qty":"2","filled_qty":"2","filled_avg_price":"2774.68","order_class":"","order_type":"market","type":"market","side":"buy","time_in_force":"day","limit_price":null,"stop_price":null,"status":"filled","extended_hours":false,"legs":null}'
  recorded_at: 2020-06-23 19:12:38 GMT
  recorded_with: vcr/0.5.4.93, webmockr/0.6.2
- request:
    method: post
    uri: https://paper-api.alpaca.markets/v2/orders
    body:
      encoding: ''
      string: '{"symbol":"AMZN","qty":"2","side":"sell","type":"stop","time_in_force":"day","stop_price":"2635.946","client_order_id":"eb8ecefd-19e3-4bc0-986f-1eca03896858"}'
    headers:
      Content-Type: ''
      APCA-API-KEY-ID: 
      APCA-API-SECRET-KEY: 
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"39d7db7d-c8e6-4111-9f08-c2fff039f9e9","client_order_id":"eb8ecefd-19e3-4bc0-986f-1eca03896858","created_at":"2020-06-23T19:12:36.385159Z","updated_at":"2020-06-23T19:12:36.385159Z","submitted_at":"2020-06-23T19:12:36.380235Z","filled_at":null,"expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","symbol":"AMZN","asset_class":"us_equity","qty":"2","filled_qty":"0","filled_avg_price":null,"order_class":"","order_type":"stop","type":"stop","side":"sell","time_in_force":"day","limit_price":null,"stop_price":"2635.94","status":"accepted","extended_hours":false,"legs":null}'
  recorded_at: 2020-06-23 19:12:38 GMT
  recorded_with: vcr/0.5.4.93, webmockr/0.6.2
