http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/aggs/ticker/AMZN/range/1/year/2016-04-03/2020-04-03?unadjusted=APCA-PRO&apiKey=LqXUCWibUJs_F_qEKOPV3DV5opEISq4N
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"ticker":"AMZN","queryCount":505,"resultsCount":2,"adjusted":true,"results":[{"v":9.77608974e+08,"vw":1776.642,"o":1465.2,"c":1847.84,"h":2035.8,"l":1460.93,"t":1546318800000,"n":25572310},{"v":1.246690244e+09,"vw":2645.6062,"o":1875,"c":3256.93,"h":3552.25,"l":1626.0318,"t":1577854800000,"n":49141778}],"status":"OK","request_id":"d7f50fa6f196b8a27257163d6a948bfd","count":2}'
  recorded_at: 2021-05-28 23:43:49 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
