http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/calendar?start=2020-04-03&end=2020-04-04
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: 
      APCA-API-SECRET-KEY: 
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"date":"2020-04-03","open":"09:30","close":"16:00","session_open":"0700","session_close":"1900"}]'
  recorded_at: 2020-06-18 20:37:09 GMT
  recorded_with: vcr/0.5.4.93, webmockr/0.6.2
[...]
