http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/aggs/ticker/AMZN/range/1/month/2020-03-01/2020-04-01?unadjusted=APCA-PRO&apiKey=LqXUCWibUJs_F_qEKOPV3DV5opEISq4N
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 429
      category: Client error
      reason: Too Many Requests (RFC 6585)
      message: 'Client error: (429) Too Many Requests (RFC 6585)'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ERROR","request_id":"f4348a2451eb74385fa10b298745fda0","error":"You''ve
        exceeded the maximum requests per minute, please wait or upgrade your subscription
        to continue. https://polygon.io/pricing"}'
  recorded_at: 2021-05-28 23:44:53 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: https://api.polygon.io/v2/aggs/ticker/AMZN/range/1/month/2020-03-01/2020-04-01?unadjusted=APCA-PRO&apiKey=LqXUCWibUJs_F_qEKOPV3DV5opEISq4N
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"ticker":"AMZN","queryCount":43,"resultsCount":2,"adjusted":true,"results":[{"v":1.6365936e+08,"vw":1855.33,"o":1906.49,"c":1949.72,"h":1996.33,"l":1626.0318,"t":1583038800000,"n":4921917},{"v":1.24631178e+08,"vw":2253.0607,"o":1932.97,"c":2474,"h":2475,"l":1889.15,"t":1585713600000,"n":4188830}],"status":"OK","request_id":"a88090fb1b5dc907d083c0c0a206cc78","count":2}'
  recorded_at: 2021-05-28 23:44:53 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
