http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/aggs/ticker/AMZN/range/1/month/2019-12-01/2020-04-01?unadjusted=APCA-PRO&apiKey=LqXUCWibUJs_F_qEKOPV3DV5opEISq4N
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"ticker":"AMZN","queryCount":104,"resultsCount":5,"adjusted":true,"results":[{"v":6.8457363e+07,"vw":1793.8702,"o":1804.4,"c":1847.84,"h":1901.4,"l":1735,"t":1575176400000,"n":1642132},{"v":8.4827015e+07,"vw":1912.7869,"o":1875,"c":2008.72,"h":2055.72,"l":1815.34,"t":1577854800000,"n":2236381},{"v":9.2428028e+07,"vw":2040.886,"o":2010.6,"c":1883.75,"h":2185.95,"l":1811.129,"t":1580533200000,"n":2734507},{"v":1.6365936e+08,"vw":1855.33,"o":1906.49,"c":1949.72,"h":1996.33,"l":1626.0318,"t":1583038800000,"n":4921917},{"v":1.24631178e+08,"vw":2253.0607,"o":1932.97,"c":2474,"h":2475,"l":1889.15,"t":1585713600000,"n":4188830}],"status":"OK","request_id":"90875de2ed04b54dca8abb6432494fe1","count":5}'
  recorded_at: 2021-05-28 23:43:48 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
