http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/ticks/stocks/nbbo/MSFT/2008-04-15?limit=5&apiKey=
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"results":[{"t":1208246852800000000,"q":1076,"c":[2],"z":3,"p":20,"s":1,"x":11,"P":0,"S":0,"X":0},{"t":1208246875777000000,"q":1078,"c":[2],"z":3,"p":10,"s":1,"x":11,"P":0,"S":0,"X":0},{"t":1208246877527000000,"q":1079,"c":[2],"z":3,"p":10,"s":2,"x":11,"P":0,"S":0,"X":0},{"t":1208247302040000000,"q":1230,"c":[2],"z":3,"p":0,"s":0,"x":0,"P":29,"S":1,"X":11},{"t":1208247302040000000,"q":1235,"c":[2],"z":3,"p":0,"s":0,"x":0,"P":29,"S":2,"X":11}],"success":true,"map":{"y":{"name":"participant_timestamp","type":"int64"},"q":{"name":"sequence_number","type":"int"},"i":{"name":"indicators","type":"[]int"},"p":{"name":"bid_price","type":"float64"},"s":{"name":"bid_size","type":"int"},"x":{"name":"bid_exchange","type":"int"},"P":{"name":"ask_price","type":"float64"},"t":{"name":"sip_timestamp","type":"int64"},"X":{"name":"ask_exchange","type":"int"},"z":{"name":"tape","type":"int"},"S":{"name":"ask_size","type":"int"},"c":{"name":"conditions","type":"[]int"},"f":{"name":"trf_timestamp","type":"int64"}},"ticker":"MSFT","results_count":5,"db_latency":11}'
  recorded_at: 2020-06-18 20:37:40 GMT
  recorded_with: vcr/0.5.4.93, webmockr/0.6.2
