http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/ticks/stocks/trades/AAPL/2018-02-02?limit=5&apiKey=
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"results":[{"t":1517562000016036581,"y":1517562000015577088,"q":1063,"i":"1","x":11,"s":100,"c":[12,41],"p":171.55,"z":3},{"t":1517562000016038175,"y":1517562000015577600,"q":1064,"i":"2","x":11,"s":100,"c":[12,41],"p":171.55,"z":3},{"t":1517562000016048051,"y":1517562000015578112,"q":1065,"i":"3","x":11,"s":21,"c":[12,37],"p":171.55,"z":3},{"t":1517562000016057916,"y":1517562000015583232,"q":1066,"i":"4","x":11,"s":60,"c":[12,37],"p":171.55,"z":3},{"t":1517562000016068695,"y":1517562000015583744,"q":1067,"i":"5","x":11,"s":1,"c":[12,37],"p":171.55,"z":3}],"success":true,"map":{"c":{"name":"conditions","type":"[]int"},"i":{"name":"id","type":"string"},"r":{"name":"trf_id","type":"int"},"s":{"name":"size","type":"int"},"p":{"name":"price","type":"float64"},"f":{"name":"trf_timestamp","type":"int64"},"y":{"name":"participant_timestamp","type":"int64"},"q":{"name":"sequence_number","type":"int"},"I":{"name":"orig_id","type":"string"},"e":{"name":"correction","type":"int"},"x":{"name":"exchange","type":"int"},"z":{"name":"tape","type":"int"},"t":{"name":"sip_timestamp","type":"int64"}},"ticker":"AAPL","results_count":5,"db_latency":11}'
  recorded_at: 2020-06-18 20:37:40 GMT
  recorded_with: vcr/0.5.4.93, webmockr/0.6.2
