http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v1/last/stocks/BYND?apiKey=
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: |
        {"last":{"cond1":12,"cond2":37,"exchange":4,"price":157.7902,"size":24,"timestamp":1592512608828},"status":"success","symbol":"BYND"}
  recorded_at: 2020-06-18 20:37:40 GMT
  recorded_with: vcr/0.5.4.93, webmockr/0.6.2
