http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v1/marketstatus/upcoming?apiKey=
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"exchange":"NYSE","name":"Independence Day","date":"2020-07-03","status":"closed"},{"exchange":"NASDAQ","name":"Independence
        Day","date":"2020-07-03","status":"closed"},{"exchange":"OTC","name":"Independence
        Day","date":"2020-07-03","status":"closed"},{"exchange":"NASDAQ","name":"Labor
        Day","date":"2020-09-07","status":"closed"},{"exchange":"NYSE","name":"Labor
        Day","date":"2020-09-07","status":"closed"},{"exchange":"OTC","name":"Labor
        Day","date":"2020-09-07","status":"closed"},{"exchange":"NYSE","name":"Thanksgiving","date":"2020-11-26","status":"closed"},{"exchange":"NASDAQ","name":"Thanksgiving","date":"2020-11-26","status":"closed"},{"exchange":"OTC","name":"Thanksgiving","date":"2020-11-26","status":"closed"},{"exchange":"NASDAQ","name":"Thanksgiving","date":"2020-11-27","status":"early-close","open":"2020-11-27T14:30:00.000Z","close":"2020-11-27T18:00:00.000Z"},{"exchange":"NYSE","name":"Thanksgiving","date":"2020-11-27","status":"early-close","open":"2020-11-27T14:30:00.000Z","close":"2020-11-27T18:00:00.000Z"},{"exchange":"OTC","name":"Thanksgiving","date":"2020-11-27","status":"early-close","open":"2020-11-27T14:30:00.000Z","close":"2020-11-27T19:00:00.000Z"},{"exchange":"NYSE","name":"Christmas","date":"2020-12-24","status":"early-close","open":"2020-12-24T14:30:00.000Z","close":"2020-12-24T18:00:00.000Z"},{"exchange":"N[...]
