http_interactions:
- request:
    method: get
    uri: https://data.alpaca.markets/v1/last/stocks/TWTR
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: 
      APCA-API-SECRET-KEY: 
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"success","symbol":"TWTR","last":{"price":34.05,"size":25,"exchange":3,"cond1":37,"cond2":0,"cond3":0,"cond4":0,"timestamp":1592510397560999936}}'
  recorded_at: 2020-06-18 20:37:28 GMT
  recorded_with: vcr/0.5.4.93, webmockr/0.6.2
- request:
    method: get
    uri: https://data.alpaca.markets/v1/last/stocks/BYND
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: 
      APCA-API-SECRET-KEY: 
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"success","symbol":"BYND","last":{"price":158.05,"size":79,"exchange":15,"cond1":37,"cond2":0,"cond3":0,"cond4":0,"timestamp":1592510391912000000}}'
  recorded_at: 2020-06-18 20:37:28 GMT
  recorded_with: vcr/0.5.4.93, webmockr/0.6.2
- request:
    method: get
    uri: https://data.alpaca.markets/v1/last/stocks/AAPL
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: 
      APCA-API-SECRET-KEY: 
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"success","symbol":"AAPL","last":{"price":351.61,"size":100,"exchange":17,"cond1":0,"cond2":0,"cond3":0,"cond4":0,"timestamp":1592510399540999936}}'
  recorded_at: 2020-06-18 20:37:28 GMT
  recorded_with: vcr/0.5.4.93, webmockr/0.6.2
