http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v1/marketstatus/now?apiKey=
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"market":"extended-hours","serverTime":"2020-06-18T16:37:40-04:00","exchanges":{"nyse":"extended-hours","nasdaq":"extended-hours","otc":"extended-hours"},"currencies":{"fx":"open","crypto":"open"}}'
  recorded_at: 2020-06-18 20:37:39 GMT
  recorded_with: vcr/0.5.4.93, webmockr/0.6.2
