http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/aggs/ticker/BYND/range/1/hour/2020-01-05/2020-04-05?unadjusted=FALSE&apiKey=
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"ticker":"BYND","status":"OK","queryCount":5000,"resultsCount":114,"adjusted":true,"results":[{"v":1690,"vw":74,"o":74,"c":74,"h":74,"l":74,"t":1578301200000,"n":15},{"v":153,"vw":74.5,"o":74.5,"c":74.5,"h":74.5,"l":74.5,"t":1578304800000,"n":1},{"v":800,"vw":74.5297,"o":74.5,"c":74.5,"h":74.5,"l":74.5,"t":1578308400000,"n":4},{"v":7672,"vw":74.79708,"o":74.99,"c":74.8,"h":75.24,"l":74.61,"t":1578312000000,"n":47},{"v":5694,"vw":74.81105,"o":74.99,"c":74.69,"h":74.99,"l":74.6102,"t":1578315600000,"n":42},{"v":467523,"vw":74.57207,"o":74.7798,"c":73.96,"h":75.75,"l":73.88,"t":1578319200000,"n":4276},{"v[...]
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/calendar?start=2020-01-05&end=2020-04-05
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: 
      APCA-API-SECRET-KEY: 
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"date":"2020-01-06","open":"09:30","close":"16:00","session_open":"0700","session_close":"1900"},{"date":"2020-01-07","open":"09:30","close":"16:00","session_open":"0700","session_close":"1900"},{"date":"2020-01-08","open":"09:30","close":"16:00","session_open":"0700","session_close":"1900"},{"date":"2020-01-09","open":"09:30","close":"16:00","session_open":"0700","session_close":"1900"},{"date":"2020-01-10","open":"09:30","close":"16:00","session_open":"0700","session_close":"1900"},{"date":"2020-01-13","open":"09:30","close":"16:00","session_open":"0700","session_close":"1900"},{"[...]
[...]
