http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/orders/5279d6ad-45a0-42c7-9d59-cb3b2cf08e65?status=open&direction=desc&nested=TRUE
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: 
      APCA-API-SECRET-KEY: 
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"5279d6ad-45a0-42c7-9d59-cb3b2cf08e65","client_order_id":"81063372-b8cd-4007-a27c-1416cae52ed1","created_at":"2020-06-19T17:40:28.893699Z","updated_at":"2020-06-19T17:40:29.118918Z","submitted_at":"2020-06-19T17:40:28.849745Z","filled_at":"2020-06-19T17:40:29.077768Z","expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","symbol":"AMZN","asset_class":"us_equity","qty":"2","filled_qty":"2","filled_avg_price":"2673.52","order_class":"","order_type":"market","type":"market","side":"buy","time_in_force":"day","limit_price":null,"stop_price":null,"status":"filled","extended_hours":false,"legs":null}'
  recorded_at: 2020-06-19 17:40:53 GMT
  recorded_with: vcr/0.5.4.93, webmockr/0.6.2
- request:
    method: post
    uri: https://paper-api.alpaca.markets/v2/orders
    body:
      encoding: ''
      string: '{"symbol":"AMZN","qty":"2","side":"sell","type":"stop","time_in_force":"day","stop_price":"2522.25","client_order_id":"5279d6ad-45a0-42c7-9d59-cb3b2cf08e65"}'
    headers:
      Content-Type: ''
      APCA-API-KEY-ID: 
      APCA-API-SECRET-KEY: 
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"72666e2a-9c15-4f6b-b23e-a2fbd5a4b2f8","client_order_id":"5279d6ad-45a0-42c7-9d59-cb3b2cf08e65","created_at":"2020-06-19T17:40:52.298843Z","updated_at":"2020-06-19T17:40:52.298843Z","submitted_at":"2020-06-19T17:40:52.295595Z","filled_at":null,"expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","symbol":"AMZN","asset_class":"us_equity","qty":"2","filled_qty":"0","filled_avg_price":null,"order_class":"","order_type":"stop","type":"stop","side":"sell","time_in_force":"day","limit_price":null,"stop_price":"2522.25","status":"accepted","extended_hours":false,"legs":null}'
  recorded_at: 2020-06-19 17:40:53 GMT
  recorded_with: vcr/0.5.4.93, webmockr/0.6.2
