http_interactions:
- request:
    method: post
    uri: https://paper-api.alpaca.markets/v2/orders
    body:
      encoding: ''
      string: '{"symbol":"AMZN","qty":"2","side":"buy","type":"market","time_in_force":"day"}'
    headers:
      Content-Type: ''
      APCA-API-KEY-ID: 
      APCA-API-SECRET-KEY: 
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"ebb75006-3444-43d6-92de-a29d26405d96","client_order_id":"cf6a2078-adeb-498e-a521-6f2f199abe76","created_at":"2020-06-23T19:13:05.148698Z","updated_at":"2020-06-23T19:13:05.148698Z","submitted_at":"2020-06-23T19:13:05.127472Z","filled_at":null,"expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","symbol":"AMZN","asset_class":"us_equity","qty":"2","filled_qty":"0","filled_avg_price":null,"order_class":"","order_type":"market","type":"market","side":"buy","time_in_force":"day","limit_price":null,"stop_price":null,"status":"accepted","extended_hours":false,"legs":null}'
  recorded_at: 2020-06-23 19:13:11 GMT
  recorded_with: vcr/0.5.4.93, webmockr/0.6.2
- request:
    method: post
    uri: https://paper-api.alpaca.markets/v2/orders
    body:
      encoding: ''
      string: '{"symbol":"AMZN","qty":"2","side":"sell","type":"limit","time_in_force":"day","order_class":"oco","take_profit":{"limit_price":"2857.9204"},"stop_loss":{"stop_price":"2663.6928"}}'
    headers:
      Content-Type: ''
      APCA-API-KEY-ID: 
      APCA-API-SECRET-KEY: 
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"697df140-1944-4848-82b0-1da091f1102c","client_order_id":"16ec9303-67ba-466b-8bc3-4a38db4030df","created_at":"2020-06-23T19:13:[...]
