http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/orders?status=all&direction=desc&nested=TRUE
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: 
      APCA-API-SECRET-KEY: 
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":"eb8ecefd-19e3-4bc0-986f-1eca03896858","client_order_id":"3dd4a5d8-bf56-44e3-a9ce-ff4a14900733","created_at":"2020-06-23T19:12:11.199884Z","updated_at":"2020-06-23T19:12:11.634Z","submitted_at":"2020-06-23T19:12:11.186839Z","filled_at":"2020-06-23T19:12:11.625768Z","expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","symbol":"AMZN","asset_class":"us_equity","qty":"2","filled_qty":"2","filled_avg_price":"2774.68","order_class":"","order_type":"market","type":"market","side":"buy","time_in_force":"day","limit_price":null,"stop_price":null,"status":"filled","extended_hours":false,"legs":null},{"id":"1cc0323d-2be5-45ae-a74f-a354126f87e4","client_order_id":"6b6edb0f-9ddb-4fb8-8ce8-0dd3085463df","created_at":"2020-06-19T17:40:52.298843Z","updated_at":"2020-06-19T20:00:22.484604Z","submitted_at":"2020-06-19T17:40:59.119832Z","filled_at":null,"expired_at":null,"canceled_at":"2020-06-19T20:00:18.778316Z","failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":"72666e2a-9c15-4f6b-b23e-a2fbd5a4b2f8","asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","symbol":"AMZN","asset_clas[...]
