http_interactions:
- request:
    method: patch
    uri: https://paper-api.alpaca.markets/v2/orders/39d7db7d-c8e6-4111-9f08-c2fff039f9e9
    body:
      encoding: ''
      string: '{"qty":"1","time_in_force":"day","stop_price":"2635.946"}'
    headers:
      Content-Type: ''
      APCA-API-KEY-ID: 
      APCA-API-SECRET-KEY: 
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"fa5a6ccd-d5ad-4fd0-973e-4b01048c2e2c","client_order_id":"7c0982c4-eedb-45ac-9bdb-cf45833610cf","created_at":"2020-06-23T19:12:36.385159Z","updated_at":"2020-06-23T19:12:43.398054056Z","submitted_at":"2020-06-23T19:12:43.398021298Z","filled_at":null,"expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":"39d7db7d-c8e6-4111-9f08-c2fff039f9e9","asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","symbol":"AMZN","asset_class":"us_equity","qty":"1","filled_qty":"0","filled_avg_price":null,"order_class":"","order_type":"stop","type":"stop","side":"sell","time_in_force":"day","limit_price":null,"stop_price":"2635.94","status":"new","extended_hours":false,"legs":null}'
  recorded_at: 2020-06-23 19:12:45 GMT
  recorded_with: vcr/0.5.4.93, webmockr/0.6.2
