http_interactions:
- request:
    method: patch
    uri: https://paper-api.alpaca.markets/v2/orders/72666e2a-9c15-4f6b-b23e-a2fbd5a4b2f8
    body:
      encoding: ''
      string: '{"qty":"1","time_in_force":"day","stop_price":"2522.25"}'
    headers:
      Content-Type: ''
      APCA-API-KEY-ID: 
      APCA-API-SECRET-KEY: 
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"1cc0323d-2be5-45ae-a74f-a354126f87e4","client_order_id":"6b6edb0f-9ddb-4fb8-8ce8-0dd3085463df","created_at":"2020-06-19T17:40:52.298843Z","updated_at":"2020-06-19T17:40:59.119892608Z","submitted_at":"2020-06-19T17:40:59.119832232Z","filled_at":null,"expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":"72666e2a-9c15-4f6b-b23e-a2fbd5a4b2f8","asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","symbol":"AMZN","asset_class":"us_equity","qty":"1","filled_qty":"0","filled_avg_price":null,"order_class":"","order_type":"stop","type":"stop","side":"sell","time_in_force":"day","limit_price":null,"stop_price":"2522.25","status":"new","extended_hours":false,"legs":null}'
  recorded_at: 2020-06-19 17:41:02 GMT
  recorded_with: vcr/0.5.4.93, webmockr/0.6.2
