http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/orders?status=open&direction=desc&nested=TRUE
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: 
      APCA-API-SECRET-KEY: 
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":"697df140-1944-4848-82b0-1da091f1102c","client_order_id":"16ec9303-67ba-466b-8bc3-4a38db4030df","created_at":"2020-06-23T19:13:08.222168Z","updated_at":"2020-06-23T19:13:08.388407Z","submitted_at":"2020-06-23T19:13:08.216237Z","filled_at":null,"expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","symbol":"AMZN","asset_class":"us_equity","qty":"2","filled_qty":"0","filled_avg_price":null,"order_class":"oco","order_type":"limit","type":"limit","side":"sell","time_in_force":"day","limit_price":"2857.92","stop_price":null,"status":"new","extended_hours":false,"legs":[{"id":"58a07926-1500-4e7b-bbcf-f0c11dc9cf4c","client_order_id":"6cf2133e-3a7c-41bb-ba30-83f125072f0a","created_at":"2020-06-23T19:13:08.222168Z","updated_at":"2020-06-23T19:13:08.222168Z","submitted_at":"2020-06-23T19:13:08.216237Z","filled_at":null,"expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","symbol":"AMZN","asset_class":"us_equity","qty":"2","filled_qty":"0","filled_avg_price":null,"order_class":"oco","order_type":"stop","type":"stop","side":"sell","time_in_force":"day","limit_price":null,"stop_price":"2663.6928","status":"held","extended_hours":false,"legs":null}]}]'
  recorded_at: 2020-06-23 19:13:28 GMT
  recorded_with: vcr/0.5.4.93, webmockr/0.6.2
