http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v1/last_quote/stocks/BYND?apiKey=
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: |
        {"last":{"askexchange":3,"askprice":153.24,"asksize":1,"bidexchange":11,"bidprice":153.16,"bidsize":1,"timestamp":1592939593701},"status":"success","symbol":"BYND"}
  recorded_at: 2020-06-23 19:13:17 GMT
  recorded_with: vcr/0.5.4.93, webmockr/0.6.2
