http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/positions/AMZN
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-API-KEY-ID
      APCA-API-SECRET-KEY: APCA-PAPER-API-SECRET-KEY
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","symbol":"AMZN","exchange":"NASDAQ","asset_class":"us_equity","qty":"1","avg_entry_price":"3316.55","side":"long","market_value":"3315.31","cost_basis":"3316.55","unrealized_pl":"-1.24","unrealized_plpc":"-0.0003738824983793","unrealized_intraday_pl":"-1.24","unrealized_intraday_plpc":"-0.0003738824983793","current_price":"3315.31","lastday_price":"3294","change_today":"0.0064693381906497"}'
  recorded_at: 2021-01-26 16:22:02 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
- request:
    method: delete
    uri: https://paper-api.alpaca.markets/v2/positions?cancel_orders=TRUE
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
      APCA-API-KEY-ID: APCA-PAPER-API-KEY-ID
      APCA-API-SECRET-KEY: APCA-PAPER-API-SECRET-KEY
  response:
    status:
      status_code: 207
      category: Success
      reason: Multi-Status (WebDAV; RFC 4918)
      message: 'Success: (207) Multi-Status (WebDAV; RFC 4918)'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"symbol":"72755dd4-17e4-4e38-8953-fb5d0fa9e08e","status":200,"body":{"asset_class":"us_equity","asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","canceled_at":null,"client_order_id":"e7144494-e70b-47e9-b50a-1c4fc1c75491","created_at":"2021-01-26T16:12:01.43548Z","expired_at":null,"extended_hours":false,"failed_at":null,"filled_at":"2021-01-26T16:12:01.508747Z","filled_avg_price":"3316.55","filled_qty":"1","hwm":null,"id":"723d38b9-ba12-44ba-b203-172ea1de6d35","legs":[{"asset_class":"us_equity","asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","canceled_at":null,"client_order_id":"10947c68-8f47-4f21-bdf2-9c9136e7d236","created_at":"2021-01-26T16:12:01.43548Z","expired_at":null,"extended_hours":false,"failed_at":null,"filled_at":null,"filled_avg_price":null,"filled_qty":"0","hwm":null,"id":"72755dd4-17e4-4e38-8953-fb5d0fa9e08e","legs":null,"limit_price":"3482.3775","order_class":"bracket","order_type":"limit","qty":"1","replaced_at":null,"replaced_by":null,"replaces":null,"side":"sell","status":"new","stop_price":null,"submitted_at":"2021-01-26T16:12:01.523989Z","symbol":"AMZN","time_in_force":"day","trail_percent":null,"trail_price":null,"type":"limit","updated_at":"2021-01-26T16:12:01.536501Z"},{"asset_class":"us_equity","asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","canceled_at":null,"client_order_id":"330cb640-60a5-4647-b503-a76b04e70091","created_at":"2021-01-26T16:12:01.43548Z","expired_at":null,"extended_hours":false,"failed_at":null,"filled_at":null,"filled_avg_price":null,"filled_qty":"0","hwm":null,"id":"fc939126-39c4-4d0e-b1b5-6cea1a9b74ea","legs":null,"limit_price":"3150.7225","order_class":"bracket","order_type":"stop_limit","qty":"1","repl[...]
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/orders?status=all&direction=desc&nested=TRUE
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-API-KEY-ID
      APCA-API-SECRET-KEY: APCA-PAPER-API-SECRET-KEY
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      [...]
