http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v1/last_quote/stocks/AMZN?apiKey=APCA-LIVE-API-KEY-ID
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"last":{"askexchange":11,"askprice":3316.55,"asksize":1,"bidexchange":20,"bidprice":3315.32,"bidsize":1,"timestamp":1611677518832},"request_id":"1e40a49476c669e0916a9e97869b6f5b","status":"success","symbol":"AMZN"}'
  recorded_at: 2021-01-26 16:11:58 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
