http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/clock
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: 
      APCA-API-SECRET-KEY: 
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"timestamp":"2020-06-18T16:38:20.867647122-04:00","is_open":false,"next_open":"2020-06-19T09:30:00-04:00","next_close":"2020-06-19T16:00:00-04:00"}'
  recorded_at: 2020-06-18 20:38:20 GMT
  recorded_with: vcr/0.5.4.93, webmockr/0.6.2
