http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/snapshot/locale/us/markets/stocks/gainers?apiKey=
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"OK","tickers":[{"day":{"c":10.95,"h":15,"l":8.7,"o":14.05,"v":40332340,"vw":11.8629},"lastQuote":{"P":11.3,"S":28,"p":11.16,"s":5,"t":1592512695006180446},"lastTrade":{"c":[12,41],"i":"9909","p":11.29,"s":100,"t":1592512683480328216,"x":19},"min":{"av":40332340,"c":11.3,"h":11.3,"l":11.3,"o":11.3,"v":1229,"vw":11.2964},"prevDay":{"c":4.66,"h":4.8499,"l":4.06,"o":4.16,"v":49453,"vw":4.421},"ticker":"ALPN","todaysChange":6.63,"todaysChangePerc":142.275,"updated":1592512683480328216},{"day":{"c":25,"h":35.5,"l":10.5,"o":10.6,"v":58257793,"vw":24.7142},"lastQuote":{"P":29.99,"S":1,"p":29.3,"s":1,"t":1592512694973064263},"lastTrade":{"c":[12],"i":"145605","p":29.27,"s":210,"t":1592512693634961920,"x":12},"min":{"av":58257793,"c":29.32,"h":30.08,"l":29.26,"o":30.08,"v":8200,"vw":29.5623},"prevDay":{"c":12.71,"h":22,"l":11.76,"o":22,"v":7584715,"vw":16.9026},"ticker":"UONE","todaysChange":16.56,"todaysChangePerc":130.291,"updated":1592512693634961920},{"day"[...]
