http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/reference/financials/BYND?limit=5&apiKey=
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"OK","results":[{"ticker":"BYND","period":"YA","calendarDate":"2019-12-31","reportPeriod":"2019-12-31","updated":"2020-03-19","dateKey":"2019-12-31","accumulatedOtherComprehensiveIncome":0,"assets":451923000,"assetsAverage":357245500,"assetsCurrent":403594000,"assetsNonCurrent":48329000,"assetTurnover":0.834,"bookValuePerShare":9.086,"capitalExpenditure":-25918000,"cashAndEquivalents":275988000,"cashAndEquivalentsUSD":275988000,"costOfRevenue":198141000,"consolidatedIncome":-12443000,"currentRatio":8.462,"debtToEquityRatio":0.177,"debt":31208000,"debtCurrent":11072000,"debtNonCurrent":20136000,"debtUSD":31208000,"deferredRevenue":0,"depreciationAmortizationAndAccretion":8106000,"deposits":0,"dividendYield":0,"dividendsPerBasicCommonShare":0,"earningBeforeInterestTaxes":-9363000,"earningsBeforeInterestTaxesDepreciationAmortization":-1257000,"EBITDAMargin":-0.004,"earningsBeforeInterestTaxesDepreciationAmortizationUSD":-1257000,"earningBeforeInterestTaxesUSD":-9363000,"earningsBeforeTax":-12434000,"earningsPerBasicShare":-0.29,"earningsPerDilutedShare":-0.29,"earningsPerBasicShareUSD":-0.29,"shareholdersEquity":384090000,"averageEquity":241381250,"shareholdersEquityUSD":384090000,"enterpriseValue":4369543547,"enterpriseValueOverEBIT":-467,"enterpriseValueOverEBITDA":-3476.168,"freeCashFlow":-72913000,"freeCashFlowPerShare":-1.725,"foreignCurrencyUSDExchangeRate":1,"grossProfit":99756000,"grossMargin":0.335,"goodwillAndIntangibleAssets":0,"interestExpense":3071000,"investedCapital":159446000,"investedCapitalAverage":121463500,"inventory":81596000,"investments":0,"investmentsCurrent":0,"investmentsNonCurrent":0,"totalLiabilities":67833000,"currentLiabilities":47697000,"liabilitiesNonCurrent":20136000,"marketCapitalization":4651056547,"netCashFlow":221717000,"netCashFlowBusinessAcquisitionsDisposals":299000,"issuanceEquityShares":294931000,"issuanceDebtSecurities":-55000,"paymentDividendsOtherCashDistributions":0,"netCashFlowFromFinancing":294876000,"netCashFlowFromInvesting":-26164000,"netCashFlowInvestmentAcquisitionsDisposals":0,"netCashFlowFromOperations":-46995000,"effectOfExchangeRateChangesOnCash":0,"netIncome":-12443000,"netIncomeCommonStock":-12443000,"netIncomeCommonStockUSD":-12443000,"netLossIncomeFromDiscontinuedOperations":0,"netIncomeToNonControllingInterests":0,"profitMargin":-0.042,"operatingExpenses":100245000,"operatingIncome":-489000,"tradeAndNonTradePayables":28691000,"payoutRatio":0,"priceToBookValue":12.109,"priceEarnings":-373.789,"priceToEarningsRatio":-260.69,"propertyPlantEquipmentNet":47474000,"preferredDividendsIncomeStatementImpact":0,"sharePriceAdjustedClose":75.6,"priceSales":15.613,"priceToSalesRatio":10.728,"tradeAndNonTradeReceivables":40080000,"accumulatedRetainedEarningsDeficit":-142115000,"revenues":297897000,"revenuesUSD":297897000,"researchAndDevelopmentExpense":20650000,"returnOnAverageAssets":-0.035,"returnOnAverageEquity":-0.052,"returnOnInvestedCapital":-0.077,"returnOnSales":-0.031,"shareBasedCompensation":12807000,"sellingGeneralAndAdministrativeExpense":74726000,"shareFactor":1,"shares":61521912,"weightedAverageShares":42274777,"weightedAverageSharesDiluted":42274777,"salesPerShare":7.047,"tangibleAssetValue":451923000,"taxAssets":0,"incomeTaxExpense":9000,"taxLiabilities":0,"tangibleAssetsBookValuePerShare":10.69,"workingCapital":355897000},{"ticker":"BYND","period":"Q","calendarDate":"2019-12-31","reportPeriod":"2019-12-31","updated":"2020-03-19","dateKey":"2020-03-19","accumulatedOtherComprehensiveIncome":0,"assets":451923000,"assetsCurrent":403594000,"assetsNonCurrent":48329000,"bookValuePerShare":9.086,"capitalExpenditure":-9307000,"cashAndEquivalents":275988000,"cashAndEquivalentsUSD":275988000,"costOfRevenue":65018000,"consolidatedIncome":-452000,"currentRatio":8.462,"debtToEquityRatio":0.177,"debt":31208000,"debtC[...]
