http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/watchlists
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: 
      APCA-API-SECRET-KEY: 
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":"f2da8074-ccac-4636-8144-23b5782cd682","account_id":"0ef8f355-319d-4de7-8d32-03f1e7e5aa69","created_at":"2020-05-27T11:43:43.331111Z","updated_at":"2020-05-27T11:43:43.331111Z","name":"Primary"},{"id":"b7ce6129-57bf-411e-9699-09f519e9cf2f","account_id":"0ef8f355-319d-4de7-8d32-03f1e7e5aa69","created_at":"2020-06-18T20:38:21.149314Z","updated_at":"2020-06-18T20:38:21.149314Z","name":"test"}]'
  recorded_at: 2020-06-18 20:38:21 GMT
  recorded_with: vcr/0.5.4.93, webmockr/0.6.2
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/watchlists/b7ce6129-57bf-411e-9699-09f519e9cf2f
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: 
      APCA-API-SECRET-KEY: 
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"b7ce6129-57bf-411e-9699-09f519e9cf2f","account_id":"0ef8f355-319d-4de7-8d32-03f1e7e5aa69","created_at":"2020-06-18T20:38:21.149314Z","updated_at":"2020-06-18T20:38:21.149314Z","name":"test","assets":[{"id":"b6d1aa75-5c9c-4353-a305-9e2caa1925ab","class":"us_equity","exchange":"NASDAQ","symbol":"MSFT","name":"Microsoft
        Corporation Common Stock","status":"active","tradable":true,"marginable":true,"shortable":true,"easy_to_borrow":true}]}'
  recorded_at: 2020-06-18 20:38:21 GMT
  recorded_with: vcr/0.5.4.93, webmockr/0.6.2
