http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/reference/tickers?search=Tesla&market=stocks&sort=ticker&perpage=50&page=1&apiKey=
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"page":1,"perPage":50,"count":3,"status":"OK","tickers":[{"ticker":"TSLA","name":"Tesla
        Inc","market":"STOCKS","locale":"US","currency":"USD","active":true,"primaryExch":"NASDAQ","updated":"2020-06-18","codes":{"cik":"0001318605","figiuid":"EQ0000000003531703","scfigi":"BBG001SQKGD7","cfigi":"BBG000N9MNX3","figi":"BBG000N9P426"},"url":"https://api.polygon.io/v2/tickers/TSLA"},{"ticker":"TXLZF","name":"Tesla
        Exploration Ltd","market":"STOCKS","locale":"US","currency":"USD","active":true,"primaryExch":"OTC","updated":"2020-06-18","codes":{"figiuid":"EQ0000000002734426","scfigi":"BBG001S98HD7","cfigi":"BBG000D5Z291","figi":"BBG000D61CJ3"},"url":"https://api.polygon.io/v2/tickers/TXLZF"},{"ticker":"AERO","name":"Aerodrom
        Nikola Tesla a.d. Beograd","market":"STOCKS","locale":"US","currency":"RSD","active":true,"primaryExch":"OTC","updated":"2020-06-18","codes":{"figiuid":"EQ0000000016713838","scfigi":"BBG001V0BY14","cfigi":"BBG001HS4Y44","figi":"BBG001HS4Y53"},"url":"https://api.polygon.io/v2/tickers/AERO"}]}'
  recorded_at: 2020-06-18 20:37:37 GMT
  recorded_with: vcr/0.5.4.93, webmockr/0.6.2
