http_interactions:
- request:
    method: post
    uri: https://paper-api.alpaca.markets/v2/orders
    body:
      encoding: ''
      string: '{"symbol":"AMZN","qty":"1","side":"buy","type":"market","time_in_force":"day"}'
    headers:
      Content-Type: ''
      APCA-API-KEY-ID: APCA-PAPER-API-KEY-ID
      APCA-API-SECRET-KEY: APCA-PAPER-API-SECRET-KEY
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"831b17ed-15c0-4bf1-b69b-d14e01fb08b5","client_order_id":"b5660d29-3391-4418-a546-460ba81829ee","created_at":"2021-01-26T19:22:00.12517Z","updated_at":"2021-01-26T19:22:00.12517Z","submitted_at":"2021-01-26T19:22:00.118482Z","filled_at":null,"expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","symbol":"AMZN","asset_class":"us_equity","qty":"1","filled_qty":"0","filled_avg_price":null,"order_class":"","order_type":"market","type":"market","side":"buy","time_in_force":"day","limit_price":null,"stop_price":null,"status":"accepted","extended_hours":false,"legs":null,"trail_percent":null,"trail_price":null,"hwm":null}'
  recorded_at: 2021-01-26 19:22:06 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/positions
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-API-KEY-ID
      APCA-API-SECRET-KEY: APCA-PAPER-API-SECRET-KEY
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","symbol":"AMZN","exchange":"NASDAQ","asset_class":"us_equity","qty":"2","avg_entry_price":"3336.26","side":"long","market_value":"6671.28","cost_basis":"6672.52","unrealized_pl":"-1.24","unrealized_plpc":"-0.0001858368352586","unrealized_intraday_pl":"-1.24","unrealized_intraday_plpc":"-0.0001858368352586","current_price":"3335.64","lastday_price":"3294","change_today":"0.0126411657559199"}]'
  recorded_at: 2021-01-26 19:22:06 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
