http_interactions:
- request:
    method: delete
    uri: https://paper-api.alpaca.markets/v2/positions/AMZN
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
      APCA-API-KEY-ID: APCA-PAPER-API-KEY-ID
      APCA-API-SECRET-KEY: APCA-PAPER-API-SECRET-KEY
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"b259dd9d-d3bf-4ff7-8de7-e8aa4a2285e7","client_order_id":"f045f5ca-d7dd-4b74-9747-6b3e25e939ba","created_at":"2021-01-26T19:22:08.126708Z","updated_at":"2021-01-26T19:22:08.126708Z","submitted_at":"2021-01-26T19:22:08.124981Z","filled_at":null,"expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","symbol":"AMZN","asset_class":"us_equity","qty":"2","filled_qty":"0","filled_avg_price":null,"order_class":"","order_type":"market","type":"market","side":"sell","time_in_force":"day","limit_price":null,"stop_price":null,"status":"accepted","extended_hours":false,"legs":null,"trail_percent":null,"trail_price":null,"hwm":null}'
  recorded_at: 2021-01-26 19:22:07 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
