http_interactions:
- request:
    method: post
    uri: https://paper-api.alpaca.markets/v2/orders
    body:
      encoding: ''
      string: '{"symbol":"AMZN","qty":"1","side":"buy","type":"market","time_in_force":"day","order_class":"bracket","take_profit":{"limit_price":"3503.01"},"stop_loss":{"limit_price":"3169.39","stop_price":"3202.752"}}'
    headers:
      Content-Type: ''
      APCA-API-KEY-ID: APCA-PAPER-API-KEY-ID
      APCA-API-SECRET-KEY: APCA-PAPER-API-SECRET-KEY
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"64a621ac-ddd0-42c4-8ac3-151b382dbb5e","client_order_id":"e2ae8553-7731-4748-9a50-9db29c28221d","created_at":"2021-01-26T19:22:11.23732Z","updated_at":"2021-01-26T19:22:11.25418Z","submitted_at":"2021-01-26T19:22:11.191294Z","filled_at":null,"expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","symbol":"AMZN","asset_class":"us_equity","qty":"1","filled_qty":"0","filled_avg_price":null,"order_class":"bracket","order_type":"market","type":"market","side":"buy","time_in_force":"day","limit_price":null,"stop_price":null,"status":"accepted","extended_hours":false,"legs":[{"id":"bd2afead-e36a-43c7-b70e-6c22937dbdc1","client_order_id":"a2b03c64-9916-489b-a8f9-aa3f56daed48","created_at":"2021-01-26T19:22:11.23732Z","updated_at":"2021-01-26T19:22:11.23732Z","submitted_at":"2021-01-26T19:22:11.191294Z","filled_at":null,"expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","symbol":"AMZN","asset_class":"us_equity","qty":"1","filled_qty":"0","filled_avg_price":null,"order_class":"bracket","order_type":"limit","type":"limit","side":"sell","time_in_force":"day","limit_price":"3503.01","stop_price":null,"status":"held","extended_hours":false,"legs":null,"trail_percent":null,"trail_price":null,"hwm":null},{"id":"c37c7849-63f0-4856-a003-48da21187e25","client_order_id":"ca6cce24-9e33-4022-a9a7-9f6d85573def","created_at":"2021-01-26T19:22:11.23732Z","updated_at":"2021-01-26T19:22:11.23732Z","submitted_at":"2021-01-26T19:22:11.191294Z","filled_at":null,"expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","symbol":"AMZN","asset_class":"us_equity","qty":"1","filled_qty":"0","filled_avg_price":null,"order_class":"bracket","order_type":"stop_limit","type":"stop_limit","side":"sell","time_in_force":"day","limit_price":"3169.39","stop_price":"3202.752","status":"held","extended_hours":false,"legs":null,"trail_percent":null,"trail_price":null,"hwm":null}],"trail_percent":null,"trail_price":null,"hwm":null}'
  recorded_at: 2021-01-26 19:22:10 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
