http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/clock
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-API-KEY-ID
      APCA-API-SECRET-KEY: APCA-PAPER-API-SECRET-KEY
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"timestamp":"2021-01-26T14:22:07.538605532-05:00","is_open":true,"next_open":"2021-01-27T09:30:00-05:00","next_close":"2021-01-26T16:00:00-05:00"}'
  recorded_at: 2021-01-26 19:22:06 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
