http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v1/last_quote/stocks/AMZN?apiKey=APCA-LIVE-API-KEY-ID
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"last":{"askexchange":12,"askprice":3336.2,"asksize":1,"bidexchange":12,"bidprice":3334.45,"bidsize":1,"timestamp":1611688928855},"request_id":"f9a52a3ec8e9dd0d7dce1a2fea1e19eb","status":"success","symbol":"AMZN"}'
  recorded_at: 2021-01-26 19:22:08 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
