http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/aggs/ticker/AMZN/range/2/month/2019-08-01/2020-04-01?unadjusted=FALSE&apiKey=APCA-LIVE-API-KEY-ID
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"ticker":"AMZN","queryCount":209,"resultsCount":6,"adjusted":true,"results":[{"v":1.4198133e+08,"vw":1793.5617,"o":1871.72,"c":1735.91,"h":1897.92,"l":1709.22,"t":1564632000000,"n":4111033},{"v":1.24165289e+08,"vw":1757.6428,"o":1746,"c":1800.8,"h":1824.69,"l":1685.06,"t":1569902400000,"n":3540236},{"v":1.53284378e+08,"vw":1859.6783,"o":1804.4,"c":2008.72,"h":2055.72,"l":1735,"t":1575176400000,"n":3878513},{"v":2.44837675e+08,"vw":1920.5883,"o":2010.6,"c":1900.1,"h":2185.95,"l":1626.0318,"t":1580533200000,"n":7330286},{"v":1.1249713e+07,"vw":1959.5899,"o":1922.83,"c":1949.72,"h":1993.02,"l":1912.34,"t":1583038800000,"n":326138},{"v":2.07247168e+08,"vw":2306.9746,"o":1932.97,"c":2442.37,"h":2525.45,"l":1889.15,"t":1585713600000,"n":7223856}],"status":"OK","request_id":"59443b2e7e21afd8eaab292c573bd911","count":6}'
  recorded_at: 2021-01-18 15:16:52 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
