http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/aggs/ticker/AMZN/range/2/month/2020-03-01/2020-04-01?unadjusted=FALSE&apiKey=APCA-LIVE-API-KEY-ID
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"ticker":"AMZN","queryCount":43,"resultsCount":1,"adjusted":true,"results":[{"v":2.88290538e+08,"vw":2027.2734,"o":1906.49,"c":2474,"h":2475,"l":1626.0318,"t":1583038800000,"n":9110747}],"status":"OK","request_id":"9107d2668f30c6db67baf94f7046dfae","count":1}'
  recorded_at: 2021-01-18 15:17:13 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
