http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/aggs/ticker/AMZN/range/1/day/2020-03-30/2020-04-03?unadjusted=FALSE&apiKey=APCA-LIVE-API-KEY-ID
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"ticker":"AMZN","queryCount":5,"resultsCount":5,"adjusted":true,"results":[{"v":6.126087e+06,"vw":1953.4227,"o":1922.83,"c":1963.95,"h":1973.63,"l":1912.34,"t":1585540800000,"n":170631},{"v":5.123626e+06,"vw":1966.9637,"o":1964.35,"c":1949.72,"h":1993.02,"l":1944.01,"t":1585627200000,"n":155507},{"v":4.121875e+06,"vw":1917.9707,"o":1932.97,"c":1907.7,"h":1944.96,"l":1893,"t":1585713600000,"n":141417},{"v":4.335985e+06,"vw":1911.2525,"o":1901.64,"c":1918.83,"h":1927.5258,"l":1890,"t":1585800000000,"n":123267},{"v":3.60987e+06,"vw":1903.6781,"o":1911.15,"c":1906.59,"h":1926.33,"l":1889.15,"t":1585886400000,"n":113599}],"status":"OK","request_id":"c03c8a0c7bd17a348e949613a5685f4b","count":5}'
  recorded_at: 2021-01-18 15:16:49 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
