http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/aggs/ticker/AMZN/range/15/minute/2020-04-03/2020-04-03?unadjusted=FALSE&apiKey=APCA-LIVE-API-KEY-ID
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"ticker":"AMZN","queryCount":484,"resultsCount":51,"adjusted":true,"results":[{"v":768,"vw":1909.1359,"o":1909.95,"c":1909.95,"h":1909.95,"l":1909.95,"t":1585908000000,"n":17},{"v":657,"vw":1907.9698,"o":1908.99,"c":1909.57,"h":1909.57,"l":1908.99,"t":1585911600000,"n":38},{"v":1137,"vw":1906.9069,"o":1907.21,"c":1906.12,"h":1908.25,"l":1906.12,"t":1585912500000,"n":51},{"v":3845,"vw":1909.9724,"o":1909.84,"c":1909.9,"h":1910.11,"l":1909.84,"t":1585913400000,"n":61},{"v":3212,"vw":1915.1163,"o":1911.96,"c":1919,"h":1919,"l":1911.1,"t":1585914300000,"n":121},{"v":6254,"vw":1912.0918,"o"[...]
