http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/aggs/ticker/AMZN/range/1/month/2020-03-01/2020-04-01?unadjusted=APCA-PRO&apiKey=LqXUCWibUJs_F_qEKOPV3DV5opEISq4N
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"ticker":"AMZN","queryCount":43,"resultsCount":2,"adjusted":true,"results":[{"v":1.6365936e+08,"vw":1855.33,"o":1906.49,"c":1949.72,"h":1996.33,"l":1626.0318,"t":1583038800000,"n":4921917},{"v":1.24631178e+08,"vw":2253.0607,"o":1932.97,"c":2474,"h":2475,"l":1889.15,"t":1585713600000,"n":4188830}],"status":"OK","request_id":"6e9a3af9546d983d5b3d074e9f222e99","count":2}'
  recorded_at: 2021-06-12 13:59:51 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
