http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/aggs/ticker/AMZN/range/2/week/2020-03-23/2020-03-30?unadjusted=FALSE&apiKey=APCA-LIVE-API-KEY-ID
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"ticker":"AMZN","queryCount":10,"resultsCount":1,"adjusted":true,"results":[{"v":5.63751e+07,"vw":1919.9824,"o":1827.75,"c":1906.59,"h":1993.02,"l":1812,"t":1584907200000,"n":1740931}],"status":"OK","request_id":"8174e567a3dcdd7e1f86c7a22676eb7b","count":1}'
  recorded_at: 2021-01-18 15:17:11 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
