http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/aggs/ticker/AMZN/range/1/minute/2020-04-03/2020-04-04?unadjusted=FALSE&apiKey=APCA-LIVE-API-KEY-ID
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"ticker":"AMZN","queryCount":484,"resultsCount":484,"adjusted":true,"results":[{"v":768,"vw":1909.1359,"o":1909.95,"c":1909.95,"h":1909.95,"l":1909.95,"t":1585908240000,"n":17},{"v":556,"vw":1907.6868,"o":1908.99,"c":1908.99,"h":1908.99,"l":1908.99,"t":1585911600000,"n":36},{"v":101,"vw":1909.5277,"o":1909.57,"c":1909.57,"h":1909.57,"l":1909.57,"t":1585911720000,"n":2},{"v":165,"vw":1907.3945,"o":1907.21,"c":1907.21,"h":1907.21,"l":1907.21,"t":1585912620000,"n":9},{"v":537,"vw":1907.465,"o":1908.25,"c":1907,"h":1908.25,"l":1907,"t":1585912680000,"n":13},{"v":435,"vw":1906.0329,"o":1906.[...]
