http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/aggs/ticker/AMZN/range/1/year/1975-07-11/1975-07-12?unadjusted=APCA-PRO&apiKey=LqXUCWibUJs_F_qEKOPV3DV5opEISq4N
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"ticker":"AMZN","queryCount":0,"resultsCount":0,"adjusted":true,"status":"OK","request_id":"e38fd5f162cb3486d350abc4c309ce91"}'
  recorded_at: 2021-05-29 17:17:21 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
