http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/aggs/ticker/AMZN/range/1/quarter/2020-01-01/2020-04-01?unadjusted=APCA-PRO&apiKey=LqXUCWibUJs_F_qEKOPV3DV5opEISq4N
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 429
      category: Client error
      reason: Too Many Requests (RFC 6585)
      message: 'Client error: (429) Too Many Requests (RFC 6585)'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ERROR","request_id":"ab68e74e7e0cfcdf59772c5ba6e815f7","error":"You''ve
        exceeded the maximum requests per minute, please wait or upgrade your subscription
        to continue. https://polygon.io/pricing"}'
  recorded_at: 2021-05-28 22:03:46 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: https://api.polygon.io/v2/aggs/ticker/AMZN/range/1/quarter/2020-01-01/2020-04-01?unadjusted=APCA-PRO&apiKey=LqXUCWibUJs_F_qEKOPV3DV5opEISq4N
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"ticker":"AMZN","queryCount":125,"resultsCount":2,"adjusted":true,"results":[{"v":3.40914403e+08,"vw":1919.9341,"o":1875,"c":1949.72,"h":2185.95,"l":1626.0318,"t":1577854800000,"n":9892805},{"v":2.95038502e+08,"vw":2401.2445,"o":1932.97,"c":2758.82,"h":2796,"l":1889.15,"t":1585713600000,"n":10397952}],"status":"OK","request_id":"13a73a9700a45fa05da1dfc58b5d4301","count":2}'
  recorded_at: 2021-05-28 22:03:46 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
