http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/aggs/ticker/AMZN/range/1/year/2016-04-03/2020-04-03?unadjusted=FALSE&apiKey=APCA-LIVE-API-KEY-ID
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"ticker":"AMZN","queryCount":1259,"resultsCount":5,"adjusted":true,"results":[{"v":1.038778479e+09,"vw":680.884,"o":656.29,"c":749.87,"h":847.21,"l":474,"t":1451624400000,"n":13715936},{"v":8.82808378e+08,"vw":970.3924,"o":757.92,"c":1169.47,"h":1213.41,"l":747.7,"t":1483246800000,"n":14125753},{"v":1.41744343e+09,"vw":1626.3974,"o":1172,"c":1501.97,"h":2050.5,"l":1170.51,"t":1514782800000,"n":33690508},{"v":9.77608974e+08,"vw":1776.642,"o":1465.2,"c":1847.84,"h":2035.8,"l":1460.93,"t":1546318800000,"n":25572310},{"v":1.247936556e+09,"vw":2646.1113,"o":1875,"c":3256.93,"h":3552.25,"l":1626.0318,"t":1577854800000,"n":43381254}],"status":"OK","request_id":"42e2d6235602d0041bcf17544106a444","count":5}'
  recorded_at: 2021-01-18 15:16:54 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
