http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/aggs/ticker/AMZN/range/1/week/2020-03-23/2020-03-30?unadjusted=FALSE&apiKey=APCA-LIVE-API-KEY-ID
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"ticker":"AMZN","queryCount":10,"resultsCount":2,"adjusted":true,"results":[{"v":3.3057657e+07,"vw":1909.68,"o":1827.75,"c":1900.1,"h":1956.49,"l":1812,"t":1584907200000,"n":1036510},{"v":2.3317443e+07,"vw":1934.5883,"o":1922.83,"c":1906.59,"h":1993.02,"l":1889.15,"t":1585512000000,"n":704421}],"status":"OK","request_id":"285679c20eeb064e9ee4c4ecc6eab46f","count":2}'
  recorded_at: 2021-01-18 15:17:00 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
