http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/aggs/ticker/AMZN/range/1/week/2020-03-30/2020-03-30?unadjusted=FALSE&apiKey=APCA-LIVE-API-KEY-ID
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"ticker":"AMZN","queryCount":5,"resultsCount":1,"adjusted":true,"results":[{"v":2.3317443e+07,"vw":1934.5883,"o":1922.83,"c":1906.59,"h":1993.02,"l":1889.15,"t":1585512000000,"n":704421}],"status":"OK","request_id":"26182ca7cea0acd70b59ac72726bce9b","count":1}'
  recorded_at: 2021-01-18 15:17:10 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
