http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/aggs/ticker/AMZN/range/3/month/2020-02-01/2020-04-01?unadjusted=FALSE&apiKey=APCA-LIVE-API-KEY-ID
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"ticker":"AMZN","queryCount":62,"resultsCount":2,"adjusted":true,"results":[{"v":3.59934242e+08,"vw":2022.4081,"o":2010.6,"c":2372.71,"h":2460.9981,"l":1626.0318,"t":1580533200000,"n":11170753},{"v":2.0784324e+07,"vw":2172.063,"o":1922.83,"c":2474,"h":2475,"l":1912.34,"t":1583038800000,"n":674501}],"status":"OK","request_id":"135dddbdedd724a8cf38325ed6fd4eed","count":2}'
  recorded_at: 2021-01-18 15:17:13 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
