http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/aggs/ticker/AMZN/range/1/week/2020-03-02/2020-03-30?unadjusted=APCA-PRO&apiKey=LqXUCWibUJs_F_qEKOPV3DV5opEISq4N
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"ticker":"AMZN","queryCount":25,"resultsCount":5,"adjusted":true,"results":[{"v":2.9074773e+07,"vw":1925.6378,"o":1906.49,"c":1901.09,"h":1996.33,"l":1869.5,"t":1583038800000,"n":849206},{"v":4.0746812e+07,"vw":1779.2261,"o":1773.86,"c":1785,"h":1894.27,"l":1675,"t":1583643600000,"n":1237881},{"v":4.9530405e+07,"vw":1816.712,"o":1641.51,"c":1846.09,"h":1957,"l":1626.0318,"t":1584244800000,"n":1472182},{"v":3.3057657e+07,"vw":1909.68,"o":1827.75,"c":1900.1,"h":1956.49,"l":1812,"t":1584849600000,"n":1036510},{"v":2.3317443e+07,"vw":1934.5883,"o":1922.83,"c":1906.59,"h":1993.02,"l":1889.15,"t":1585454400000,"n":704421}],"status":"OK","request_id":"c492ac3e36182dba9e4222f637d83f0c","count":5}'
  recorded_at: 2021-05-28 22:01:34 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
