http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/aggs/ticker/AMZN/range/1/day/2020-04-03/2020-04-03?unadjusted=FALSE&apiKey=APCA-LIVE-API-KEY-ID
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"ticker":"AMZN","queryCount":1,"resultsCount":1,"adjusted":true,"results":[{"v":3.60987e+06,"vw":1903.6781,"o":1911.15,"c":1906.59,"h":1926.33,"l":1889.15,"t":1585886400000,"n":113599}],"status":"OK","request_id":"5f0beaace69494aeb9b62b419bbe7b03","count":1}'
  recorded_at: 2021-01-18 15:17:10 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
