http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/aggs/ticker/AMZN/range/3/month/2020-01-01/2020-04-01?unadjusted=FALSE&apiKey=APCA-LIVE-API-KEY-ID
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"ticker":"AMZN","queryCount":125,"resultsCount":2,"adjusted":true,"results":[{"v":3.40914403e+08,"vw":1919.9341,"o":1875,"c":1949.72,"h":2185.95,"l":1626.0318,"t":1577854800000,"n":9892805},{"v":2.95038502e+08,"vw":2401.2445,"o":1932.97,"c":2758.82,"h":2796,"l":1889.15,"t":1585713600000,"n":10397952}],"status":"OK","request_id":"dd2010d05fd35513465bb293ea1ff4da","count":2}'
  recorded_at: 2021-01-18 15:17:03 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
