http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/aggs/ticker/AMZN/range/2/week/2020-03-16/2020-03-30?unadjusted=FALSE&apiKey=APCA-LIVE-API-KEY-ID
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"ticker":"AMZN","queryCount":19,"resultsCount":2,"adjusted":true,"results":[{"v":8.2588062e+07,"vw":1853.9245,"o":1641.51,"c":1900.1,"h":1957,"l":1626.0318,"t":1584302400000,"n":2508692},{"v":4.2837537e+07,"vw":1968.9443,"o":1922.83,"c":2042.76,"h":2053,"l":1889.15,"t":1585512000000,"n":1294106}],"status":"OK","request_id":"98fa9e8171f1130fa58b422d7bca0890","count":2}'
  recorded_at: 2021-01-18 15:17:01 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
