http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/aggs/ticker/AMZN/range/1/quarter/2019-10-01/2020-04-01?unadjusted=APCA-PRO&apiKey=LqXUCWibUJs_F_qEKOPV3DV5opEISq4N
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"ticker":"AMZN","queryCount":189,"resultsCount":3,"adjusted":true,"results":[{"v":1.92622652e+08,"vw":1770.5179,"o":1746,"c":1847.84,"h":1901.4,"l":1685.06,"t":1569902400000,"n":5182368},{"v":3.40914403e+08,"vw":1919.9341,"o":1875,"c":1949.72,"h":2185.95,"l":1626.0318,"t":1577854800000,"n":9892805},{"v":2.95038502e+08,"vw":2401.2445,"o":1932.97,"c":2758.82,"h":2796,"l":1889.15,"t":1585713600000,"n":10397952}],"status":"OK","request_id":"c6424df30d286219ecc6c5e865561a7b","count":3}'
  recorded_at: 2021-06-12 13:26:04 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
