http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/aggs/ticker/AMZN/range/2/week/2020-02-03/2020-03-30?unadjusted=FALSE&apiKey=APCA-LIVE-API-KEY-ID
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"ticker":"AMZN","queryCount":48,"resultsCount":6,"adjusted":true,"results":[{"v":4.3613948e+07,"vw":2092.594,"o":2010.6,"c":2134.87,"h":2185.95,"l":2000.25,"t":1580677200000,"n":1184763},{"v":4.881408e+07,"vw":1994.6864,"o":2125.02,"c":1883.75,"h":2185.1,"l":1811.129,"t":1581886800000,"n":1549744},{"v":2.9074773e+07,"vw":1925.6378,"o":1906.49,"c":1901.09,"h":1996.33,"l":1869.5,"t":1583096400000,"n":849206},{"v":4.0746812e+07,"vw":1779.2261,"o":1773.86,"c":1785,"h":1894.27,"l":1675,"t":1583092800000,"n":1237881},{"v":8.2588062e+07,"vw":1853.9245,"o":1641.51,"c":1900.1,"h":1957,"l":1626.0318,"t":1584302400000,"n":2508692},{"v":4.2837537e+07,"vw":1968.9443,"o":1922.83,"c":2042.76,"h":2053,"l":1889.15,"t":1585512000000,"n":1294106}],"status":"OK","request_id":"6c232fc5c63c60ffaaf7ccdcc90ff31a","count":6}'
  recorded_at: 2021-01-18 15:16:51 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
