http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/aggs/ticker/AMZN/range/1/year/2019-10-04/2020-04-03?unadjusted=FALSE&apiKey=APCA-LIVE-API-KEY-ID
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"ticker":"AMZN","queryCount":505,"resultsCount":2,"adjusted":true,"results":[{"v":9.77608974e+08,"vw":1776.642,"o":1465.2,"c":1847.84,"h":2035.8,"l":1460.93,"t":1546318800000,"n":25572310},{"v":1.247936556e+09,"vw":2646.1113,"o":1875,"c":3256.93,"h":3552.25,"l":1626.0318,"t":1577854800000,"n":43381254}],"status":"OK","request_id":"964db0d9befb042da3c22ced2e950db6","count":2}'
  recorded_at: 2021-01-18 15:17:14 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
