http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/aggs/ticker/AMZN/range/2/month/2020-02-01/2020-04-01?unadjusted=FALSE&apiKey=APCA-LIVE-API-KEY-ID
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"ticker":"AMZN","queryCount":82,"resultsCount":3,"adjusted":true,"results":[{"v":2.44837675e+08,"vw":1920.5883,"o":2010.6,"c":1900.1,"h":2185.95,"l":1626.0318,"t":1580533200000,"n":7330286},{"v":1.1249713e+07,"vw":1959.5899,"o":1922.83,"c":1949.72,"h":1993.02,"l":1912.34,"t":1583038800000,"n":326138},{"v":2.07247168e+08,"vw":2306.9746,"o":1932.97,"c":2442.37,"h":2525.45,"l":1889.15,"t":1585713600000,"n":7223856}],"status":"OK","request_id":"7bbd0801c4afa577b7da80275a2b942d","count":3}'
  recorded_at: 2021-01-18 15:17:03 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
