http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/aggs/ticker/AMZN/range/4/week/2020-03-02/2020-03-30?unadjusted=FALSE&apiKey=APCA-LIVE-API-KEY-ID
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"ticker":"AMZN","queryCount":39,"resultsCount":3,"adjusted":true,"results":[{"v":2.9074773e+07,"vw":1925.6378,"o":1906.49,"c":1901.09,"h":1996.33,"l":1869.5,"t":1583096400000,"n":849206},{"v":1.23334874e+08,"vw":1829.246,"o":1773.86,"c":1900.1,"h":1957,"l":1626.0318,"t":1583092800000,"n":3746573},{"v":1.10839596e+08,"vw":2192.9611,"o":1922.83,"c":2410.22,"h":2460.9981,"l":1889.15,"t":1585512000000,"n":3582645}],"status":"OK","request_id":"0dda2d85d969defcca339f7ba7abc4df","count":3}'
  recorded_at: 2021-01-18 15:17:01 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
