http_interactions:
- request:
    method: get
    uri: https://data.alpaca.markets/v1/last_quote/stocks/TWTR
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"success","symbol":"TWTR","last":{"askprice":0,"asksize":0,"askexchange":15,"bidprice":0,"bidsize":0,"bidexchange":15,"timestamp":1622232000000042150}}'
  recorded_at: 2021-05-29 00:26:15 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: https://data.alpaca.markets/v1/last_quote/stocks/BYND
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"success","symbol":"BYND","last":{"askprice":0,"asksize":0,"askexchange":15,"bidprice":0,"bidsize":0,"bidexchange":15,"timestamp":1622232000000042150}}'
  recorded_at: 2021-05-29 00:26:15 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: https://data.alpaca.markets/v1/last_quote/stocks/AAPL
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"success","symbol":"AAPL","last":{"askprice":124.93,"asksize":1,"askexchange":15,"bidprice":116.87,"bidsize":1,"bidexchange":15,"timestamp":1622232080497332386}}'
  recorded_at: 2021-05-29 00:26:15 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
