http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/calendar?start=2020-03-06&end=2020-12-25
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"date":"2020-03-06","open":"09:30","close":"16:00","session_open":"0700","session_close":"1900"},{"date":"2020-03-09","open":"09:30","close":"16:00","session_open":"0700","session_close":"1900"},{"date":"2020-03-10","open":"09:30","close":"16:00","session_open":"0700","session_close":"1900"},{"date":"2020-03-11","open":"09:30","close":"16:00","session_open":"0700","session_close":"1900"},{"date":"2020-03-12","open":"09:30","close":"16:00","session_open":"0700","session_close":"1900"},{"date":"2020-03-13","open":"09:30","close":"16:00","session_open":"0700","session_close":"1900"},{"[...]
- request:
    method: get
    uri: https://data.alpaca.markets/v1/bars/5Min?symbols=BYND&limit=1000&start=2020-03-06T00%3A00%3A00-05%3A00&until=2020-12-25T00%3A00%3A00-05%3A00
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"BYND":[{"t":1607353200,"o":136.49,"h":136.95,"l":136.49,"c":136.95,"v":1301},{"t":1607353500,"o":137.12,"h":137.21,"l":136.525,"c":136.7,"v":2830},{"t":1607353800,"o":136.67,"h":136.67,"l":136.4,"c":136.47,"v":1034},{"t":1607354100,"o":137.03,"h":137.105,"l":136.76,"c":137.105,"v":452},{"t":1607354400,"o":137.12,"h":137.12,"l":137.12,"c":137.12,"v":800},{"t":1607354700,"o":137.12,"h":137.15,"l":136.94,"c":136.94,"v":3412},{"t":1607355000,"o":136.9,"h":137.21,"l":136.845,"c":137.21,"v":2067},{"t":16073[...]
- request:
    method: get
    uri: https://data.alpaca.markets/v1/bars/5Min?symbols=BYND&limit=1000&start=2020-03-06T00%3A05%3A00-05%3A00&end=2020-12-07T09%3A55%3A00-05%3A00
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application[...]
[...]
