http_interactions:
- request:
    method: get
    uri: https://data.alpaca.markets/v1/last/stocks/TWTR
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-API-KEY-ID
      APCA-API-SECRET-KEY: APCA-PAPER-API-SECRET-KEY
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: |
        {
          "status": "success",
          "symbol": "TWTR",
          "last": {
            "price": 45.18,
            "size": 200,
            "exchange": 3,
            "cond1": 14,
            "cond2": 41,
            "cond3": 0,
            "cond4": 0,
            "timestamp": 1610744399200000000
          }
        }
  recorded_at: 2021-01-18 15:23:47 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
- request:
    method: get
    uri: https://data.alpaca.markets/v1/last/stocks/BYND
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-API-KEY-ID
      APCA-API-SECRET-KEY: APCA-PAPER-API-SECRET-KEY
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: |
        {
          "status": "success",
          "symbol": "BYND",
          "last": {
            "price": 140.11,
            "size": 55,
            "exchange": 2,
            "cond1": 14,
            "cond2": 37,
            "cond3": 41,
            "cond4": 0,
            "timestamp": 1610744390175000000
          }
        }
  recorded_at: 2021-01-18 15:23:47 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
- request:
    method: get
    uri: https://data.alpaca.markets/v1/last/stocks/AAPL
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-API-KEY-ID
      APCA-API-SECRET-KEY: APCA-PAPER-API-SECRET-KEY
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: |
        {
          "status": "success",
          "symbol": "AAPL",
          "last": {
            "price": 127.05,
            "size": 100,
            "exchange": 2,
            "cond1": 12,
            "cond2": 0,
            "cond3": 0,
            "cond4": 0,
            "timestamp": 1610745567772000000
          }
        }
  recorded_at: 2021-01-18 15:23:47 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
