http_interactions:
- request:
    method: get
    uri: https://data.alpaca.markets/v1/last/stocks/TWTR
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"success","symbol":"TWTR","last":{"price":60.495,"size":100,"exchange":15,"cond1":0,"cond2":0,"cond3":0,"cond4":0,"timestamp":1623441594003718739}}'
  recorded_at: 2021-06-12 18:41:43 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://data.alpaca.markets/v1/last/stocks/BYND
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"success","symbol":"BYND","last":{"price":149.38,"size":100,"exchange":15,"cond1":0,"cond2":0,"cond3":0,"cond4":0,"timestamp":1623441590529369120}}'
  recorded_at: 2021-06-12 18:41:43 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://data.alpaca.markets/v1/last/stocks/AAPL
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"success","symbol":"AAPL","last":{"price":127.355,"size":100,"exchange":15,"cond1":0,"cond2":0,"cond3":0,"cond4":0,"timestamp":1623441597615933190}}'
  recorded_at: 2021-06-12 18:41:43 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
