http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/calendar?start=2020-11-02&end=2020-12-25
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"date":"2020-11-02","open":"09:30","close":"16:00","session_open":"0700","session_close":"1900"},{"date":"2020-11-03","open":"09:30","close":"16:00","session_open":"0700","session_close":"1900"},{"date":"2020-11-04","open":"09:30","close":"16:00","session_open":"0700","session_close":"1900"},{"date":"2020-11-05","open":"09:30","close":"16:00","session_open":"0700","session_close":"1900"},{"date":"2020-11-06","open":"09:30","close":"16:00","session_open":"0700","session_close":"1900"},{"date":"2020-11-09","open":"09:30","close":"16:00","session_open":"0700","session_close":"1900"},{"[...]
- request:
    method: get
    uri: https://data.alpaca.markets/v2/stocks/BYND/bars?start=2020-11-02T00%3A00%3A00-05%3A00&end=2020-12-25T00%3A00%3A00-05%3A00&limit=10000&timeframe=1Min
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"bars":[{"t":"2020-11-02T09:11:00Z","o":144.5,"h":144.5,"l":144.5,"c":144.5,"v":131},{"t":"2020-11-02T09:14:00Z","o":144,"h":144,"l":144,"c":144,"v":100},{"t":"2020-11-02T09:26:00Z","o":145,"h":145,"l":145,"c":145,"v":180},{"t":"2020-11-02T11:16:00Z","o":146.4,"h":146.4,"l":146.4,"c":146.4,"v":141},{"t":"2020-11-02T12:00:00Z","o":146.45,"h":146.45,"l":146.45,"c":146.45,"v":244},{"t":"2020-11-02T12:01:00Z","o":145.8,"h":145.8,"l":145.8,"c":145.8,"v":489},{"t":"2020-11-02T12:02:00Z","o":146.4,"h":146.4,"[...]
- request:
    method: get
    uri: https://data.alpaca.markets/v2/stocks/BYND/bars?start=2020-11-02T00%3A00%3A00-05%3A00&end=2020-12-25T00%3A00%3A00-05%3A00&limit=10000&timeframe=1Min&page_token=QllORHxNfDIwMjAtMTItMDFUMTY6MjY6MDAuMDAwMDAwMDAwWg%3D%3D
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
   [...]
