http_interactions:
- request:
    method: get
    uri: https://data.alpaca.markets/v2/stocks/SPOT/quotes/latest
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"symbol":"SPOT","quote":{"t":"2021-07-08T15:07:51.647336688Z","ax":"V","ap":295,"as":2,"bx":"V","bp":0,"bs":0,"c":["R"]}}'
  recorded_at: 2021-07-08 15:07:53 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
