http_interactions:
- request:
    method: post
    uri: https://paper-api.alpaca.markets/v2/watchlists
    body:
      encoding: ''
      string: |-
        {
          "name": "test",
          "symbols": [
            "AAPL"
          ]
        }
    headers:
      Content-Type: ''
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"2d8f4d28-f607-43dd-a3e8-91f2b1581458","account_id":"0ef8f355-319d-4de7-8d32-03f1e7e5aa69","created_at":"2021-06-03T14:29:34.245883Z","updated_at":"2021-06-03T14:29:34.245883Z","name":"test","assets":[{"id":"b0b6dd9d-8b9b-48a9-ba46-b9d54906e415","class":"us_equity","exchange":"NASDAQ","symbol":"AAPL","name":"Apple
        Inc. Common Stock","status":"active","tradable":true,"marginable":true,"shortable":true,"easy_to_borrow":true,"fractionable":true}]}'
  recorded_at: 2021-06-03 14:29:34 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
