http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/watchlists:by_name?name=test
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-API-KEY-ID
      APCA-API-SECRET-KEY: APCA-PAPER-API-SECRET-KEY
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"f4d840bb-d221-414f-b785-6bbcd8914c69","account_id":"0ef8f355-319d-4de7-8d32-03f1e7e5aa69","created_at":"2021-01-19T15:20:49.219193Z","updated_at":"2021-01-19T15:20:49.219193Z","name":"test","assets":[{"id":"b0b6dd9d-8b9b-48a9-ba46-b9d54906e415","class":"us_equity","exchange":"NASDAQ","symbol":"AAPL","name":"Apple
        Inc. Common Stock","status":"active","tradable":true,"marginable":true,"shortable":true,"easy_to_borrow":true}]}'
  recorded_at: 2021-01-19 15:20:49 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
