http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/watchlists
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-API-KEY-ID
      APCA-API-SECRET-KEY: APCA-PAPER-API-SECRET-KEY
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":"f2da8074-ccac-4636-8144-23b5782cd682","account_id":"0ef8f355-319d-4de7-8d32-03f1e7e5aa69","created_at":"2020-05-27T11:43:43.331111Z","updated_at":"2020-05-27T11:43:43.331111Z","name":"Primary"},{"id":"a9bf310b-fa7d-4095-b141-7ec7873001a6","account_id":"0ef8f355-319d-4de7-8d32-03f1e7e5aa69","created_at":"2020-09-03T18:25:25.386938Z","updated_at":"2020-09-03T18:25:25.386938Z","name":"Primary
        Watchlist"},{"id":"f4d840bb-d221-414f-b785-6bbcd8914c69","account_id":"0ef8f355-319d-4de7-8d32-03f1e7e5aa69","created_at":"2021-01-19T15:20:49.219193Z","updated_at":"2021-01-19T15:20:49.219193Z","name":"test"}]'
  recorded_at: 2021-01-19 15:20:48 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
