http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/watchlists:by_name?name=test
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"c044247a-273f-4a00-88b5-ed63472c4e4b","account_id":"0ef8f355-319d-4de7-8d32-03f1e7e5aa69","created_at":"2021-05-30T12:15:49.256273Z","updated_at":"2021-05-30T12:15:49.256273Z","name":"test","assets":[{"id":"b0b6dd9d-8b9b-48a9-ba46-b9d54906e415","class":"us_equity","exchange":"NASDAQ","symbol":"AAPL","name":"Apple
        Inc. Common Stock","status":"active","tradable":true,"marginable":true,"shortable":true,"easy_to_borrow":true,"fractionable":true}]}'
  recorded_at: 2021-05-30 12:15:52 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
