http_interactions:
- request:
    method: put
    uri: https://paper-api.alpaca.markets/v2/watchlists:by_name?name=FAANG
    body:
      encoding: ''
      string: |-
        {
          "name": "FANG",
          "symbols": ["FB", "AAPL", "NFLX", "GOOG"]
        }
    headers:
      Content-Type: ''
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"c044247a-273f-4a00-88b5-ed63472c4e4b","account_id":"0ef8f355-319d-4de7-8d32-03f1e7e5aa69","created_at":"2021-05-30T12:15:49.256273Z","updated_at":"2021-05-30T12:15:55.973234Z","name":"FANG","assets":[{"id":"fc6a5dcd-4a70-4b8d-b64f-d83a6dae9ba4","class":"us_equity","exchange":"NASDAQ","symbol":"FB","name":"Facebook,
        Inc. Class A Common Stock","status":"active","tradable":true,"marginable":true,"shortable":true,"easy_to_borrow":true,"fractionable":true},{"id":"b0b6dd9d-8b9b-48a9-ba46-b9d54906e415","class":"us_equity","exchange":"NASDAQ","symbol":"AAPL","name":"Apple
        Inc. Common Stock","status":"active","tradable":true,"marginable":true,"shortable":true,"easy_to_borrow":true,"fractionable":true},{"id":"bb2a26c0-4c77-4801-8afc-82e8142ac7b8","class":"us_equity","exchange":"NASDAQ","symbol":"NFLX","name":"Netflix,
        Inc. Common Stock","status":"active","tradable":true,"marginable":true,"shortable":true,"easy_to_borrow":true,"fractionable":true},{"id":"f30d734c-2806-4d0d-b145-f9fade61432b","class":"us_equity","exchange":"NASDAQ","symbol":"GOOG","name":"Alphabet
        Inc. Class C Capital Stock","status":"active","tradable":true,"marginable":true,"shortable":true,"easy_to_borrow":true,"fractionable":true}]}'
  recorded_at: 2021-05-30 12:15:55 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
