http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/calendar?start=2020-03-04&end=2020-04-26
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: PKSW0MA43EEJNIJBAI45
      APCA-API-SECRET-KEY: 4WS4FhopE29g2LbQcvklXcWMywOonS6ALsNvqNu7
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"date":"2020-03-04","open":"09:30","close":"16:00","session_open":"0700","session_close":"1900"},{"date":"2020-03-05","open":"09:30","close":"16:00","session_open":"0700","session_close":"1900"},{"date":"2020-03-06","open":"09:30","close":"16:00","session_open":"0700","session_close":"1900"},{"date":"2020-03-09","open":"09:30","close":"16:00","session_open":"0700","session_close":"1900"},{"date":"2020-03-10","open":"09:30","close":"16:00","session_open":"0700","session_close":"1900"},{"date":"2020-03-11","open":"09:30","close":"16:00","session_open":"0700","session_close":"1900"},{"[...]
