http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/positions/AMZN
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-API-KEY-ID
      APCA-API-SECRET-KEY: APCA-PAPER-API-SECRET-KEY
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","symbol":"AMZN","exchange":"NASDAQ","asset_class":"us_equity","qty":"2","avg_entry_price":"3107.5","side":"long","market_value":"6211.36","cost_basis":"6215","unrealized_pl":"-3.64","unrealized_plpc":"-0.0005856798069187","unrealized_intraday_pl":"-3.64","unrealized_intraday_plpc":"-0.0005856798069187","current_price":"3105.68","lastday_price":"3104.25","change_today":"0.0004606587742611"}'
  recorded_at: 2021-01-19 15:19:54 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
- request:
    method: post
    uri: https://paper-api.alpaca.markets/v2/orders
    body:
      encoding: ''
      string: '{"symbol":"AMZN","qty":"2","side":"sell","type":"stop","time_in_force":"day","stop_price":"2952.125","client_order_id":"fd1d6cca-1290-4f43-abd1-5a14075f48e6"}'
    headers:
      Content-Type: ''
      APCA-API-KEY-ID: APCA-PAPER-API-KEY-ID
      APCA-API-SECRET-KEY: APCA-PAPER-API-SECRET-KEY
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"2afa8641-a10c-43b2-879c-d7d1dfc40766","client_order_id":"fd1d6cca-1290-4f43-abd1-5a14075f48e6","created_at":"2021-01-19T15:19:55.140928Z","updated_at":"2021-01-19T15:19:55.140928Z","submitted_at":"2021-01-19T15:19:55.13919Z","filled_at":null,"expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","symbol":"AMZN","asset_class":"us_equity","qty":"2","filled_qty":"0","filled_avg_price":null,"order_class":"","order_type":"stop","type":"stop","side":"sell","time_in_force":"day","limit_price":null,"stop_price":"2952.12","status":"accepted","extended_hours":false,"legs":null,"trail_percent":null,"trail_price":null,"hwm":null}'
  recorded_at: 2021-01-19 15:19:54 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
