http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/positions/AMZN
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","symbol":"AMZN","exchange":"NASDAQ","asset_class":"us_equity","qty":"9","avg_entry_price":"3485.0466666666666667","side":"long","market_value":"31367.25","cost_basis":"31365.42","unrealized_pl":"1.83","unrealized_plpc":"0.0000583445080602","unrealized_intraday_pl":"1.83","unrealized_intraday_plpc":"0.0000583445080602","current_price":"3485.25","lastday_price":"3415.25","change_today":"0.0204963033452895"}'
  recorded_at: 2021-06-17 18:17:03 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: post
    uri: https://paper-api.alpaca.markets/v2/orders
    body:
      encoding: ''
      string: '{"symbol":"AMZN","qty":"2","side":"sell","type":"stop","time_in_force":"day","stop_price":"3311.7855","client_order_id":"9aa758d1-e980-40fd-95ac-eece1acd0136"}'
    headers:
      Content-Type: ''
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"60c2d284-7b9f-432b-90cf-4acd80c33776","client_order_id":"9aa758d1-e980-40fd-95ac-eece1acd0136","created_at":"2021-06-17T18:17:03.289635Z","updated_at":"2021-06-17T18:17:03.289635Z","submitted_at":"2021-06-17T18:17:03.287403Z","filled_at":null,"expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","symbol":"AMZN","asset_class":"us_equity","notional":null,"qty":"2","filled_qty":"0","filled_avg_price":null,"order_class":"","order_type":"stop","type":"stop","side":"sell","time_in_force":"day","limit_price":null,"stop_price":"3311.78","status":"accepted","extended_hours":false,"legs":null,"trail_percent":null,"trail_price":null,"hwm":null}'
  recorded_at: 2021-06-17 18:17:03 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
