http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/positions/AMZN
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-API-KEY-ID
      APCA-API-SECRET-KEY: APCA-PAPER-API-SECRET-KEY
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","symbol":"AMZN","exchange":"NASDAQ","asset_class":"us_equity","qty":"1","avg_entry_price":"3336.2","side":"long","market_value":"3328.67","cost_basis":"3336.2","unrealized_pl":"-7.53","unrealized_plpc":"-0.0022570589293208","unrealized_intraday_pl":"-7.53","unrealized_intraday_plpc":"-0.0022570589293208","current_price":"3328.67","lastday_price":"3294","change_today":"0.010525197328476"}'
  recorded_at: 2021-01-26 19:36:24 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
- request:
    method: post
    uri: https://paper-api.alpaca.markets/v2/orders
    body:
      encoding: ''
      string: '{"symbol":"AMZN","qty":"2","side":"sell","type":"stop","time_in_force":"day","stop_price":"2952.125","client_order_id":"fd1d6cca-1290-4f43-abd1-5a14075f48e6"}'
    headers:
      Content-Type: ''
      APCA-API-KEY-ID: APCA-PAPER-API-KEY-ID
      APCA-API-SECRET-KEY: APCA-PAPER-API-SECRET-KEY
  response:
    status:
      status_code: 403
      category: Client error
      reason: Forbidden
      message: 'Client error: (403) Forbidden'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"available":"1","code":40310000,"existing_qty":"1","held_for_orders":"0","message":"insufficient
        qty available for order (requested: 2, available: 1)","related_orders":[],"symbol":"AMZN"}'
  recorded_at: 2021-01-26 19:36:24 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
