http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/positions/AMZN
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","symbol":"AMZN","exchange":"NASDAQ","asset_class":"us_equity","qty":"2","avg_entry_price":"3648.11","side":"long","market_value":"7295.72","cost_basis":"7296.22","unrealized_pl":"-0.5","unrealized_plpc":"-0.0000685286353756","unrealized_intraday_pl":"-0.5","unrealized_intraday_plpc":"-0.0000685286353756","current_price":"3647.86","lastday_price":"3696.58","change_today":"-0.0131797499310173"}'
  recorded_at: 2021-07-08 14:50:45 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: post
    uri: https://paper-api.alpaca.markets/v2/orders
    body:
      encoding: ''
      string: '{"symbol":"AMZN","qty":"2","side":"sell","type":"stop","time_in_force":"day","stop_price":"3465.5525","client_order_id":"f96f132b-3c28-4e24-ac01-0e6f38e26698"}'
    headers:
      Content-Type: ''
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"98f45807-b4f5-4c36-9e6e-697b1d2465fe","client_order_id":"f96f132b-3c28-4e24-ac01-0e6f38e26698","created_at":"2021-07-08T14:50:45.335034Z","updated_at":"2021-07-08T14:50:45.335034Z","submitted_at":"2021-07-08T14:50:45.332349Z","filled_at":null,"expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","symbol":"AMZN","asset_class":"us_equity","notional":null,"qty":"2","filled_qty":"0","filled_avg_price":null,"order_class":"","order_type":"stop","type":"stop","side":"sell","time_in_force":"day","limit_price":null,"stop_price":"3465.55","status":"accepted","extended_hours":false,"legs":null,"trail_percent":null,"trail_price":null,"hwm":null}'
  recorded_at: 2021-07-08 14:50:45 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
