http_interactions:
- request:
    method: delete
    uri: https://paper-api.alpaca.markets/v2/orders
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 207
      category: Success
      reason: Multi-Status (WebDAV; RFC 4918)
      message: 'Success: (207) Multi-Status (WebDAV; RFC 4918)'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":"a8f0d430-6ad4-42b8-b482-26649e554955","status":200,"body":{"asset_class":"us_equity","asset_id":"317faf0e-4956-4d40-b3eb-3fba8af59dca","canceled_at":null,"client_order_id":"f71553cf-c1f2-4330-873b-9f49988278e0","created_at":"2021-07-08T14:50:54.933733Z","expired_at":null,"extended_hours":false,"failed_at":null,"filled_at":"2021-07-08T14:50:55.113644Z","filled_avg_price":"140.93","filled_qty":"2","hwm":null,"id":"50719434-384b-4157-b736-2f783f7fe855","legs":[{"asset_class":"us_equity","asset_id":"317faf0e-4956-4d40-b3eb-3fba8af59dca","canceled_at":null,"client_order_id":"ca04a6b0-dfd6-4ac6-84f8-cf7e40ba55fd","created_at":"2021-07-08T14:50:54.933733Z","expired_at":null,"extended_hours":false,"failed_at":null,"filled_at":null,"filled_avg_price":null,"filled_qty":"0","hwm":null,"id":"a8f0d430-6ad4-42b8-b482-26649e554955","legs":null,"limit_price":null,"notional":null,"order_class":"oto","order_type":"stop","qty":"2","replaced_at":null,"replaced_by":null,"replaces":null,"side":"sell","status":"new","stop_price":"135.2352","submitted_at":"2021-07-08T14:50:55.156712Z","symbol":"BYND","time_in_force":"day","trail_percent":null,"trail_price":null,"type":"stop","updated_at":"2021-07-08T14:50:55.240512Z"}],"limit_price":null,"notional":null,"order_class":"oto","order_type":"market","qty":"2","replaced_at":null,"replaced_by":null,"replaces":null,"side":"buy","status":"filled","stop_price":null,"submitted_at":"2021-07-08T14:50:54.921489Z","symbol":"BYND","time_in_force":"day","trail_percent":null,"trail_price":null,"type":"market","updated_at":"2021-07-08T14:50:55.144737Z"}},{"id":"8ee4e3f0-5e7b-4690-b407-0b99bb63ef2e","status":200,"body":{"asset_class":"us_equity","a[...]
