http_interactions:
- request:
    method: delete
    uri: https://paper-api.alpaca.markets/v2/orders
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 207
      category: Success
      reason: Multi-Status (WebDAV; RFC 4918)
      message: 'Success: (207) Multi-Status (WebDAV; RFC 4918)'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":"40bb8e58-4e0a-4cc9-b7c4-c4736964a171","status":200,"body":{"asset_class":"us_equity","asset_id":"317faf0e-4956-4d40-b3eb-3fba8af59dca","canceled_at":null,"client_order_id":"297d135a-b797-43cd-9915-3ce782b34e6a","created_at":"2021-06-17T18:17:16.687274Z","expired_at":null,"extended_hours":false,"failed_at":null,"filled_at":"2021-06-17T18:17:16.768605Z","filled_avg_price":"151.72","filled_qty":"2","hwm":null,"id":"fee1743d-fd29-4535-b157-f7d24e92d21e","legs":[{"asset_class":"us_equity","asset_id":"317faf0e-4956-4d40-b3eb-3fba8af59dca","canceled_at":null,"client_order_id":"c880282b-1356-47ee-8ffa-7f81472fe5e4","created_at":"2021-06-17T18:17:16.687274Z","expired_at":null,"extended_hours":false,"failed_at":null,"filled_at":null,"filled_avg_price":null,"filled_qty":"0","hwm":null,"id":"40bb8e58-4e0a-4cc9-b7c4-c4736964a171","legs":null,"limit_price":null,"notional":null,"order_class":"oto","order_type":"stop","qty":"2","replaced_at":null,"replaced_by":null,"replaces":null,"side":"sell","status":"new","stop_price":"145.3536","submitted_at":"2021-06-17T18:17:16.851163Z","symbol":"BYND","time_in_force":"day","trail_percent":null,"trail_price":null,"type":"stop","updated_at":"2021-06-17T18:17:16.90149Z"}],"limit_price":null,"notional":null,"order_class":"oto","order_type":"market","qty":"2","replaced_at":null,"replaced_by":null,"replaces":null,"side":"buy","status":"filled","stop_price":null,"submitted_at":"2021-06-17T18:17:16.680088Z","symbol":"BYND","time_in_force":"day","trail_percent":null,"trail_price":null,"type":"market","updated_at":"2021-06-17T18:17:16.842876Z"}},{"id":"10ac329d-dfca-40bb-a318-f1d92ec69b30","status":200,"body":{"asset_class":"us_equity","as[...]
