http_interactions:
- request:
    method: delete
    uri: https://paper-api.alpaca.markets/v2/orders
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
      APCA-API-KEY-ID: APCA-PAPER-API-KEY-ID
      APCA-API-SECRET-KEY: APCA-PAPER-API-SECRET-KEY
  response:
    status:
      status_code: 207
      category: Success
      reason: Multi-Status (WebDAV; RFC 4918)
      message: 'Success: (207) Multi-Status (WebDAV; RFC 4918)'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":"4d306d56-6171-4921-a5d9-88172b999f4b","status":200,"body":{"asset_class":"us_equity","asset_id":"317faf0e-4956-4d40-b3eb-3fba8af59dca","canceled_at":null,"client_order_id":"8e869315-788b-45ff-9758-ff5deb59dd35","created_at":"2021-01-19T15:20:06.622293Z","expired_at":null,"extended_hours":false,"failed_at":null,"filled_at":"2021-01-19T15:20:06.82663Z","filled_avg_price":"137.75","filled_qty":"2","hwm":null,"id":"ae61b9e9-c1d0-4148-9584-c21b0d7ea6d9","legs":[{"asset_class":"us_equity","asset_id":"317faf0e-4956-4d40-b3eb-3fba8af59dca","canceled_at":null,"client_order_id":"835c5ad9-bab6-4ca3-bb0a-27a996b98068","created_at":"2021-01-19T15:20:06.622293Z","expired_at":null,"extended_hours":false,"failed_at":null,"filled_at":null,"filled_avg_price":null,"filled_qty":"0","hwm":null,"id":"4d306d56-6171-4921-a5d9-88172b999f4b","legs":null,"limit_price":null,"order_class":"oto","order_type":"stop","qty":"2","replaced_at":null,"replaced_by":null,"replaces":null,"side":"sell","status":"new","stop_price":"132.24","submitted_at":"2021-01-19T15:20:06.83881Z","symbol":"BYND","time_in_force":"day","trail_percent":null,"trail_price":null,"type":"stop","updated_at":"2021-01-19T15:20:06.853474Z"}],"limit_price":null,"order_class":"oto","order_type":"market","qty":"2","replaced_at":null,"replaced_by":null,"replaces":null,"side":"buy","status":"filled","stop_price":null,"submitted_at":"2021-01-19T15:20:06.615046Z","symbol":"BYND","time_in_force":"day","trail_percent":null,"trail_price":null,"type":"market","updated_at":"2021-01-19T15:20:06.83243Z"}},{"id":"9067a948-bc8b-4414-a4c2-ec78402938a3","status":200,"body":{"asset_class":"us_equity","asset_id":"90d5646[...]
