http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v1/last_quote/stocks/BYND?apiKey=APCA-LIVE-API-KEY-ID
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"last":{"askexchange":12,"askprice":137.75,"asksize":3,"bidexchange":8,"bidprice":137.42,"bidsize":5,"timestamp":1611069605792},"request_id":"c47488c5badbbfce2fe9d4c8c10fac75","status":"success","symbol":"BYND"}'
  recorded_at: 2021-01-19 15:20:05 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
