http_interactions:
- request:
    method: post
    uri: https://paper-api.alpaca.markets/v2/orders
    body:
      encoding: ''
      string: '{"symbol":"BYND","qty":"1","side":"buy","type":"stop","time_in_force":"day","stop_price":"143.8395"}'
    headers:
      Content-Type: ''
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"92d74581-0565-40da-9760-a4f0894af84c","client_order_id":"a7ce6b92-34d7-4a8d-9ad0-4140c14940b0","created_at":"2021-06-17T20:54:11.170282Z","updated_at":"2021-06-17T20:54:11.170282Z","submitted_at":"2021-06-17T20:54:11.146176Z","filled_at":null,"expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"317faf0e-4956-4d40-b3eb-3fba8af59dca","symbol":"BYND","asset_class":"us_equity","notional":null,"qty":"1","filled_qty":"0","filled_avg_price":null,"order_class":"","order_type":"stop","type":"stop","side":"buy","time_in_force":"day","limit_price":null,"stop_price":"143.83","status":"accepted","extended_hours":false,"legs":null,"trail_percent":null,"trail_price":null,"hwm":null}'
  recorded_at: 2021-06-17 20:54:10 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
