http_interactions:
- request:
    method: patch
    uri: https://paper-api.alpaca.markets/v2/orders/2afa8641-a10c-43b2-879c-d7d1dfc40766
    body:
      encoding: ''
      string: '{"qty":"1","time_in_force":"day","stop_price":"2952.125"}'
    headers:
      Content-Type: ''
      APCA-API-KEY-ID: APCA-PAPER-API-KEY-ID
      APCA-API-SECRET-KEY: APCA-PAPER-API-SECRET-KEY
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"fe59c1d5-08f4-4068-a340-fa7f89ffb622","client_order_id":"ebb6ad2b-9e4a-4310-af1f-9eb9089d87de","created_at":"2021-01-19T15:19:55.140928Z","updated_at":"2021-01-19T15:19:55.816866609Z","submitted_at":"2021-01-19T15:19:55.816800154Z","filled_at":null,"expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":"2afa8641-a10c-43b2-879c-d7d1dfc40766","asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","symbol":"AMZN","asset_class":"us_equity","qty":"1","filled_qty":"0","filled_avg_price":null,"order_class":"","order_type":"stop","type":"stop","side":"sell","time_in_force":"day","limit_price":null,"stop_price":"2952.12","status":"new","extended_hours":false,"legs":null,"trail_percent":null,"trail_price":null,"hwm":null}'
  recorded_at: 2021-01-19 15:19:55 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
