http_interactions:
- request:
    method: post
    uri: https://paper-api.alpaca.markets/v2/orders
    body:
      encoding: ''
      string: '{"symbol":"AMZN","qty":"3","side":"buy","type":"market","time_in_force":"day"}'
    headers:
      Content-Type: ''
      APCA-API-KEY-ID: APCA-PAPER-API-KEY-ID
      APCA-API-SECRET-KEY: APCA-PAPER-API-SECRET-KEY
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"44a6d0b4-d933-410e-aaac-baf061552cf3","client_order_id":"3d4d36a7-c5ce-4b5f-8ec0-d7bec5dc291b","created_at":"2021-01-19T15:19:58.474986Z","updated_at":"2021-01-19T15:19:58.474986Z","submitted_at":"2021-01-19T15:19:58.469056Z","filled_at":null,"expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","symbol":"AMZN","asset_class":"us_equity","qty":"3","filled_qty":"0","filled_avg_price":null,"order_class":"","order_type":"market","type":"market","side":"buy","time_in_force":"day","limit_price":null,"stop_price":null,"status":"accepted","extended_hours":false,"legs":null,"trail_percent":null,"trail_price":null,"hwm":null}'
  recorded_at: 2021-01-19 15:19:59 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/positions/AMZN
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-API-KEY-ID
      APCA-API-SECRET-KEY: APCA-PAPER-API-SECRET-KEY
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","symbol":"AMZN","exchange":"NASDAQ","asset_class":"us_equity","qty":"7","avg_entry_price":"3107.1742857142857143","side":"long","market_value":"21739.76","cost_basis":"21750.22","unrealized_pl":"-10.46","unrealized_plpc":"-0.0004809146758056","unrealized_intraday_pl":"-10.46","unrealized_intraday_plpc":"-0.0004809146758056","current_price":"3105.68","lastday_price":"3104.25","change_today":"0.0004606587742611"}'
  recorded_at: 2021-01-19 15:19:59 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
- request:
    method: post
    uri: https://paper-api.alpaca.markets/v2/orders
    body:
      encoding: ''
      string: '{"symbol":"AMZN","qty":"1","side":"sell","type":"limit","time_in_force":"day","order_class":"oco","take_profit":{"limit_price":"3200.725"},"stop_loss":{"stop_price":"2983.2"}}'
    headers:
      Content-Type: ''
      APCA-API-KEY-ID: APCA-PAPER-API-KEY-ID
      APCA-API-SECRET-KEY: APCA-PAPER-API-SECRET-KEY
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"a69a8591-fdc9-4bd9-b7c5-e699e43f34eb","client_order_id":"4c526609-6c81-4c35-bdc6-bb[...]
