http_interactions:
- request:
    method: post
    uri: https://paper-api.alpaca.markets/v2/orders
    body:
      encoding: ''
      string: '{"symbol":"AMZN","qty":"2","side":"buy","type":"market","time_in_force":"day","order_class":"bracket","take_profit":{"limit_price":"3262.875"},"stop_loss":{"limit_price":"2921.05","stop_price":"2952.125"}}'
    headers:
      Content-Type: ''
      APCA-API-KEY-ID: APCA-PAPER-API-KEY-ID
      APCA-API-SECRET-KEY: APCA-PAPER-API-SECRET-KEY
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"524c4206-6554-49c7-8b35-0bb84e075766","client_order_id":"4a625bdc-28b8-49db-996d-56561e5983f5","created_at":"2021-01-19T15:19:56.450713Z","updated_at":"2021-01-19T15:19:56.457857Z","submitted_at":"2021-01-19T15:19:56.413403Z","filled_at":null,"expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","symbol":"AMZN","asset_class":"us_equity","qty":"2","filled_qty":"0","filled_avg_price":null,"order_class":"bracket","order_type":"market","type":"market","side":"buy","time_in_force":"day","limit_price":null,"stop_price":null,"status":"accepted","extended_hours":false,"legs":[{"id":"e62b1bf1-f64c-4b58-84e8-180564cb935b","client_order_id":"6faa1ad7-fbfe-4696-aa3b-1e7799db57cf","created_at":"2021-01-19T15:19:56.450713Z","updated_at":"2021-01-19T15:19:56.450713Z","submitted_at":"2021-01-19T15:19:56.413403Z","filled_at":null,"expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","symbol":"AMZN","asset_class":"us_equity","qty":"2","filled_qty":"0","filled_avg_price":null,"order_class":"bracket","order_type":"limit","type":"limit","side":"sell","time_in_force":"day","limit_price":"3262.875","stop_price":null,"status":"held","extended_hours":false,"legs":null,"trail_percent":null,"trail_price":null,"hwm":null},{"id":"75609f09-4550-4b1a-be46-17649b9474fa","client_order_id":"9523b13f-cc4c-444a-8180-88be8e1f1676","created_at":"2021-01-19T15:19:56.450713Z","updated_at":"2021-01-19T15:19:56.450713Z","submitted_at":"2021-01-19T15:19:56.413403Z","filled_at":null,"expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","symbol":"AMZN","asset_class":"us_equity","qty":"2","filled_qty":"0","filled_avg_price":null,"order_class":"bracket","order_type":"stop_limit","type":"stop_limit","side":"sell","time_in_force":"day","limit_price":"2921.05","stop_price":"2952.125","status":"held","extended_hours":false,"legs":null,"trail_percent":null,"trail_price":null,"hwm":null}],"trail_percent":null,"trail_price":null,"hwm":null}'
  recorded_at: 2021-01-19 15:19:56 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
