http_interactions:
- request:
    method: patch
    uri: https://paper-api.alpaca.markets/v2/orders/98f45807-b4f5-4c36-9e6e-697b1d2465fe
    body:
      encoding: ''
      string: '{"qty":"1","time_in_force":"day","stop_price":"3465.5525"}'
    headers:
      Content-Type: ''
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"a991b8e0-1bff-4317-ba15-3f4461585b08","client_order_id":"d327feb8-9347-4014-b9e7-5c2388a43129","created_at":"2021-07-08T14:50:45.335034Z","updated_at":"2021-07-08T14:50:49.767290217Z","submitted_at":"2021-07-08T14:50:49.767334257Z","filled_at":null,"expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":"98f45807-b4f5-4c36-9e6e-697b1d2465fe","asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","symbol":"AMZN","asset_class":"us_equity","notional":null,"qty":"1","filled_qty":"0","filled_avg_price":null,"order_class":"","order_type":"stop","type":"stop","side":"sell","time_in_force":"day","limit_price":null,"stop_price":"3465.55","status":"new","extended_hours":false,"legs":null,"trail_percent":null,"trail_price":null,"hwm":null}'
  recorded_at: 2021-07-08 14:50:49 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
