http_interactions:
- request:
    method: post
    uri: https://paper-api.alpaca.markets/v2/orders
    body:
      encoding: ''
      string: '{"symbol":"AMZN","qty":"3","side":"buy","type":"market","time_in_force":"day"}'
    headers:
      Content-Type: ''
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"524764cc-885c-4e20-a5f8-67bb7a7f4729","client_order_id":"21f2dde9-bc28-4be8-8b05-c371cfdc18d9","created_at":"2021-07-08T14:50:50.913034Z","updated_at":"2021-07-08T14:50:50.913034Z","submitted_at":"2021-07-08T14:50:50.903012Z","filled_at":null,"expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","symbol":"AMZN","asset_class":"us_equity","notional":null,"qty":"3","filled_qty":"0","filled_avg_price":null,"order_class":"","order_type":"market","type":"market","side":"buy","time_in_force":"day","limit_price":null,"stop_price":null,"status":"accepted","extended_hours":false,"legs":null,"trail_percent":null,"trail_price":null,"hwm":null}'
  recorded_at: 2021-07-08 14:50:51 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/positions/AMZN
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","symbol":"AMZN","exchange":"NASDAQ","asset_class":"us_equity","qty":"4","avg_entry_price":"3648.12","side":"long","market_value":"14592.52","cost_basis":"14592.48","unrealized_pl":"0.04","unrealized_plpc":"0.0000027411379012","unrealized_intraday_pl":"0.04","unrealized_intraday_plpc":"0.0000027411379012","current_price":"3648.13","lastday_price":"3696.58","change_today":"-0.0131067094449464"}'
  recorded_at: 2021-07-08 14:50:51 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: post
    uri: https://paper-api.alpaca.markets/v2/orders
    body:
      encoding: ''
      string: '{"symbol":"AMZN","qty":"1","side":"sell","type":"limit","time_in_force":"day","order_class":"oco","take_profit":{"limit_price":"3757.3885"},"stop_loss":{"stop_price":"3502.032"}}'
    headers:
      Content-Type: ''
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"9ed98df1-b1ed-4330-b1b6-b9c1253b63e9","client_order_id":"1343466e-cdd5-475e-8b14-e294b809d109","[...]
