http_interactions:
- request:
    method: post
    uri: https://paper-api.alpaca.markets/v2/orders
    body:
      encoding: ''
      string: '{"symbol":"AMZN","qty":"2","side":"buy","type":"market","time_in_force":"day","order_class":"bracket","take_profit":{"limit_price":"3830.3475"},"stop_loss":{"limit_price":"3429.073","stop_price":"3465.5525"}}'
    headers:
      Content-Type: ''
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"d3e82ed9-d93b-40b4-88c3-5040bd1af1df","client_order_id":"a5ff877f-1542-4656-adfd-376c6399ee76","created_at":"2021-07-08T14:50:50.197156Z","updated_at":"2021-07-08T14:50:50.20624Z","submitted_at":"2021-07-08T14:50:50.10448Z","filled_at":null,"expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","symbol":"AMZN","asset_class":"us_equity","notional":null,"qty":"2","filled_qty":"0","filled_avg_price":null,"order_class":"bracket","order_type":"market","type":"market","side":"buy","time_in_force":"day","limit_price":null,"stop_price":null,"status":"accepted","extended_hours":false,"legs":[{"id":"6d97b343-ae11-489d-a803-0484b529d7bf","client_order_id":"ac038471-9eec-49b8-aa80-7616cdcddc98","created_at":"2021-07-08T14:50:50.197156Z","updated_at":"2021-07-08T14:50:50.197156Z","submitted_at":"2021-07-08T14:50:50.10448Z","filled_at":null,"expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","symbol":"AMZN","asset_class":"us_equity","notional":null,"qty":"2","filled_qty":"0","filled_avg_price":null,"order_class":"bracket","order_type":"limit","type":"limit","side":"sell","time_in_force":"day","limit_price":"3830.3475","stop_price":null,"status":"held","extended_hours":false,"legs":null,"trail_percent":null,"trail_price":null,"hwm":null},{"id":"ecbf0920-b5bb-4aeb-8050-10027ae37a22","client_order_id":"00fd5247-e25a-4f5a-9ad5-c136b9610822","created_at":"2021-07-08T14:50:50.197156Z","updated_at":"2021-07-08T14:50:50.197156Z","submitted_at":"2021-07-08T14:50:50.10448Z","filled_at":null,"expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","symbol":"AMZN","asset_class":"us_equity","notional":null,"qty":"2","filled_qty":"0","filled_avg_price":null,"order_class":"bracket","order_type":"stop_limit","type":"stop_limit","side":"sell","time_in_force":"day","limit_price":"3429.073","stop_price":"3465.5525","status":"held","extended_hours":false,"legs":null,"trail_percent":null,"trail_price":null,"hwm":null}],"trail_percent":null,"trail_price":null,"hwm":null}'
  recorded_at: 2021-07-08 14:50:49 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
