http_interactions:
- request:
    method: post
    uri: https://paper-api.alpaca.markets/v2/orders
    body:
      encoding: ''
      string: '{"symbol":"BYND","qty":"2","side":"buy","type":"market","time_in_force":"day","order_class":"oto","stop_loss":{"stop_price":"132.24"}}'
    headers:
      Content-Type: ''
      APCA-API-KEY-ID: APCA-PAPER-API-KEY-ID
      APCA-API-SECRET-KEY: APCA-PAPER-API-SECRET-KEY
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"ae61b9e9-c1d0-4148-9584-c21b0d7ea6d9","client_order_id":"8e869315-788b-45ff-9758-ff5deb59dd35","created_at":"2021-01-19T15:20:06.622293Z","updated_at":"2021-01-19T15:20:06.626178Z","submitted_at":"2021-01-19T15:20:06.615046Z","filled_at":null,"expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"317faf0e-4956-4d40-b3eb-3fba8af59dca","symbol":"BYND","asset_class":"us_equity","qty":"2","filled_qty":"0","filled_avg_price":null,"order_class":"oto","order_type":"market","type":"market","side":"buy","time_in_force":"day","limit_price":null,"stop_price":null,"status":"accepted","extended_hours":false,"legs":[{"id":"4d306d56-6171-4921-a5d9-88172b999f4b","client_order_id":"835c5ad9-bab6-4ca3-bb0a-27a996b98068","created_at":"2021-01-19T15:20:06.622293Z","updated_at":"2021-01-19T15:20:06.622293Z","submitted_at":"2021-01-19T15:20:06.615046Z","filled_at":null,"expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"317faf0e-4956-4d40-b3eb-3fba8af59dca","symbol":"BYND","asset_class":"us_equity","qty":"2","filled_qty":"0","filled_avg_price":null,"order_class":"oto","order_type":"stop","type":"stop","side":"sell","time_in_force":"day","limit_price":null,"stop_price":"132.24","status":"held","extended_hours":false,"legs":null,"trail_percent":null,"trail_price":null,"hwm":null}],"trail_percent":null,"trail_price":null,"hwm":null}'
  recorded_at: 2021-01-19 15:20:06 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
