http_interactions:
- request:
    method: patch
    uri: https://paper-api.alpaca.markets/v2/orders/60c2d284-7b9f-432b-90cf-4acd80c33776
    body:
      encoding: ''
      string: '{"qty":"1","time_in_force":"day","stop_price":"3311.7855"}'
    headers:
      Content-Type: ''
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"b493edad-a23b-4aaa-b5d9-a7c5f36f0f2a","client_order_id":"794cac42-1e48-4c2f-a77c-7f54f7861d0b","created_at":"2021-06-17T18:17:03.289635Z","updated_at":"2021-06-17T18:17:08.072150313Z","submitted_at":"2021-06-17T18:17:08.071985481Z","filled_at":null,"expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":"60c2d284-7b9f-432b-90cf-4acd80c33776","asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","symbol":"AMZN","asset_class":"us_equity","notional":null,"qty":"1","filled_qty":"0","filled_avg_price":null,"order_class":"","order_type":"stop","type":"stop","side":"sell","time_in_force":"day","limit_price":null,"stop_price":"3311.78","status":"new","extended_hours":false,"legs":null,"trail_percent":null,"trail_price":null,"hwm":null}'
  recorded_at: 2021-06-17 18:17:07 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
