http_interactions:
- request:
    method: post
    uri: https://paper-api.alpaca.markets/v2/orders
    body:
      encoding: ''
      string: '{"symbol":"BYND","qty":"2","side":"buy","type":"market","time_in_force":"day","order_class":"oto","stop_loss":{"stop_price":"145.3536"}}'
    headers:
      Content-Type: ''
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"fee1743d-fd29-4535-b157-f7d24e92d21e","client_order_id":"297d135a-b797-43cd-9915-3ce782b34e6a","created_at":"2021-06-17T18:17:16.687274Z","updated_at":"2021-06-17T18:17:16.692618Z","submitted_at":"2021-06-17T18:17:16.680088Z","filled_at":null,"expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"317faf0e-4956-4d40-b3eb-3fba8af59dca","symbol":"BYND","asset_class":"us_equity","notional":null,"qty":"2","filled_qty":"0","filled_avg_price":null,"order_class":"oto","order_type":"market","type":"market","side":"buy","time_in_force":"day","limit_price":null,"stop_price":null,"status":"accepted","extended_hours":false,"legs":[{"id":"40bb8e58-4e0a-4cc9-b7c4-c4736964a171","client_order_id":"c880282b-1356-47ee-8ffa-7f81472fe5e4","created_at":"2021-06-17T18:17:16.687274Z","updated_at":"2021-06-17T18:17:16.687274Z","submitted_at":"2021-06-17T18:17:16.680088Z","filled_at":null,"expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"317faf0e-4956-4d40-b3eb-3fba8af59dca","symbol":"BYND","asset_class":"us_equity","notional":null,"qty":"2","filled_qty":"0","filled_avg_price":null,"order_class":"oto","order_type":"stop","type":"stop","side":"sell","time_in_force":"day","limit_price":null,"stop_price":"145.3536","status":"held","extended_hours":false,"legs":null,"trail_percent":null,"trail_price":null,"hwm":null}],"trail_percent":null,"trail_price":null,"hwm":null}'
  recorded_at: 2021-06-17 18:17:16 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
