http_interactions:
- request:
    method: post
    uri: https://paper-api.alpaca.markets/v2/orders
    body:
      encoding: ''
      string: '{"symbol":"AMZN","qty":"2","side":"buy","type":"market","time_in_force":"day","order_class":"bracket","take_profit":{"limit_price":"3660.3945"},"stop_loss":{"limit_price":"3276.9246","stop_price":"3311.7855"}}'
    headers:
      Content-Type: ''
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"9af6d94a-ca3b-41cc-8228-a6e9e493c129","client_order_id":"4ee00fe0-c4f6-446c-89b6-bb88411cd76f","created_at":"2021-06-17T18:17:08.571007Z","updated_at":"2021-06-17T18:17:08.578671Z","submitted_at":"2021-06-17T18:17:08.560464Z","filled_at":null,"expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","symbol":"AMZN","asset_class":"us_equity","notional":null,"qty":"2","filled_qty":"0","filled_avg_price":null,"order_class":"bracket","order_type":"market","type":"market","side":"buy","time_in_force":"day","limit_price":null,"stop_price":null,"status":"accepted","extended_hours":false,"legs":[{"id":"925de5b9-589b-43b0-99c3-958f01c69381","client_order_id":"8c44b498-d7d6-4e90-b7d6-e8d66339c366","created_at":"2021-06-17T18:17:08.571007Z","updated_at":"2021-06-17T18:17:08.571007Z","submitted_at":"2021-06-17T18:17:08.560464Z","filled_at":null,"expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","symbol":"AMZN","asset_class":"us_equity","notional":null,"qty":"2","filled_qty":"0","filled_avg_price":null,"order_class":"bracket","order_type":"limit","type":"limit","side":"sell","time_in_force":"day","limit_price":"3660.3945","stop_price":null,"status":"held","extended_hours":false,"legs":null,"trail_percent":null,"trail_price":null,"hwm":null},{"id":"fe36067f-0db9-4ca3-b7f8-db84b2ec6328","client_order_id":"cac85c98-509b-4f10-b1b1-f5fa020f87f9","created_at":"2021-06-17T18:17:08.571007Z","updated_at":"2021-06-17T18:17:08.571007Z","submitted_at":"2021-06-17T18:17:08.560464Z","filled_at":null,"expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","symbol":"AMZN","asset_class":"us_equity","notional":null,"qty":"2","filled_qty":"0","filled_avg_price":null,"order_class":"bracket","order_type":"stop_limit","type":"stop_limit","side":"sell","time_in_force":"day","limit_price":"3276.9246","stop_price":"3311.7855","status":"held","extended_hours":false,"legs":null,"trail_percent":null,"trail_price":null,"hwm":null}],"trail_percent":null,"trail_price":null,"hwm":null}'
  recorded_at: 2021-06-17 18:17:08 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
