http_interactions:
- request:
    method: post
    uri: https://paper-api.alpaca.markets/v2/orders
    body:
      encoding: ''
      string: '{"symbol":"BYND","qty":"2","side":"buy","type":"market","time_in_force":"day","order_class":"oto","stop_loss":{"stop_price":"135.2352"}}'
    headers:
      Content-Type: ''
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"50719434-384b-4157-b736-2f783f7fe855","client_order_id":"f71553cf-c1f2-4330-873b-9f49988278e0","created_at":"2021-07-08T14:50:54.933733Z","updated_at":"2021-07-08T14:50:54.940609Z","submitted_at":"2021-07-08T14:50:54.921489Z","filled_at":null,"expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"317faf0e-4956-4d40-b3eb-3fba8af59dca","symbol":"BYND","asset_class":"us_equity","notional":null,"qty":"2","filled_qty":"0","filled_avg_price":null,"order_class":"oto","order_type":"market","type":"market","side":"buy","time_in_force":"day","limit_price":null,"stop_price":null,"status":"accepted","extended_hours":false,"legs":[{"id":"a8f0d430-6ad4-42b8-b482-26649e554955","client_order_id":"ca04a6b0-dfd6-4ac6-84f8-cf7e40ba55fd","created_at":"2021-07-08T14:50:54.933733Z","updated_at":"2021-07-08T14:50:54.933733Z","submitted_at":"2021-07-08T14:50:54.921489Z","filled_at":null,"expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"317faf0e-4956-4d40-b3eb-3fba8af59dca","symbol":"BYND","asset_class":"us_equity","notional":null,"qty":"2","filled_qty":"0","filled_avg_price":null,"order_class":"oto","order_type":"stop","type":"stop","side":"sell","time_in_force":"day","limit_price":null,"stop_price":"135.2352","status":"held","extended_hours":false,"legs":null,"trail_percent":null,"trail_price":null,"hwm":null}],"trail_percent":null,"trail_price":null,"hwm":null}'
  recorded_at: 2021-07-08 14:50:54 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
