http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v1/last_quote/stocks/AMZN?apiKey=APCA-LIVE-API-KEY-ID
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"last":{"askexchange":11,"askprice":3107.5,"asksize":1,"bidexchange":9,"bidprice":3105.26,"bidsize":1,"timestamp":1611069594095},"request_id":"989a9eea98f70bc5396e9e08ff7d112e","status":"success","symbol":"AMZN"}'
  recorded_at: 2021-01-19 15:19:53 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
