http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/positions/AMZN
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","symbol":"AMZN","exchange":"NASDAQ","asset_class":"us_equity","qty":"2","avg_entry_price":"3648.11","side":"long","market_value":"7295.72","cost_basis":"7296.22","unrealized_pl":"-0.5","unrealized_plpc":"-0.0000685286353756","unrealized_intraday_pl":"-0.5","unrealized_intraday_plpc":"-0.0000685286353756","current_price":"3647.86","lastday_price":"3696.58","change_today":"-0.0131797499310173"}'
  recorded_at: 2021-07-08 14:50:44 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
