http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/positions/AMZN
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","symbol":"AMZN","exchange":"NASDAQ","asset_class":"us_equity","qty":"9","avg_entry_price":"3485.0466666666666667","side":"long","market_value":"31367.25","cost_basis":"31365.42","unrealized_pl":"1.83","unrealized_plpc":"0.0000583445080602","unrealized_intraday_pl":"1.83","unrealized_intraday_plpc":"0.0000583445080602","current_price":"3485.25","lastday_price":"3415.25","change_today":"0.0204963033452895"}'
  recorded_at: 2021-06-17 18:17:02 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
