http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/orders?status=all&direction=desc&nested=TRUE
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":"9aa758d1-e980-40fd-95ac-eece1acd0136","client_order_id":"25a27ea6-627c-441f-991a-6bb7366179a0","created_at":"2021-06-17T18:16:58.153932Z","updated_at":"2021-06-17T18:16:58.27745Z","submitted_at":"2021-06-17T18:16:58.144184Z","filled_at":"2021-06-17T18:16:58.181548Z","expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","symbol":"AMZN","asset_class":"us_equity","notional":null,"qty":"2","filled_qty":"2","filled_avg_price":"3486","order_class":"","order_type":"market","type":"market","side":"buy","time_in_force":"day","limit_price":null,"stop_price":null,"status":"filled","extended_hours":false,"legs":null,"trail_percent":null,"trail_price":null,"hwm":null},{"id":"5175e23f-8528-420c-b7fc-e366cff0ec6e","client_order_id":"be581c68-35d9-4069-aaa3-a798cc2ca160","created_at":"2021-06-17T18:15:01.796826Z","updated_at":"2021-06-17T18:15:02.098104Z","submitted_at":"2021-06-17T18:15:01.787149Z","filled_at":"2021-06-17T18:15:01.833994Z","expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"317faf0e-4956-4d40-b3eb-3fba8af59dca","symbol":"BYND","asset_class":"us_equity","notional":null,"qt[...]
