http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/orders?status=all&direction=desc&nested=TRUE
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-API-KEY-ID
      APCA-API-SECRET-KEY: APCA-PAPER-API-SECRET-KEY
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":"fd1d6cca-1290-4f43-abd1-5a14075f48e6","client_order_id":"d688f768-14a5-4509-8184-3037fc06f3ae","created_at":"2021-01-19T15:19:47.742021Z","updated_at":"2021-01-19T15:19:47.985881Z","submitted_at":"2021-01-19T15:19:47.735602Z","filled_at":"2021-01-19T15:19:47.975116Z","expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","symbol":"AMZN","asset_class":"us_equity","qty":"2","filled_qty":"2","filled_avg_price":"3107.5","order_class":"","order_type":"market","type":"market","side":"buy","time_in_force":"day","limit_price":null,"stop_price":null,"status":"filled","extended_hours":false,"legs":null,"trail_percent":null,"trail_price":null,"hwm":null},{"id":"8b26596f-8c1a-4c8e-8f3b-58c0207a0477","client_order_id":"50f88987-2c5a-44df-b81b-a21c2cf3f1cf","created_at":"2021-01-10T20:40:32.878628Z","updated_at":"2021-01-11T14:32:21.611645Z","submitted_at":"2021-01-10T20:40:32.876883Z","filled_at":"2021-01-11T14:30:38.091823Z","expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","symbol":"AMZN","asset_class":"us_equity","qty":"59","filled_[...]
