http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/orders?status=all&direction=desc&nested=TRUE
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":"f96f132b-3c28-4e24-ac01-0e6f38e26698","client_order_id":"7f6f03e6-01e3-44ad-8fd9-01297893e940","created_at":"2021-07-08T14:50:42.061988Z","updated_at":"2021-07-08T14:50:42.251317Z","submitted_at":"2021-07-08T14:50:42.051508Z","filled_at":"2021-07-08T14:50:42.173649Z","expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","symbol":"AMZN","asset_class":"us_equity","notional":null,"qty":"2","filled_qty":"2","filled_avg_price":"3648.11","order_class":"","order_type":"market","type":"market","side":"buy","time_in_force":"day","limit_price":null,"stop_price":null,"status":"filled","extended_hours":false,"legs":null,"trail_percent":null,"trail_price":null,"hwm":null},{"id":"b0ab3cb0-ff85-4ef9-9838-20e087951ec7","client_order_id":"32a9dadd-d6cb-439c-ab12-a59cd01e9d81","created_at":"2021-07-06T18:31:07.209966Z","updated_at":"2021-07-06T18:31:07.331565Z","submitted_at":"2021-07-06T18:31:07.207054Z","filled_at":"2021-07-06T18:31:07.272942Z","expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"317faf0e-4956-4d40-b3eb-3fba8af59dca","symbol":"BYND","asset_class":"us_equity","notional":null,"qt[...]
