http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/positions/AMZN
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-API-KEY-ID
      APCA-API-SECRET-KEY: APCA-PAPER-API-SECRET-KEY
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","symbol":"AMZN","exchange":"NASDAQ","asset_class":"us_equity","qty":"7","avg_entry_price":"3107.1742857142857143","side":"long","market_value":"21739.76","cost_basis":"21750.22","unrealized_pl":"-10.46","unrealized_plpc":"-0.0004809146758056","unrealized_intraday_pl":"-10.46","unrealized_intraday_plpc":"-0.0004809146758056","current_price":"3105.68","lastday_price":"3104.25","change_today":"0.0004606587742611"}'
  recorded_at: 2021-01-19 15:20:00 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
- request:
    method: post
    uri: https://paper-api.alpaca.markets/v2/orders
    body:
      encoding: ''
      string: '{"symbol":"AMZN","qty":"1","side":"sell","type":"trailing_stop","time_in_force":"day","trail_price":"10"}'
    headers:
      Content-Type: ''
      APCA-API-KEY-ID: APCA-PAPER-API-KEY-ID
      APCA-API-SECRET-KEY: APCA-PAPER-API-SECRET-KEY
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"fc7ac576-5c3a-4bc8-87ea-6523db065cdc","client_order_id":"fd4a32c0-30af-47f6-bc72-8b2f1667a6e0","created_at":"2021-01-19T15:20:00.911189Z","updated_at":"2021-01-19T15:20:00.914078Z","submitted_at":"2021-01-19T15:20:00.905852Z","filled_at":null,"expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","symbol":"AMZN","asset_class":"us_equity","qty":"1","filled_qty":"0","filled_avg_price":null,"order_class":"","order_type":"trailing_stop","type":"trailing_stop","side":"sell","time_in_force":"day","limit_price":null,"stop_price":"3095.68","status":"new","extended_hours":false,"legs":null,"trail_percent":null,"trail_price":"10","hwm":"3105.68"}'
  recorded_at: 2021-01-19 15:20:00 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
