http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/positions/AMZN
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","symbol":"AMZN","exchange":"NASDAQ","asset_class":"us_equity","qty":"14","avg_entry_price":"3485.3871428571428571","side":"long","market_value":"48793.5","cost_basis":"48795.42","unrealized_pl":"-1.92","unrealized_plpc":"-0.0000393479551974","unrealized_intraday_pl":"-1.92","unrealized_intraday_plpc":"-0.0000393479551974","current_price":"3485.25","lastday_price":"3415.25","change_today":"0.0204963033452895"}'
  recorded_at: 2021-06-17 18:17:11 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: post
    uri: https://paper-api.alpaca.markets/v2/orders
    body:
      encoding: ''
      string: '{"symbol":"AMZN","qty":"1","side":"sell","type":"trailing_stop","time_in_force":"day","trail_price":"10"}'
    headers:
      Content-Type: ''
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"e348640d-bed5-4dbb-a3e8-9328e73829e9","client_order_id":"3d529df2-3f5c-4649-8e7f-52afad9eda6f","created_at":"2021-06-17T18:17:11.620465Z","updated_at":"2021-06-17T18:17:11.625185Z","submitted_at":"2021-06-17T18:17:11.618345Z","filled_at":null,"expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","symbol":"AMZN","asset_class":"us_equity","notional":null,"qty":"1","filled_qty":"0","filled_avg_price":null,"order_class":"","order_type":"trailing_stop","type":"trailing_stop","side":"sell","time_in_force":"day","limit_price":null,"stop_price":"3475.245","status":"new","extended_hours":false,"legs":null,"trail_percent":null,"trail_price":"10","hwm":"3485.245"}'
  recorded_at: 2021-06-17 18:17:11 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
