http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/positions/AMZN
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","symbol":"AMZN","exchange":"NASDAQ","asset_class":"us_equity","qty":"7","avg_entry_price":"3648.1242857142857143","side":"long","market_value":"25536.91","cost_basis":"25536.87","unrealized_pl":"0.04","unrealized_plpc":"0.0000015663626748","unrealized_intraday_pl":"0.04","unrealized_intraday_plpc":"0.0000015663626748","current_price":"3648.13","lastday_price":"3696.58","change_today":"-0.0131067094449464"}'
  recorded_at: 2021-07-08 14:50:51 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: post
    uri: https://paper-api.alpaca.markets/v2/orders
    body:
      encoding: ''
      string: '{"symbol":"AMZN","qty":"1","side":"sell","type":"trailing_stop","time_in_force":"day","trail_percent":"5"}'
    headers:
      Content-Type: ''
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"7dc4eed4-629b-4662-a182-a9d98dc1c9c4","client_order_id":"f894adbd-d9aa-455e-9e32-8a3cdfddf664","created_at":"2021-07-08T14:50:52.281127Z","updated_at":"2021-07-08T14:50:52.28649Z","submitted_at":"2021-07-08T14:50:52.277765Z","filled_at":null,"expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"f801f835-bfe6-4a9d-a6b1-ccbb84bfd75f","symbol":"AMZN","asset_class":"us_equity","notional":null,"qty":"1","filled_qty":"0","filled_avg_price":null,"order_class":"","order_type":"trailing_stop","type":"trailing_stop","side":"sell","time_in_force":"day","limit_price":null,"stop_price":"3465.723405","status":"new","extended_hours":false,"legs":null,"trail_percent":"5","trail_price":null,"hwm":"3648.1299"}'
  recorded_at: 2021-07-08 14:50:51 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
