http_interactions:
- request:
    method: delete
    uri: https://paper-api.alpaca.markets/v2/orders/7dc4eed4-629b-4662-a182-a9d98dc1c9c4
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 204
      category: Success
      reason: No Content
      message: 'Success: (204) No Content'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: ''
  recorded_at: 2021-07-08 14:50:52 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: delete
    uri: https://paper-api.alpaca.markets/v2/positions/LSF
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 404
      category: Client error
      reason: Not Found
      message: 'Client error: (404) Not Found'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"code":40410000,"message":"position does not exist"}'
  recorded_at: 2021-07-08 14:50:52 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: post
    uri: https://paper-api.alpaca.markets/v2/orders
    body:
      encoding: ''
      string: '{"symbol":"LSF","qty":"1","side":"sell","type":"trailing_stop","time_in_force":"day","trail_price":"5"}'
    headers:
      Content-Type: ''
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"d6e2d078-6a51-4394-831d-b7b0f39bb5fd","client_order_id":"aab5395b-0cb4-4530-b723-3dc81c6e76a9","created_at":"2021-07-08T14:50:53.156118Z","updated_at":"2021-07-08T14:50:53.160872Z","submitted_at":"2021-07-08T14:50:53.144167Z","filled_at":null,"expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"90d56464-95e4-4d1e-849f-7520864df60f","symbol":"LSF","asset_class":"us_equity","notional":null,"qty":"1","filled_qty":"0","filled_avg_price":null,"order_class":"","order_type":"trailing_stop","type":"trailing_stop","side":"sell","time_in_force":"day","limit_price":null,"stop_price":"24.27","status":"new","extended_hours":false,"legs":null,"trail_percent":null,"trail_price":"5","hwm":"29.27"}'
  recorded_at: 2021-07-08 14:50:52 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
