http_interactions:
- request:
    method: delete
    uri: https://paper-api.alpaca.markets/v2/orders/5e8bb249-e84b-4afd-9566-392ba5c0f082
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
      APCA-API-KEY-ID: APCA-PAPER-API-KEY-ID
      APCA-API-SECRET-KEY: APCA-PAPER-API-SECRET-KEY
  response:
    status:
      status_code: 204
      category: Success
      reason: No Content
      message: 'Success: (204) No Content'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: ''
  recorded_at: 2021-01-19 15:20:04 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
- request:
    method: delete
    uri: https://paper-api.alpaca.markets/v2/positions/LSF
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
      APCA-API-KEY-ID: APCA-PAPER-API-KEY-ID
      APCA-API-SECRET-KEY: APCA-PAPER-API-SECRET-KEY
  response:
    status:
      status_code: 404
      category: Client error
      reason: Not Found
      message: 'Client error: (404) Not Found'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"code":40410000,"message":"position does not exist"}'
  recorded_at: 2021-01-19 15:20:04 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
- request:
    method: post
    uri: https://paper-api.alpaca.markets/v2/orders
    body:
      encoding: ''
      string: '{"symbol":"LSF","qty":"1","side":"buy","type":"trailing_stop","time_in_force":"day","trail_price":"5"}'
    headers:
      Content-Type: ''
      APCA-API-KEY-ID: APCA-PAPER-API-KEY-ID
      APCA-API-SECRET-KEY: APCA-PAPER-API-SECRET-KEY
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"9067a948-bc8b-4414-a4c2-ec78402938a3","client_order_id":"01600a70-b50c-49f0-b95c-b9c6d27c9b77","created_at":"2021-01-19T15:20:05.087438Z","updated_at":"2021-01-19T15:20:05.091294Z","submitted_at":"2021-01-19T15:20:05.08094Z","filled_at":null,"expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"90d56464-95e4-4d1e-849f-7520864df60f","symbol":"LSF","asset_class":"us_equity","qty":"1","filled_qty":"0","filled_avg_price":null,"order_class":"","order_type":"trailing_stop","type":"trailing_stop","side":"buy","time_in_force":"day","limit_price":null,"stop_price":"49","status":"new","extended_hours":false,"legs":null,"trail_percent":null,"trail_price":"5","hwm":"44"}'
  recorded_at: 2021-01-19 15:20:04 GMT
  recorded_with: vcr/0.6.0.93, webmockr/0.7.4
