http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/clock
    body:
      encoding: ''
      string: ''
    headers:
      APCA-API-KEY-ID: APCA-PAPER-KEY
      APCA-API-SECRET-KEY: APCA-PAPER-SECRET
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"timestamp":"2021-05-30T09:09:24.634169784-04:00","is_open":false,"next_open":"2021-06-01T09:30:00-04:00","next_close":"2021-06-01T16:00:00-04:00"}'
  recorded_at: 2021-05-30 13:09:24 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
